<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
<body style="color:#222; font-size:16px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;">
  <div>
    <h3>Employment Application for <%= @review.employment_application.firstname + " " + @review.employment_application.lastname %></h3>

    <p>Submitted on: <b><%= @review.employment_application.created_at.strftime("%B %d, %Y") %></b></p>
    
    
    <p>
      Applied for: <b><%= @review.department.gsub("_"," ").titleize %></b>
    </p>
    
   
    <p>
      At <b><%= @review.location.gsub("_"," ").titleize %></b>
    </p>
    
    <h4><%= link_to "View Application Review", employment_application_url(@review)%></h4>
    
    <%= link_to "View ALL Applications", employment_applications_url %>

  </div>
</body>
</html>