<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-center">
    <div class="columns small-10">
      <div class="row align-center">
        <div class="columns small-12 large-12">
          <%= render partial: 'helper_fields/text', locals: {form: f, field: :title} %>
        </div>
      </div>
      
      <div class="row align-center">
        <div class="columns small-12 large-12">
          <%= render partial: 'helper_fields/text', locals: {form: f, field: :video, label: "Video URL"} %>
        </div>
      </div>
      
      <div class="row align-center">
        <div class="columns small-12 large-12">
          <%= render partial: 'helper_fields/text', locals: {form: f, field: :activities} %>
        </div>
      </div>
      
      <div class="row align-center">
        <div class="columns large-6 ">
          <%= render partial: 'helper_fields/color_picker', locals: {form: f, field: :color, label: "Bar Color"} %>
        </div>
        <div class="columns large-6 ">
          <%= render partial: 'helper_fields/number', locals: {form: f, field: :sort_order, label: "Order"} %>
        </div>
      </div>
      
      <div class="row align-center" style="margin-bottom: 50px;">
        <div class="columns small-12">
          <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :description, height: 300} %>
        </div>
      </div>
    
      <div class="row align-center" style="margin: 50px 0;">
        <div class="columns small-10 large-4">
          <%= f.submit class: "button expanded" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
