<% given_title = "Parties" %>
<% given_bubbles = [204,3] %>

<% if defined? given_title %>
  <% content_for :title do %>
    <%= given_title %>
  <% end %>
<% end %>

<% if defined? given_bubbles %>
  <% update_bubbles(given_bubbles) %>
<% end %>

<div class="row">
  <div class="columns large-12">
    <h1><%= given_title %></h1>

    <p><%= "Come join us for your party!!!" * 20 %></p>

    <h2 style="text-align:center;font-size: 22px; margin-top:25px;">Click on a Party Name for details</h2>
    
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <% @parties.each do |party| %>
        <%= render partial: 'show', locals: {party: party} %>
      <% end %>
    </ul>
  </div>
</div>

<div class="reveal fast large" style="z-index: 1010" id="schedule_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
  <div class="row align-center">
    <h1>Available Party Times</h1>
  </div>
  
  <% locations = {"Granite_Bay" => "GB", "Folsom" => "FOL", "Sacramento" => "SAC"} %>
  <div class="row align-center" style="margin-bottom: 15px;">
    <% locations.each do |loc| %>
      <div class="columns small-3">
        <%= link_to loc[0].gsub("_"," "), 'javascript:void(0);', class: "button expanded location-button", id: loc[1] %>
      </div>
    <% end %>
  </div>
  
  <div class="row align-center">
    <div class="columns small-11">
      <% locations.each do |loc| %>
        <div class="location-schedule-pdf" id="<%= loc[1] %>">
          <h3>Sorry, there is no schedule uploaded yet for this program and location</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>