<div class="row align-center">
  <div class="columns small-12 large-10">
    <h1><%= @party.title %> <%= if can? :manage, Camp then ("(" + (link_to 'Edit', edit_party_path(@party)) + ")").html_safe end  %></h1>
  </div>
</div>
<% if !@party.video.empty? %>
  <% video =
    '<div class="row align-center">
      <div class="columns small-12 large-6">
    		<div class="flex-video">
    			<iframe src="https://www.youtube.com/embed/' + @party.video.split('/').last + '" frameborder="0" allowfullscreen></iframe>
    		</div>
      </div>
    </div>'
  %>
<% else %>
  <% video = "" %>
<% end %>

<% if !@party.description.include? '[VIDEO]' %>
  <%= video.html_safe %>
<% end %>

<div class="row align-center">
  <div class="columns small-12 large-10">
    <%= @party.description.sub('[VIDEO]', video).html_safe %>
  </div>
</div>
<div class="row align-spaced">
  <% if !@party.image.url.nil? %>
    <div class="columns large-4 small-11">
      <%= image_tag @party.image_url %>
    </div>
  <% end %>
  <% if !@party.image2.url.nil? %>
    <div class="columns large-4 small-11">
      <%= image_tag @party.image2_url %>
    </div>
  <% end %>
  <% if !@party.image3.url.nil? %>
    <div class="columns large-4 small-11">
      <%= image_tag @party.image3_url %>
    </div>
  <% end %>
</div>