


<%= form_for(@discontinue_notice) do |f| %>
  <% if @discontinue_notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discontinue_notice.errors.count, "error") %> prohibited this discontinue_notice from being saved:</h2>

      <ul>
      <% @discontinue_notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="row">
    <div class="columns medium-12 small-12">
      <%= f.label :reason, "Reason for Discontinuing", class: "input-group-label" %>
      <%= f.text_area :reason, required: true, placeholder: "Please be helpful", maxlength: 255, style: "height: 120px" %>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-6 small-12">
      <div class=" input-group">
        <%= f.label :student_first_name, "First Name", class: "input-group-label" %>
        <%= f.text_field :student_first_name, required: true, placeholder: "Student First Name", class: "input-group-field" %>
      </div>
    </div>
    <div class="columns medium-6 small-12">
      <div class="input-group">
        <%= f.label :student_last_name, "Last Name", class: "input-group-label" %>
        <%= f.text_field :student_last_name, required: true, placeholder: "Student Last Name", class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns medium-6 small-12">
      <div class=" input-group">
        <%= f.label :location, class: "input-group-label" %>
        <%= f.select :location, DiscontinueNotice::LOCATIONS, {:prompt => "Select a Location"}, required: true, class: "input-group-field" %>
      </div>
    </div>
    <div class="columns medium-6 small-12">
      <div class="input-group">
        <%= f.label :parent_name, "Parent Name", class: "input-group-label" %>
        <%= f.text_field :parent_name, required: true, class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns medium-6 small-12">
      <div class=" input-group">
        <%= f.label :class_day, "Class Day", class: "input-group-label" %>
        <%= f.select :class_day, DiscontinueNotice::DAYS, {:prompt => "Select a Day"}, required: true, class: "input-group-field" %>
      </div>
    </div>
    <div class="columns medium-6 small-12">
      <div class="input-group">
        <%= f.label :class_time, "Class Time", class: "input-group-label" %>
        <%= f.text_field :class_time, type: "time", required: true, class: "input-group-field", style: "padding: 5px 0.5rem" %>
      </div>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="columns medium-6 small-12">
      <div class=" input-group">
        <%= f.label :last_day, "Last Day of Class", class: "input-group-label" %>
        <%= f.text_field :last_day, id: 'last_day_date', class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  
 
  <div class="row">
    <div class="columns shrink">
      <%= f.check_box :understood, required: true %>
    </div>
    <div class="columns">
      <%= f.label :understood, "I understand that my account must be at a zero (0) balance and that make-ups can only be used on an enrolled family member." %>
    </div>
  </div>
  
  <div class="actions" style="margin-top: 50px;">
    <%= f.submit "Submit Notice", class: "button expanded" %>
  </div>
<% end %>
