


<%= form_for(@discontinue_notice) do |f| %>
  <% if @discontinue_notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discontinue_notice.errors.count, "error") %> prohibited this discontinue_notice from being saved:</h2>

      <ul>
      <% @discontinue_notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="row">
    <div class="columns large-12 ">
      <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :reason, question: "Reason for Discontinuing", required: true, placeholder: "Please try to be helpful", height: 120, maxlength: 225} %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :student_first_name, label: "First Name", placeholder: "Student First Name", required: true} %>
    </div>
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :student_last_name, label: "Last Name", placeholder: "Student Last Name", required: true} %>
    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/select', locals: {form: f, field: :location, options: DiscontinueNotice::LOCATIONS, prompt: "Select a Location", required: true} %>
    </div>
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :parent_name, label: "Parent Name", required: true} %>
    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/select', locals: {form: f, field: :class_day, options: DiscontinueNotice::DAYS, prompt: "Select a Day", required: true} %>
    </div>
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :class_time, label: "Class Time"} %>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="columns large-6 ">
      <%= render partial: 'helper_fields/date', locals: {form: f, field: :last_day, label: "Last Day of Class"} %>
    </div>
  </div>
  
  <div class="row">
    <div class="columns">
      <%= render partial: 'helper_fields/switch', locals: {form: f, field: :understood, question: "I understand that my account must be at a zero (0) balance and that make-ups can only be used on an enrolled family member.", required: true} %>
    </div>
  </div>
  
  <div class="actions" style="margin-top: 50px; margin-bottom: 150px;">
    <%= f.submit "Submit Notice", class: "button expanded" %>
  </div>
<% end %>
