<div id="form">
  <%= form_for(@promo_slide) do |f| %>
    <% if @promo_slide.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@promo_slide.errors.count, "error") %> prohibited this promo slide from being saved:</h2>

        <ul>
        <% @promo_slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    
    
    <div class="row">
      <div class="columns large-12">
        <div class=" input-group">
          <%= f.label :title, class: "input-group-label" %>
          <%= f.text_field :title, class: "input-group-field" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="columns large-3">
        <div class="input-group">
          <%= f.label :live, class: "input-group-label" %>
          <%= f.check_box :live, style: "margin-left: 15px;", class: "input-group-field", id: "live_check_box" %>
        </div>
      </div>
      <div class="columns large-9" id="order_input">
        <div class="input-group">
          <%= f.label :sort_order, "Order: ", class: "input-group-label" %>
          <% (1..6).each do |i| %>
            <%= f.radio_button :sort_order, i, class: "order_radio_buttons input-group-field", style: "margin-left: 15px" %>
            <%= label_tag(:sort_order, i, style: "margin-right: 20px;") %>
          <% end %>
        </div>
      </div>
    </div>    
      
    <div class="row">
      <div class="columns small-12">
        <div class="input-group">
          <%= f.label :data_type, "Data Type: ", style: "margin-right: 20px;", class: "input-group-label" %>
          <%= f.radio_button :data_type, "image", class: "input-group-field", id: "image_radio_button", style: "margin-left: 15px", checked: true %>
          <%= label_tag(:data_type_image, "Image", style: "margin-right: 20px;") %>
          <%= f.radio_button :data_type, "html", class: "input-group-field", id: "html_radio_button", style: "margin-left: 15px" %>
          <%= label_tag(:data_type_image, "HTML", style: "margin-right: 20px;") %>
        </div>
      </div>
    </div>

    <div class="row align-center" id="data_type_image_box" style="border: 2px dotted #555; padding: 15px 0;">
      <div class="columns small-12"> 
        <div class="input-group">
          <%= f.label :link, class: "input-group-label" %>
          <%= f.check_box :link, class: "input-group-field", id: "link_check_box", style: "margin-left: 15px;" %>   
        </div>
      </div>
      <div class="columns small-12" id="link_path_input"> 
        <b><%= f.label :link_path, "Link Path:" %></b>
        <%= f.text_field :link_path, size: 60 %>
        (ie. www.tricksgym.com/'path goes here')<br>
        Full http paths work as well: http://www.google.com<br><br>
      </div>

      <div class="columns small-6">        
        <% if @promo_slide.image_url == nil %> 
        <% else %>
          <%= image_tag @promo_slide.image_url %>
          <%= f.check_box :remove_image %> Remove Image
        <% end %>
        <%= f.label :image, "Upload Image", class: "button expanded success" %>
        <%= f.file_field :image, class: "show-for-sr" %> 
      </div>
    </div>

    <div class="row align-center" id="html_input_field" style="display:none; border: dotted 2px #555; padding: 15px 0;">
      <div class="columns small-12">
        <p>Please wrap your code in this div tag:<br>&lt;div style="width: 100%; height: 100%; box-shadow: inset 0 0 10px #fff; border-radius: 20px;"&#62;&lt;/div&#62;</p>
        <% if @promo_slide.html_code == nil %>
          <%= f.text_area :html_code, style: "width: 800px; height: 300px;", value: '<div style="width: 100%; height: 100%; box-shadow: inset 0 0 10px #fff; border-radius: 20px;">

Existing "div" tag is used to place the box correctly in the Promo slide holder. 
Input your code inside this div.

</div>' %>
      <% else %>
        <%= f.text_area :html_code, style: "width: 800px; height: 300px;" %>
      <% end %>
      </div>
    </div>



    <div class="row align-center" style="margin-top: 50px;">
      <div class="columns small-6">
        <%= f.submit class: "button expanded" %>
      </div>
    </div>
  <% end %>
</div>