<div id="form">
  <%= form_for(@promo_slide) do |f| %>
    <% if @promo_slide.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@promo_slide.errors.count, "error") %> prohibited this promo slide from being saved:</h2>

        <ul>
        <% @promo_slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    
    
    <div class="row">
      <div class="columns large-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :title} %>
      </div>
    </div>
    
    <div class="row">
      <div class="columns large-3">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :live} %>
      </div>
      <div class="columns large-9" id="order_input">
        <%= render partial: 'helper_fields/radio_buttons', locals: {form: f, field: :sort_order, array: (1..6)} %>
      </div>
    </div>
    
    <div class="row">
      <div class="columns small-12">
        <%= render partial: 'helper_fields/radio_buttons', locals: {form: f, field: :data_type, array: {image: "Image", html: "HTML"}} %>
      </div>
    </div>

    <div class="row" id="data_type_image_box" style="margin-top: 30px;">
      <div class="columns small-6 large-4">
        <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image, image: @promo_slide.image} %>
      </div>
      
      <div class="columns small-12 large-3"> 
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :link} %>
      </div>
      
      <div class="columns small-12 large-5" id="link_path_input"> 
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :link_path, label: "Link Path"} %>
        (ie. www.tricksgym.com/'path goes here')<br>
        Full http paths work as well: http://www.google.com<br><br>
      </div>
    </div>

    <div class="row align-center" id="html_input_field" style="display:none;">
      <div class="columns small-12" >
        <div style="border: dotted 2px #555; padding: 5px 15px;">
          <p>Please wrap your code in this div tag:<br>&lt;div style="width: 100%; height: 100%; box-shadow: inset 0 0 10px #fff; border-radius: 20px;"&#62;&lt;/div&#62;</p>
          <% if @promo_slide.html_code == nil %>
            <%= f.text_area :html_code, style: "width: 800px; height: 300px;", value: '<div style="width: 100%; height: 100%; box-shadow: inset 0 0 10px #fff; border-radius: 20px;">
  
  Existing "div" tag is used to place the box correctly in the Promo slide holder. 
  Input your code inside this div.
  
  </div>' %>
          <% else %>
            <%= f.text_area :html_code, style: "width: 800px; height: 300px;" %>
          <% end %>
        </div>
      </div>
    </div>



    <div class="row align-center" style="margin-top: 80px;">
      <div class="columns small-6">
        <%= f.submit class: "button expanded" %>
      </div>
    </div>
  <% end %>
</div>