<h1>Listing Promo Slides</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Live</th>
    <th>Data type</th>
    <th>Image</th>
    <th>Html code</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promo_slides.each do |promo_slide| %>
  <tr>
    <td><%= promo_slide.title %></td>
    <td><%= promo_slide.live %></td>
    <td><%= promo_slide.data_type %></td>
    <td><%= promo_slide.image %></td>
    <td><%= promo_slide.html_code %></td>
    <td><%= promo_slide.order %></td>
    <td><%= link_to 'Show', promo_slide %></td>
    <td><%= link_to 'Edit', edit_promo_slide_path(promo_slide) %></td>
    <td><%= link_to 'Destroy', promo_slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promo slide', new_promo_slide_path %>
