<div style="float:left; width: 450px; line-height: 25px; margin: 15px 0px 0px 30px;">

  <b>Title:</b>
  <%= @promo_slide.title %><br>

  <b>Link:</b>
  <% if @promo_slide.link == true %>Yes (<%= @promo_slide.link_path %>)
  <% else %>No
  <% end %><br>

  <b>Live:</b>
  <% if @promo_slide.live == true %>Yes (Order: <%= @promo_slide.sort_order %>)
  <% else %>No
  <% end %><br>

  <b>Data type:</b>
  <%= @promo_slide.data_type %><br>

  <% unless @promo_slide.image_url == nil %>
    <b>Image:</b>
    <%= File.basename(@promo_slide.image.to_s) %><br>
  <% end %>

  <% if @promo_slide.data_type == "html" %>
    <b>Html code:</b>
    <div style="border: solid 1px #444; padding: 8px; margin: 4px; line-height: auto">
      <%= @promo_slide.html_code %>
    </div>
  <% end %>

  <%= link_to 'Edit', edit_promo_slide_path(@promo_slide) %> |
  <%= link_to 'Back', promo_slides_path %>

</div>

<div style="float: right; margin: 20px 50px 0 0; width: 420px;">
  <h2 id="preview_header">Preview</h2>
  <% if @promo_slide.data_type == "html" %>
    <div id="html_inline_show">
      <object class="promo_image">
        <%= render :inline => @promo_slide.html_code %>
      </object>
    </div>
  <% else %>
    <div id="image_show">
      <% if @promo_slide.link == true %>
        <object class="promo_image">
          <%= link_to image_tag(@promo_slide.image_url, alt: @promo_slide.title), @promo_slide.link_path, style: "display:block; cursor: pointer" %>
        </object>           
      <% else %>
        <object class="promo_image">
          <%= image_tag @promo_slide.image_url, alt: @promo_slide.title %>
        </object>
      <% end %>
    </div>
  <% end %>
</div>
