<h1>Log In</h1>
<br>
<%= form_tag sessions_path do %>

	<div class="row align-center">
		<div class="columns small-12 large-6">
		    <div class="row">
		      <div class="columns small-12">
		        <div class=" input-group">
		          <%= label_tag :email, nil, class: "input-group-label" %>
		          <%= text_field_tag :email, params[:email], class: "input-group-field" %>
		        </div>
		      </div>
		    </div>
		    
		    <div class="row">
		      <div class="columns small-12">
		        <div class=" input-group">
		          <%= label_tag :password, nil, class: "input-group-label" %>
		          <%= password_field_tag :password, nil, class: "input-group-field" %>
		        </div>
		      </div>
		    </div>
		    
			<div class="actions">
				<%= submit_tag "Log In", class: "button expanded", style: "margin-top: 40px;" %>
			</div>
		</div>
	</div>

<% end %>