<%= form_for(@world) do |f| %>
  <% if @world.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@world.errors.count, "error") %> prohibited this world from being saved:</h2>

      <ul>
      <% @world.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin: 20px 50px">
    <div class="field">
      <%= f.label :first_name, "First Name" %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Last Name" %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :date, "Date (or best guess)" %><br />
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
