<p>
  <b>Image:</b>
  <%= image_tag @world.image_url(:thumb).to_s, style: "border: 2px solid #333; box-shadow: 0 0 15px #333;" %>
  <%= link_to 'Full Image', @world.image_url.to_s %>
  <%#= link_to 'Full Image', @world.image_url.to_s %>
</p>

<p>
  <b>First name:</b>
  <%= @world.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @world.last_name %>
</p>

<p>
  <b>Location:</b>
  <%= @world.location %>
</p>

<p>
  <b>Date:</b>
  <%= @world.date %>
</p>


<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>
