<% content_for :title do %>
  Tricks Kids Night Out
<% end %>

<div class="row align-justify" style="margin-bottom:100px;">
  
  <div class="column medium-3 small-12" style="border: solid 2px #333; margin: 50px 0;">
    <h3>Register Here!</h3>
    <div class="row align-center">
      <div class="column small-11">
        <%= link_to "Granite Bay", "http://app.jackrabbitclass.com/eventcalendar.asp?&cat2=Date Night&loc=GB&orgid=313983", class: "button expanded", style: "font-size: 20px; padding: 10px;" %>
      </div>
      <div class="column small-11">
        <%= link_to "Folsom", "http://app.jackrabbitclass.com/eventcalendar.asp?&cat2=Date Night&loc=FOL&orgid=313983", class: "button expanded", style: "font-size: 20px; padding: 10px;" %>
      </div>
      <div class="column small-11">
        <%= link_to "Sacramento", "http://app.jackrabbitclass.com/eventcalendar.asp?&cat2=Date Night&loc=SAC&orgid=313983", class: "button expanded", style: "font-size: 20px; padding: 10px;" %>
      </div>
    </div>
    
    <div class="row">
      <div class="column small-3">
        <h5>Time:</h5>
      </div>
      <div class="column small-9">
        <h5 style="text-align:right;"><%= @datenight.when_time %></h5>
      </div>
    </div>
    
    <div class="row">
      <div class="column small-3">
        <h5>Price:</h5>
      </div>
      <div class="column small-9">
        <h5 style="text-align:right; margin-bottom:0;">$<%= @datenight.single_price %> for first child</h5>
        <h5 style="text-align:right;">$<%= @datenight.sibling_price %> for siblings</h5>
      </div>
    </div>
    
    <div class="row" style="margin-top: 30px;">
      <div class="column small-12">
        <h3><%= @datenight.schedule_title %> Schedule:</h3>
      </div>
    </div>
    
    <div class="row">
      <div class="column small-12">
        <% @datenight.datenight_events.each do |d| %>
          <div class="row align-center">
            <div class="column small-12">
              <h6 style="text-decoration: underline; margin: 0;"><%= d.title %></h6>
              <p><i><%= d.description %></i></p>
            </div>
            <div class="column small-12">
              <div class="row">
                <div class="column small-5">
                  Granite Bay:
                </div>
                <div class="column small-7" style="text-align:right;">
                  <%= d.gb_date.strftime("%A, %B %e") %>
                </div>
              </div>
              <div class="row">
                <div class="column small-6">
                  Folsom:
                </div>
                <div class="column small-6" style="text-align:right;">
                  <%= d.fol_date.strftime("%A, %B %e") %>
                </div>
              </div>
              <div class="row">
                <div class="column small-6">
                  Sacramento:
                </div>
                <div class="column small-6" style="text-align:right;">
                  <%= d.sac_date.strftime("%A, %B %e") %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if can? :manage, Datenight %>
      <div class="row align-center" style="margin-top: 30px;">
        <div class="column small-10">
          <%= link_to "Edit Page", datenights_edit_path, class: "button expanded" %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="column medium-9 small-12" style="padding: 0 30px;">
    <div class="row">
      <div class="column small-12">
        <h1>Kids Night Out</h1>
        <p style="font-size: 16px;"><%= @datenight.about %></p>
      </div>
      <div class="column small-12">    
        <h3>Upcoming Date Night!</h3>
        <!-- Current Slide for Date Night goes here -->
        <% unless @datenight.image == nil %>
          <%= image_tag(@datenight.image, style:"box-shadow: 0 0 20px #222; width: 100%") %>
        <% end %>
      </div>
    </div>
  </div>
</div>