<% @title = "Tricks Date Nights" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  p{font-size: 14px;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
  #datenight_register_button{text-decoration: none;font-size: 30px;font-weight: bold;color: #444;
    display: block;padding: 15px;margin: 0px 0px 20px 5%;text-align: center;border-radius: 25px;
    box-shadow: 0 0 20px #444;border: 2px solid #555;width: 90%;
  }
  #datenight_register_button:hover{box-shadow: 0 0 30px #222;border: 2px solid #111;color: #222;}
<% end %>

<div class="content">
  <h1>Date Nights</h1>
  <div style="float:left; margin-left: 20px;">

    <a id="datenight_register_button" style="background-color: <%= @bgc_green %>; box-sizing: border-box;" href="http://app.jackrabbitclass.com/eventcalendar.asp?&cat2=Date Night&orgid=313983" target="_blank">Register</a>
    <div style="width: 250px; padding: 4px; border:solid 2px #333;">
      <div>
        <div style="float: left; padding: 0px 10px; ">
          <h3 style="margin-top: 0px; ">Time:</h3>
          <p><%= @datenight.when_time %></p>
        </div>
        <div style="float: right; padding: 0px 10px;">
          <h3 style="margin-top: 0px;">Price:</h3>
          <p>$<%= @datenight.single_price %> for first child<br>
            $<%= @datenight.sibling_price %> for siblings</p>
        </div>
      </div>
      <div style="margin-bottom: 5px; float: left; padding: 0 6px 0 4px;">
        <h2><%= @datenight.schedule_title %> Date Night Schedule:</h2>

        <% @datenight.datenight_events.each do |d| %>
          <h3 style="text-decoration: underline"><%= d.title %></h3>
            <p><i><%= d.description %></i><br>
              Sacramento - <%= d.sac_date.strftime("%A, %B %e") %><br>
              Granite Bay - <%= d.gb_date.strftime("%A, %B %e") %><br>
              Folsom - <%= d.fol_date.strftime("%A, %B %e") %>
            </p> 
        <% end %>
      </div>

      <% if can? :manage, Datenight %>
        <div style="text-align:center; margin: 0 0 5px 0;">
          <%= button_to "Edit Page", {controller: 'datenights', action: 'edit'}, style:"padding: 5px 50px;" %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="infobox" style="height: auto; margin-bottom: 20px;">
    <p style="font-size: 16px;"><%= @datenight.about %></p>
  </div>
  <div style="width: 100%; margin: 0 auto; text-align: center;">
    <h2>Upcoming Date Night!</h2>
    <!-- Current Slide for Date Night goes here -->
    <% unless @datenight.image == nil %>
      <%= image_tag(@datenight.image, style:"box-shadow: 0 0 20px #222; width: 650px;") %>
    <% end %>
  </div>

  <br><br><br>
</div>