<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
     <%= f.label :email %><br />
     <%= f.email_field :email %>
  </div>
  <% if can? :update, @comment %>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score, :min => 0, :max => 10 %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :activity %><br />
    <%= f.radio_button :activity, "Gymnastics", checked: true %>
    <%= label_tag(:activity , "Gymnastics") %><br />
    <%= f.radio_button :activity, "Dance" %>
    <%= label_tag(:activity, "Dance") %><br />
    <%= f.radio_button :activity, "Swim" %>
    <%= label_tag(:activity, "Swim") %><br />
  </div>

  <% if can? :manage, Comment %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit :confirm => "After you submit this comment, you will not be able to edit it. Click 'Ok' to submit your comment, or 'Cancel' to edit it." %>
    </div>
  <% end %>
  
<% end %>