<!--
<div style="margin: 0px 10px 0px 10px;">
	<%# @comment.each do |t| %>
		<div id="Random_Comment_Container">
			<div id="Comment">
				"<%#= t.comment %>"<br/>
			</div>
			<div>
				<h3 id="Name">-<%#= t.name %></h3>
			</div>
		</div>
	<%# end %>
</div>
-->




<div id="Comments">
<% @comment.each do |t| %>

		<div id="Random_Comment_Container">
			<% if t.activity == "Gymnastics" then %>
				<div id="commentheadergreen"></div>
				<div id="commentbodygreen">
					<div id="Comment">
						<%= t.comment %><br/>
					</div>
				</div>
				<div id="commentfootergreen">
					<div>
						<h3 id="Name">-<%= t.name %></h3>
					</div>
				</div>

			<% elsif t.activity == "Dance" then %>
				<div id="commentheaderpink"></div>
				<div id="commentbodypink">
					<div id="Comment">
						<%= t.comment %><br/>
					</div>
				</div>
				<div id="commentfooterpink">
					<div>
						<h3 id="Name">-<%= t.name %></h3>
					</div>
				</div>

			<% elsif t.activity == "Swim" then %>
				<div id="commentheaderblue"></div>
				<div id="commentbodyblue">
					<div id="Comment">
						<%= t.comment %><br/>
					</div>
				</div>
				<div id="commentfooterblue">
					<div>
						<h3 id="Name">-<%= t.name %></h3>
					</div>
				</div>

			<% end %>
		</div>
	
<% end %>
	

</div>



