<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Score:</b>
  <%= @comment.score %>
</p>

<p>
  <b>Activity:</b>
  <%= @comment.activity %>
</p>

<% if can? :update, @comment %>
  <%= link_to 'Edit', edit_comment_path(@comment) %> |
<% end %>
<%= link_to 'Back', comments_path %>
