<div id="menu_dc_side">
  <ul>
    <li>
      <%= link_to "Home", dance_company_path %>
    </li>
    <li>
      <%= link_to "About Us", dance_company_about_path %>
    </li>
    <li>
      <%= link_to "Events", dance_company_events_path %>
    </li>
    <li>
      <%= link_to "Auditions", dance_company_auditions_path %>
    </li>
    <li>
      <%= link_to "Gallery", dance_company_gallery_path %>
    </li>
  </ul>
</div>