<%#= include_wysiwyg %>

<%= form_for(@camp) do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
      <% @camp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-center">
    <div class="columns small-10">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :title} %>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns small-5">
      <%= render partial: 'helper_fields/date', locals: {form: f, field: :registration_opens, label: "Registration Opens", required: true} %>
    </div>
    <div class="columns small-5">
      <%= render partial: 'helper_fields/date', locals: {form: f, field: :registration_closes, label: "Registration Closes", required: true} %>
    </div>
    <div class="columns small-10 large-6">
      <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image, required: true, image_url: @camp.image_url} %>
    </div>
  </div>
  
  <!--<div class="row align-center">-->
  <!--  <div class="columns small-12 large-10">-->
      <%#= f.text_area :description, class: "wysiwyg" %>
  <!--  </div>-->
  <!--</div>-->
  <div class="row align-center" style="margin: 50px 0;">
    <div class="columns small-10 large-4">
      <%= f.submit class: "button expanded" %>
    </div>
  </div>
  
<% end %>
