<%= include_wysiwyg %>

<%= form_for(@camp) do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
      <% @camp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-center">
    <div class="columns small-12 large-6">
      <div class="input-group">
        <%= f.label :title, class: "input-group-label" %>
        <%= f.text_field :title, class: "input-group-field" %>
      </div>
    </div>
    <div class="columns small-12 large-2">
      <div class="input-group">
        <%= f.label :image, "Upload Image", class: "button expanded" %>
        <%= f.file_field :image, class: "show-for-sr" %>
      </div>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns small-6 large-4">
      <div class="input-group">
        <%= f.label :registration_opens, class: "input-group-label" %>
        <%= f.text_field :registration_opens, class: "input-group-field date_field" %>
      </div>
    </div>
    <div class="columns small-6 large-4">
      <div class="input-group">
        <%= f.label :registration_closes, class: "input-group-label" %>
        <%= f.text_field :registration_closes, class: "input-group-field date_field" %>
      </div>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="columns small-12 large-10">
      <%= f.text_area :description, class: "wysiwyg" %>
    </div>
  </div>
  <div class="row align-center" style="margin: 50px 0;">
    <div class="columns small-10 large-4">
      <%= f.submit class: "button expanded" %>
    </div>
  </div>
  
<% end %>
