<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="quotes">
  <tr>
    <th><%= sortable "quote" %></th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "age" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kid_quotes.each do |kid_quote| %>
  <tr>
    <td><%= kid_quote.quote %></td>
    <td><%= kid_quote.name %></td>
    <td><%= kid_quote.age %></td>
    <td><%= link_to 'Show', kid_quote %></td>
    <td><%= link_to 'Edit', edit_kid_quote_path(kid_quote) %></td>
    <% if can? :destroy, KidQuote %>
    <td><%= link_to 'Destroy', kid_quote, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<div style="text-align:center">
  <%= will_paginate @quotes%>
</div>