<h1>Funny Things Kids Say</h1>

<h3><%= link_to 'New Kid Quote', new_kid_quote_path %></h3>

<div>
  <%= form_tag kid_quotes_path, :method => 'get', :id => "quotes_search" do %>
  
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :quote => nil %>
    </p>

    <div id="quotes_table"><%= render 'quotes' %></div>

  <% end %>
</div>
