<div style="width: 650px; margin: 40px auto 10px auto; font-size: 16px; text-align: justify">

  <b>Quote:</b>
  <%= @kid_quote.quote %>
  <br>
  <br>
  <b>Name:</b>
  <%= @kid_quote.name %>
  <br>
  <b>Age:</b>
  <%= @kid_quote.age %>
  <br>
  <b>Date Created:</b>
  <%= @kid_quote.created_at.strftime("%b %e,%Y (%l:%M %p )") %>
  <br>
  <br>
  <%= link_to 'Edit', edit_kid_quote_path(@kid_quote) %> |
  <%= link_to 'Back', kid_quotes_path %>
</div>