<%= form_for(@bff_dance_party) do |f| %>
  <% if @bff_dance_party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bff_dance_party.errors.count, "error") %> prohibited this bff_dance_party from being saved:</h2>

      <ul>
      <% @bff_dance_party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="columns small-8">
      <div class=" input-group">
        <%= f.label :name, "Party Name", class: "input-group-label" %>
        <%= f.text_field :name, class: "input-group-field" %>
      </div>
    </div>
    <div class="columns large-4 ">
      <div class=" input-group">
        <%= f.label :date, "Date", class: "input-group-label" %>
        <%= f.text_field :date, id:'bff_dance_party_date', class: "input-group-field" %>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="columns small-12">
      <div class=" input-group">
        <%= f.label :suggestion, "Suggestion", class: "input-group-label" %>
        <%= f.text_field :suggestion, placeholder: "Students can wear Frozen outfit/costumes to the party!", class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6 ">
      <div class=" input-group">
        <%= f.label :granite_bay_start_time, "Granite Bay Start Time", class: "input-group-label", id: "bff_dance_party_granite_bay_start_time" %>
        <%= f.text_field :granite_bay_start_time, type: "time", class: "input-group-field" %>
      </div>
    </div>
    <div class="columns large-6 ">
      <div class="input-group">
        <%= f.label :granite_bay_duration, "Duration", class: "input-group-label" %>
        <%= f.number_field :granite_bay_duration, class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6 ">
      <div class=" input-group">
        <%= f.label :folsom_start_time, "Folsom Start Time", class: "input-group-label", id: "bff_dance_party_folsom_start_time" %>
        <%= f.text_field :folsom_start_time, type: "time", class: "input-group-field" %>
      </div>
    </div>
    <div class="columns large-6 ">
      <div class="input-group">
        <%= f.label :folsom_duration, "Duration", class: "input-group-label" %>
        <%= f.number_field :folsom_duration, class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6 ">
      <div class=" input-group">
        <%= f.label :sacramento_start_time, "Sacramento Start Time", class: "input-group-label", id: "bff_dance_party_sacramento_start_time" %>
        <%= f.text_field :sacramento_start_time, type: "time", class: "input-group-field" %>
      </div>
    </div>
    <div class="columns large-6 ">
      <div class="input-group">
        <%= f.label :sacramento_duration, "Duration", class: "input-group-label" %>
        <%= f.number_field :sacramento_duration, class: "input-group-field" %>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
