<%= form_for(@bff_dance_party) do |f| %>
  <% if @bff_dance_party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bff_dance_party.errors.count, "error") %> prohibited this bff_dance_party from being saved:</h2>

      <ul>
      <% @bff_dance_party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="columns small-8">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :name, label: "Party"} %>
    </div>
    <div class="columns small-4 ">
      <%= render partial: 'helper_fields/date', locals: {form: f, field: :date, label: "Date"} %>
    </div>
  </div>
 
  <div class="row">
    <div class="columns small-4 ">
      <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image, image_url: @bff_dance_party.image_url} %>
    </div>
    <div class="columns small-8">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :suggestion, label: "Suggestion", placeholder: "Students can wear Frozen outfit/costumes to the party!"} %>
    </div>
  </div>
  
  <div class="row">
    <div class="columns small-6 ">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :granite_bay_start_time, label: "Granite Bay Start Time"} %>
    </div>
    <div class="columns small-6 ">
      <%= render partial: 'helper_fields/number', locals: {form: f, field: :granite_bay_duration, label: "Duration"} %>
    </div>
  </div>
  
  <div class="row">
    <div class="columns small-6 ">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :folsom_start_time, label: "Folsom Start Time"} %>
    </div>
    <div class="columns small-6 ">
      <%= render partial: 'helper_fields/number', locals: {form: f, field: :folsom_duration, label: "Duration"} %>
    </div>
  </div>
  
  <div class="row">
    <div class="columns small-6 ">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :sacramento_start_time, label: "Sacramento Start Time"} %>
    </div>
    <div class="columns small-6 ">
      <%= render partial: 'helper_fields/number', locals: {form: f, field: :sacramento_duration, label: "Duration"} %>
    </div>
  </div>
  
  <div class="row align-center" style="margin-bottom: 100px; margin-top: 50px;">
    <div class="columns small-8">
      <%= f.submit class: "button expanded" %>
    </div>
  </div>
<% end %>
