<% if is_first then %>

  <div class="row align-center">
    <div class="columns">
      <% if party.nil? %>
        <h3 style="padding: 30px;">No BFF Dance Parties currently available :(</h3><h3 style="padding: 30px;">Please check back later!</h3>
      <% else %>
        <% if !party.image.nil? %>
          <%= image_tag party.image_url, alt: party.name, style: "margin-top: 30px; box-shadow: 0 0 20px #222; width: 100%;" %> 
        <% end %>
      <% end %>  
    </div>
  </div>
  <% if can? :manage, BffDanceParty %>
    <br><%= link_to 'Edit', edit_bff_dance_party_path(party), class:"button expanded" %>
  <% end %>
<% else %>

  <div class="row align-center" style="border: solid 5px #B689D4; border-radius: 10px; margin: 35px 0px 0px 0px; padding: 15px;">
    <div class="columns small-12" style="text-align: justify;">
      <h4><%= party.name  %>
        <% if can? :manage, BffDanceParty %>
          (<%= link_to 'Edit', edit_bff_dance_party_path(party)%>)
        <% end %>
      </h4>
        <p><%= party.suggestion %></p>
          <b>Date: <%=party.date.strftime("%B %e, %Y") %></b>
          <br>Granite Bay: <%= party.granite_bay_start_time.strftime("%l:%M %p") %>
          <br>Folsom: <%= party.folsom_start_time.strftime("%l:%M %p") %>
          <br>Sacramento:<%= party.sacramento_start_time.strftime("%l:%M %p")%>
        </p>
        <p>*Class times vary per studio</p>
    </div>
  </div>
<% end %>