<% given_title = "Tricks - BFF Dance Parties" %>
<% given_bubbles = [3, 10] %>

<% if defined? given_title %>
  <% content_for :title do %>
    <%= given_title %>
  <% end %>
<% end %>

<% if defined? given_bubbles %>
  <% update_bubbles(given_bubbles) %>
<% end %>

<div class="row">
  <div class="columns small-12">
    <h1>BFF Dance Party!</h1>
    <% if can? :create, BffDanceParty %>
     <div class="row align-center">
        <div class="columns small-6">
          <%= link_to "Add New BFF Dance Party", new_bff_dance_party_path, class: "button expanded" %>
        </div>
     </div>
    <% end %>
    <h5 style="margin: 25px 0px 10px;">Bring a Friend Friday Dance Parties. Join us for 45 minutes of music, dancing, crafts and fun with friends! BFF Dance Parties will be held the last Friday of every month. Ages 3-5 (children must be potty-trained).</h5></h5>
  </div>
</div>

<h3>Register Here!</h3>
<div class="row align-center">
  <div class="columns small-11 large-4">
    <%= link_to "Granite Bay", "https://app.jackrabbitclass.com/eventcalendar.asp?id=&key=&clabel=Date%2F6%2F2019&orgid=313983&loc=GB", class: "button expanded", style: "font-size: 20px; padding: 10px;" %>
  </div>
  <div class="columns small-11 large-4">
    <%= link_to "Folsom", "https://app.jackrabbitclass.com/eventcalendar.asp?&cat2=Date%20Night&loc=FOL&orgid=313983", class: "button expanded", style: "font-size: 20px; padding: 10px;" %>
  </div>
  <div class="columns small-11 large-4">
    <%= link_to "Sacramento", "https://app.jackrabbitclass.com/eventcalendar.asp?&cat2=Date%20Night&loc=SAC&orgid=313983", class: "button expanded", style: "font-size: 20px; padding: 10px;" %>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <%= render partial: 'show', locals: {party: @bff_dance_parties.first, is_first: true} %>

    <!--<h4>Click on a Dance Party Name for Details, and Registration</h4>-->
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <% first = true %>
      <% @bff_dance_parties.each do |party| %>
        <% if first then %>
          <% first = false %>
        <% else %>
          <%= render partial: 'show', locals: {party: party, is_first: false} %>
        <% end %>
      <% end %>
    </ul>
    
  </div>
</div>

<!--<div class="reveal fast large" style="z-index: 1010" id="details_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up" style="border-radius: 300px;">-->
  
<!--</div>-->