<div id="form">
  <%= form_for(@user) do |f| %>


    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= render partial: 'helper_fields/email', locals: {form: f, field: :email, required: true} %>
    
    <div class="input-group">
			<%= f.label :password, class: "input-group-label" %>
			<%= f.password_field :password, required: true, class: "input-group-field" %>
		</div>
		
    <div class="input-group">
			<%= f.label :password_digest, "Password Confirmation", class: "input-group-label" %>
			<%= f.password_field :password_confirmation, required: true, class: "input-group-field" %>
		</div>
		
		<% if can? :manage, @user %>
			<%= render partial: 'helper_fields/radio_buttons', locals: {form: f, field: :role, array: {superadmin: "Superadmin", admin: "Admin", moderator: "Moderator", coach: "Coach", author: "Author"}} %>
		<% end %>
		<%= f.submit "Submit", class: "button expanded" %>
	<% end %>
</div>