<br>
<br>

<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Date Created:</b>
  <%= @user.created_at.strftime("%b %e,%Y (%l:%M %p )") %>
</p> 

<p>
  <b>User ID#:</b>
  <%= @user.id %>
</p>

<br>

<%= link_to 'Edit', edit_user_path(@user) %>