<%= form_for(@recital_ad_type) do |f| %>
  <% if @recital_ad_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recital_ad_type.errors.count, "error") %> prohibited this recital_ad_type from being saved:</h2>

      <ul>
      <% @recital_ad_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :word_max %><br />
    <%= f.number_field :word_max %>
  </div>

  <div class="field">
    <%= f.label :actual_size %><br />
    <%= f.text_field :actual_size %>
  </div>

  <div class="field">
    <%= f.check_box :picture %>
    <%= f.label :picture %>
  </div>

  <%= f.fields_for :fields do |builder| %>
    <%= render 'field_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Field", f, :fields %>

  <br />
  <br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
