<%= form_for(@recital_ad_type) do |f| %>
  <% if @recital_ad_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recital_ad_type.errors.count, "error") %> prohibited this recital_ad_type from being saved:</h2>

      <ul>
      <% @recital_ad_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render partial: 'helper_fields/text', locals: {form: f, field: :name} %>
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :word_max %><br>
    <%= f.number_field :word_max %>
  </div>

  <div class="field">
    <%= render partial: 'helper_fields/text', locals: {form: f, field: :actual_size} %>
  </div>

  <div class="field">
    <br><%= f.check_box :image %>
    <%= f.label :image %>
  </div>

  <div class="field">
    <%= f.check_box :pdf_file %>
    <%= f.label :pdf_file %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit :style => "padding: 3px 8px;" %>
  </div>
  <br>
<% end %>
