<%= form_for(@recital_ad_type) do |f| %>
  <% if @recital_ad_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recital_ad_type.errors.count, "error") %> prohibited this recital_ad_type from being saved:</h2>

      <ul>
      <% @recital_ad_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-center">
    <div class="columns small-12 large-4">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :name} %>
      </div>
    <div class="columns small-12 large-4">
      <%= render partial: 'helper_fields/number', locals: {form: f, field: :price} %>
      </div>
    <div class="columns small-12 large-4">
      <%= render partial: 'helper_fields/number', locals: {form: f, field: :word_max} %>
    </div>
    <div class="columns small-12 large-4">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :actual_size} %>
    </div>
    <div class="columns small-12 large-4">
      <%= render partial: 'helper_fields/switch', locals: {form: f, field: :image} %>
    </div>
    <div class="columns small-12 large-4">
      <%= render partial: 'helper_fields/switch', locals: {form: f, field: :pdf_file} %>
    </div>
    
    <div class="columns small-6">
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>
  
<% end %>
