<h1>Listing Recital Ad Types</h1>

<br>

<h3><%= link_to 'New Recital Ad Type', new_recital_ad_type_path %></h3>

<table style="margin: 30px auto">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Word Max</th>
    <th></th>
    <th></th>
  </tr>

<% @recital_ad_types.each do |recital_ad_type| %>
  <tr>
    <td style="padding: 5px 50px;"><%= link_to recital_ad_type.name, recital_ad_type %></td>
    <td style="padding: 5px 50px;"><%= number_to_currency(recital_ad_type.price) %></td>
    <td style="padding: 5px 50px;"><%= recital_ad_type.word_max %></td>
    <td style="border: 0; padding: 3px;"><%= link_to 'Edit', edit_recital_ad_type_path(recital_ad_type) %></td>
    <td style="border: 0; padding: 3px;"><%= link_to 'Destroy', recital_ad_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
