<div id="form">
  <%= form_for(@schedule) do |f| %>


    <% if @schedule.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field" style="float:left; width: 100%; line-height: 34px; margin-bottom: 0; padding: 0 8px">
      <div style="float:left; width: 90px;">
        <%= f.label :classtype_id, "Class Type:" %>
      </div>
      <%= f.collection_select :classtype_id, Classtype.all, :id, :name, :prompt => "Select a Class Type" %>
    </div> 
   
    <div class="field" style="float:left; width: auto; line-height: 34px; margin-bottom: 0; border: 2px dotted grey; padding: 0 8px">
      <div style="float:left; width: 88px">
        <%= f.label :level_id, "Level:" %>
      </div>
      <%= f.grouped_collection_select :level_id, Classtype.all, :levels, :name, :id, :levelname%>
    </div> 

    <div style="width: 880px; float: left; line-height: 34px; padding: 0 8px">
      <div class="field" style="float:left; width: 90px">
        <%= f.label :location %>:<br />
        <%= f.label :day %>:<br />
        <%= f.label :time %>:<br />
        <%= f.label :teacher %>:<br />
      </div>

      <div class="field" style="float:left; width: 790px">
        <%= f.select :location, ['Folsom', 'Granite Bay', 'Sacramento'], :prompt => "Select a Location" %><br />
        <%= f.select :day, Schedule::DAYS, :prompt => "Select a Day" %><br />
        <%= f.time_select :time, {:minute_step => 5, :ampm => true, :include_blank => false} %><br />
        <%= f.text_field :teacher, :placeholder => 'Include Mr. Ms. or Mrs.', :style=>'width: 140px;'  %><br />
      </div>
    </div>

    <div class="actions" style="width: 880px; float: left;">
      <%= f.submit %>
    </div>
  <% end %>
</div>