<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="schedules">
  <tr>
    <th><%= sortable "level" %></th>
    <th><%= sortable "day" %></th>
    <th><%= sortable "time" %></th>
    <th><%= sortable "teacher" %></th>
    <th><%= sortable "price" %></th>
    <th><%= sortable "length" %></th>
    <th><%= sortable "age" %></th>
    <th><%= sortable "gender" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td style="width: 160px;"><%= schedule.level.levelname %></td>
    <td style="width: 60px;"><%= schedule.day %></td>
    <td style="width: 80px;"><%= schedule.time %></td>
    <td style="width: 120px;"><%= schedule.teacher %></td>
    <td style="width: 40px;"><%= schedule.level.price %>$</td>
    <td style="width: 60px;"><%= schedule.level.length %> min</td>
    <td style="width: 30px;"><%= schedule.level.age %></td>
    <td style="width: 60px;"><%= schedule.gender %></td>
    <% if can? :manage, Schedule %>
        <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Show', schedule %></td>
        <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Destroy', schedule, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>


<br />
<div style="text-align:center">
  <%= will_paginate @schedules%>
</div>