<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<table class="schedules">
  <tr>
    <th>Level</th>
    <th><%= sortable "day" %></th>
    <th><%= sortable "time" %></th>
    <th><%= sortable "teacher" %></th>
    <th><%= sortable "location" %></th>
    <th>Price</th>
    <th>Length</th>
    <th>Age</th>
    <th>Gender</th>
    <th></th>
    <th></th>
  </tr>

<% if can? :manage, Schedule %>
    <% @schedules.each do |schedule| %>
        <% if schedule.future_class == true %>
            <tr>
                <td style="background-color: #FFFF82;"><%= schedule.level.levelname %></td>
                <td style="background-color: #FFFF82;"><%= Schedule::HUMAN_DAYS[schedule.day.to_i] %></td>
                <td style="background-color: #FFFF82;"><%= schedule.time.strftime("%l:%M %p") %></td>
                <td style="background-color: #FFFF82;"><%= schedule.teacher %></td>
                <td style="background-color: #FFFF82;"><%= schedule.location %></td>
                <td style="background-color: #FFFF82;"><%= number_to_currency(schedule.level.price, precision: 2) %></td>
                <td style="background-color: #FFFF82;"><%= schedule.level.length %> min</td>
                <td style="background-color: #FFFF82;"><%= schedule.level.age %></td>
                <td style="background-color: #FFFF82;"><%= schedule.level.gender %></td>
                <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
                <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Destroy', schedule, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
        <% else %>
            <tr>
                <td><%= schedule.level.levelname %></td>
                <td><%= Schedule::HUMAN_DAYS[schedule.day.to_i] %></td>
                <td><%= schedule.time.strftime("%l:%M %p") %></td>
                <td><%= schedule.teacher %></td>
                <td><%= schedule.location %></td>
                <td><%= number_to_currency(schedule.level.price, precision: 2) %></td>
                <td><%= schedule.level.length %> min</td>
                <td><%= schedule.level.age %></td>
                <td><%= schedule.level.gender %></td>
                <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
                <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Destroy', schedule, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
        <% end %>
    <% end %>
<% else %>
    <% @schedules.each do |schedule| %>
        <% if schedule.future_class == true %>
            <tr>
                <td style="background-color: #FFFF82;"><%= schedule.level.levelname %></td>
                <td style="background-color: #FFFF82;"><%= Schedule::HUMAN_DAYS[schedule.day.to_i] %></td>
                <td style="background-color: #FFFF82;"><%= schedule.time.strftime("%l:%M %p") %></td>
                <td style="background-color: #FFFF82;"><%= schedule.teacher %></td>
                <td style="background-color: #FFFF82;"><%= schedule.location %></td>
                <td style="background-color: #FFFF82;"><%= number_to_currency(schedule.level.price, precision: 2) %></td>
                <td style="background-color: #FFFF82;"><%= schedule.level.length %> min</td>
                <td style="background-color: #FFFF82;"><%= schedule.level.age %></td>
                <td style="background-color: #FFFF82;"><%= schedule.level.gender %></td>
            </tr>
        <% else %>
            <tr>
                <td><%= schedule.level.levelname %></td>
                <td><%= Schedule::HUMAN_DAYS[schedule.day.to_i] %></td>
                <td><%= schedule.time.strftime("%l:%M %p") %></td>
                <td><%= schedule.teacher %></td>
                <td><%= schedule.location %></td>
                <td><%= number_to_currency(schedule.level.price, precision: 2) %></td>
                <td><%= schedule.level.length %> min</td>
                <td><%= schedule.level.age %></td>
                <td><%= schedule.level.gender %></td>
            </tr>
        <% end %>
    <% end %>
<% end %>
</table>


<br>

<div style="text-align:center">
    <!-- Add Pagination -->
  <%#= will_paginate @schedules%>
</div>