<%= stylesheet_link_tag "schedules_by_gym", :media => "all" %>

<% days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>


<div style="border: blue solid 3px; width: 945px; min-height: 400px; overflow: auto">

           
    <% @levels_by_type.each do |level| %>
        <div id="levelname"> 
            <h3 class="leveltitle"><%= level.levelname %></h3>
            <h4>Length: <%= level.length %> min. &nbsp;&nbsp; Ages <%= level.age %> &nbsp;&nbsp; $<%= level.price %>/Month</h4>

            <% @schedules_by_day.each do |day, schedules| %>
                <%=  %>
                <%# else %>
                <div class="day">                    
                    <div class="day_name"><h3><%= days[day.to_i][0..2] %></h3></div>
                    <div class="classes_box">
                        <% schedules.each do |schedule| %>
                            <% if schedule.level.levelname == level.levelname %>
                                <div style="float: left; width: 90px; margin-right: 10px;"><% if schedule.actual_time != nil %><%= schedule.actual_time.strftime("%l:%M %p") %><% end %></div>
                                <%= schedule.teacher %>
                                <br />
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <%# end %>
            <% end %>
        </div>
    <% end %>


</div>

