<!-- <script src="/assets/jquery.isotope.min.js"></script> -->
<!-- <script src="/assets/jquery.masonry.ordered.js"></script> -->

<%= javascript_include_tag "schedule/jquery.masonry.min" %>
<%= stylesheet_link_tag "static/schedules_formatted", :media => "all" %>

<script>
    $(window).load(function(){

        var $girls_container = $('#girls_levels_container');
        var $boys_container = $('#boys_levels_container');
        var $tumble_container = $('#tumble_levels_container');

        $girls_container.masonry({
            itemSelector: '#girls_levels',
            // layoutMode : 'masonry'
        });
        $boys_container.masonry({
            itemSelector: '#boys_levels',
            // layoutMode: 'masonry'
        });
        $tumble_container.masonry({
            itemSelector: '#tumble_levels',
            // layoutMode: 'masonry'
        });
    });
</script>
<div id="master_container">
    <div id="schedule_header">
        <div style="width: 100px; height: 30px; float:left"></div>
        <div style="width: 100px; float:right; margin-top:7px;"><a href="#" onClick=" window.print(); return false">Print this page</a></div>
        <h2> School Age Gymnastics Schedule</h2>    
    </div>
    <div id="info_container">
        <div id="logo">
            <a href="/">
                <img src="/assets/tricks-header.png" height="118px"/>
            </a>
        </div>
        <div id="info">
            <h3>Important Information</h3>
            <p style="font-size: 15px;">No Membership Fee is required.</p>
            <p style="font-size: 12px;">*Schedules are subject to change*</p>
            <p style="font-size: 12px;">*Prices quoted for 1 class per week*</p>
            <p><b>Call to schedule your FIRST CLASS today!</b></p>
        </div>
    </div>

    <div id="boys_container">
        <div id="boys_header">
            <h1> BOYS </h1>
        </div>
        <div id="boys_levels_container">
            <% @levels_by_type.each do |level| %>
                <% next if @schedules_by_level[level.id].nil? %>
                <% if  level.gender == "Boys" %>
                    <div id="boys_levels"> 
                        <h3 class="leveltitle"><%= level.levelname %></h3>
                        <h4>Length: <%= level.length %> min. &nbsp;&nbsp; Ages <%= level.age %> &nbsp;&nbsp; $<%= level.price %> / (4 Weeks)</h4>
                            
                        <% schedules = @schedules_by_level[level.id].group_by(&:day)  %>
                        <% schedules.each do |day, schedules| %>
                            <div class="day">                    
                                <div class="day_name"><h3><%= Schedule::HUMAN_DAYS[day.to_i][0..2] %></h3></div>
                                <div class="classes_box">
                                    <% schedules.each do |schedule| %>
                                        <div style="float: left; width: 70px; margin-right: 10px;">
                                            <%= schedule.time.strftime("%l:%M %p") %>
                                        </div>
                                        <div style="float: left;">
                                            <%= schedule.teacher %>
                                        </div>
                                        <% if schedule.future_class? %>
                                            <div style="font-size: 11px; float: right">
                                                *Future Class*
                                            </div>
                                        <% end %>
                                        <br>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>                
                <% end %>            
            <% end %>
        </div>
    </div>

    <div id="girls_container">
        <div id="girls_header">
            <h1> GIRLS </h1>
        </div>
        <div id="girls_levels_container">
            <% @levels_by_type.each do |level| %>
                <% next if @schedules_by_level[level.id].nil? %>
                <% if  level.gender == "Girls" %>
                    <div id="girls_levels"> 
                        <h3 class="leveltitle"><%= level.levelname %></h3>
                        <h4>Length: <%= level.length %> min. &nbsp;&nbsp; Ages <%= level.age %> &nbsp;&nbsp; $<%= level.price %> / (4 Weeks)</h4>
                            
                        <% schedules = @schedules_by_level[level.id].group_by(&:day)  %>
                        <% schedules.each do |day, schedules| %>
                            <div class="day">                    
                                <div class="day_name"><h3><%= Schedule::HUMAN_DAYS[day.to_i][0..2] %></h3></div>
                                <div class="classes_box">
                                    <% schedules.each do |schedule| %>
                                        <div style="float: left; width: 70px; margin-right: 10px;">
                                            <%= schedule.time.strftime("%l:%M %p") %>
                                        </div>
                                        <div style="float: left;">
                                            <%= schedule.teacher %>
                                        </div>
                                        <% if schedule.future_class? %>
                                            <div style="font-size: 11px; float: right">
                                                *Future Class*
                                            </div>
                                        <% end %>
                                        <br>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>            
            <% end %>
        </div>
    </div>

    <div id="tumble_container">
        <div id="tumble_header">
            <h1> TRAMP & TUMBLE </h1>
        </div>
        <div id="tumble_levels_container">
            <% @levels_by_type.each do |level| %>
                <% next if @schedules_by_level[level.id].nil? %>
                <% if  level.gender == "Both" %>
                    <div id="tumble_levels"> 
                        <h3 class="leveltitle"><%= level.levelname %></h3>
                        <h4>Length: <%= level.length %> min. &nbsp;&nbsp; Ages <%= level.age %> &nbsp;&nbsp; $<%= level.price %> / (4 Weeks)</h4>
                            
                        <% schedules = @schedules_by_level[level.id].group_by(&:day)  %>
                        <% schedules.each do |day, schedules| %>
                            <div class="day">                    
                                <div class="day_name"><h3><%= Schedule::HUMAN_DAYS[day.to_i][0..2] %></h3></div>
                                <div class="classes_box">
                                    <% schedules.each do |schedule| %>
                                        <div style="float: left; width: 70px; margin-right: 10px;">
                                            <%= schedule.time.strftime("%l:%M %p") %>
                                        </div>
                                        <div style="float: left;">
                                            <%= schedule.teacher %>
                                        </div>
                                        <% if schedule.future_class? %>
                                            <div style="font-size: 11px; float: right">
                                                *Future Class*
                                            </div>
                                        <% end %>
                                        <br>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>            
            <% end %>
        </div>
    </div>

</div>