<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/assets/jquery.masonry.min.js"></script>
<!-- <script src="/assets/jquery.isotope.min.js"></script> -->
<!-- <script src="/assets/jquery.masonry.ordered.js"></script> -->

<%= stylesheet_link_tag "schedules_by_gym", :media => "all" %>

<script>
    $(window).load(function(){

        var $girls_container = $('#girls_levels_container');
        var $boys_container = $('#boys_levels_container');
        var $tumble_container = $('#tumble_levels_container');

        $girls_container.masonry({
            itemSelector: '#girls_levels',
            // layoutMode : 'masonry'
        });
    });
</script>
<div id="master_container">
    <div id="header">
        <div style="width: 100px; height: 30px; float:left"></div>
        <div style="width: 100px; float:right; margin-top:7px;"><a href="#" onClick=" window.print(); return false">Print this page</a></div>
        <h2> Folsom Swim Schedule</h2>    
    </div>
    <div id="info_container">
        <div id="logo">
            <img src="/assets/tricks-header.png" height="118px"/>
        </div>
        <div id="info">
            <h3>Important Information</h3>
            <p>We offer a Free Trial Class to all new students.</p>
            <p>No Membership Fee is required.</p>
            <p style="font-size: 11px;">*Schedules are subject to change*</p>
            <p style="font-size: 11px;">*Prices quoted for 1 class per week*</p>
            <p><b>Call to schedule your FIRST CLASS today!</b></p>
        </div>
    </div>


    <div id="girls_container">
        <div id="girls_header">
            <h1> School-Aged </h1>
        </div>
        <div id="girls_levels_container">
            <% @levels_by_type.each do |level| %>
                <% next if @schedules_by_level[level.id].nil? %>
                <% if  level.gender == "Both" %>
                    <div id="girls_levels"> 
                        <h3 class="leveltitle"><%= level.levelname %></h3>
                        <h4>Length: <%= level.length %> min. &nbsp;&nbsp; Ages <%= level.age %> &nbsp;&nbsp; $<%= level.price %>/Month</h4>
                            
                        <% schedules = @schedules_by_level[level.id].group_by(&:day)  %>
                        <% schedules.each do |day, schedules| %>
                            <div class="day">                    
                                <div class="day_name"><h3><%= Schedule::HUMAN_DAYS[day.to_i][0..2] %></h3></div>
                                <div class="classes_box">
                                    <% schedules.each do |schedule| %>
                                        <div style="float: left; width: 80px; margin-right: 10px;">
                                            <% if schedule.time != nil %>
                                                <%= schedule.time.strftime("%l:%M %p") %>
                                            <% end %>
                                        </div>
                                        <%= schedule.teacher %>
                                        <br />
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>            
            <% end %>
        </div>
    </div>

</div>