<h1 style="text-align:center">Class Schedules</h1>

<% if can? :manage, Schedule %>
  <br />
  <h3 style="font-size: 18px; text-align:center;"><%= link_to 'New schedule', new_schedule_path %></h3>
<% end %>

<div style="width: 900 px; margin: 40px 50px">
  <div style="float:left; margin-right: 20px;">
    <%= form_tag schedules_path, :method => 'get', :id => "schedules_search" do %>
      <%= select_tag "location", options_for_select(@schedules.pluck(:location).uniq.sort, params[:location]), :onchange => "this.form.submit();", :prompt => "Location" %>
      <%= select_tag "level", options_from_collection_for_select(@levels, 'levelname', 'levelname', params[:level]), :onchange => "this.form.submit();", :prompt => "Level" %>
      <%= select_tag "day", options_for_select(@schedules.pluck(:day).uniq, params[:day]), :onchange => "this.form.submit();", :prompt => "Day" %>
      <%= select_tag "time", options_for_select(@schedules.pluck(:time).uniq.sort, params[:time]), :onchange => "this.form.submit();", :prompt => "Time" %>
      <%= select_tag "teacher", options_for_select(@schedules.pluck(:teacher).uniq.sort, params[:teacher]), :onchange => "this.form.submit();", :prompt => "Teacher" %>
      <%= select_tag "age", options_for_select(@schedules.pluck(:age).uniq.sort, params[:age]), :onchange => "this.form.submit();", :prompt => "Age" %>
      <%= select_tag "gender", options_for_select(@schedules.pluck(:gender).uniq, params[:gender]), :onchange => "this.form.submit();", :prompt => "Gender" %>
    <% end %>
  </div>
  <div style="float:right">
    <%= button_to "  Reset Search  ", schedules_path, :method => "get" %>
  </div>
</div>
 
<br />

<% if can? :manage, Schedule %>
  <div id="schedules_table_admin"><%= render 'schedules' %></div>
<% else %>
  <div id="schedules_table"><%= render 'schedules' %></div>
<% end %>



