<h1>Class Schedules</h1>
<h3>Future Classes are Highlighted in Yellow</h3>
<h4 style="text-align: center">Future Classes will be openned when there are at least 3 people on their waiting list.</h4>

<% if can? :manage, Schedule %>
  <br>
  <h3 style="font-size: 18px; text-align:center;"><%= link_to 'New schedule', new_schedule_path %></h3>
<% end %>

<h4 style="margin-top: 10px; text-align: center"><%= link_to "Go Back to Choose Location", schedules_choose_path %></h4>

<div style="width: 900 px; margin: 40px 20px">
  <div style="float:left; margin-right: 20px;">
    <%= form_tag schedules_path, :method => 'get', :id => "schedules_search" do %>
      <%= select_tag "location", options_for_select(Schedule::LOCATIONS, params[:location]), :onchange => "this.form.submit();", :prompt => "All Locations" %>
      <!-- - - - -     This shows all the levels, not just the ones available   - - - - -->
      <%#= select_tag "level", options_from_collection_for_select(@levels, 'levelname', 'levelname', params[:level]), :onchange => "this.form.submit();", :prompt => "Level" %> 
      <%#= select_tag "levels", grouped_options_for_select(@schedules.pluck(:levelname), params[:level]), :onchange => "this.form.submit();", :prompt => "Levels" %> 
      <%= select_tag "level", options_for_select(@schedules.pluck(:levelname).uniq.sort, params[:level]), :onchange => "this.form.submit();", :prompt => "All Levels" %>
      <%= select_tag "day", options_for_select(Schedule::DAYS, params[:day]), :onchange => "this.form.submit();", :prompt => "All Days" %>
      <%#= select_tag "time", options_for_select(@schedules.pluck(:time).uniq.sort, params[:time]), :onchange => "this.form.submit();", :prompt => "Time" %>
      <%= select_tag "teacher", options_for_select(@schedules.pluck(:teacher).uniq.sort, params[:teacher]), :onchange => "this.form.submit();", :prompt => "All Teachers" %>
      <%= select_tag "age", options_for_select(@schedules.pluck(:age).uniq.sort, params[:age]), :onchange => "this.form.submit();", :prompt => "All Ages" %>
      <%= select_tag "gender", options_for_select(@schedules.pluck(:gender).uniq, params[:gender]), :onchange => "this.form.submit();", :prompt => "All Genders" %>
    <% end %>
  </div>
  <div style="float:right">
    <%= button_to "  Reset  ", schedules_path, :method => "get" %>
  </div>
</div>
 
<br>

<% if can? :manage, Schedule %>
  <div id="schedules_table_admin"><%= render 'schedules' %></div>
<% else %>
  <div id="schedules_table"><%= render 'schedules' %></div>
<% end %>



