<!-- <script src="/assets/jquery.isotope.min.js"></script> -->
<!-- <script src="/assets/jquery.masonry.ordered.js"></script> -->

<%= javascript_include_tag "schedule/jquery.masonry.min" %>
<%= stylesheet_link_tag "static/schedules_formatted", :media => "all" %>

<script>
    $(window).load(function(){

        var $dance_container = $('#dance_container');
        var $sa_dance_container = $('#sa_dance_container');
      
        $dance_container.masonry({
            itemSelector: '#dance_levels',
            // layoutMode: 'masonry'
        });
        $sa_dance_container.masonry({
            itemSelector: '#sa_dance_levels',
            // layoutMode: 'masonry'
        });
    });
</script>
<div id="master_dance_container">
    <div id="schedule_header">
        <div style="width: 100px; height: 30px; float:left"></div>
        <div style="width: 100px; float:right; margin-top:7px;"><a href="#" onClick=" window.print(); return false">Print this page</a></div>
        <h2> Dance Schedule</h2>    
    </div>
    <div id="info_container">
        <div id="logo">
            <a href="/">
                <img src="/assets/tricks-header.png" height="118px"/>
            </a>
        </div>
        <div id="info">
            <h3>Important Information</h3>
            <p style="font-size: 15px;">No Membership Fee is required.</p>
            <p style="font-size: 12px;">*Schedules are subject to change*</p>
            <p style="font-size: 12px;">*Prices quoted for 1 class per week*</p>
            <p><b>Call to schedule your FIRST CLASS today!</b></p>
        </div>
    </div>
    <div id="gym_info">
        <h2>Sacramento</h2>
        <h3>4440 Marconi Ave<br>Sacramento, CA 95821</h3>
        <h3>(916) 481-4496</h3>
        <h3>www.tricksgym.com</h3>
    </div>

    <div id="pre_school_age_dance_header">
        <h2>Pre-School Dance</h2>    
    </div>
    <div id="dance_container">
        <% @levels_by_type.each do |level| %>
            <% if level.sort_order.between?(300, 399) %>
                <% next if @schedules_by_level[level.id].nil? %>
                <div id="dance_levels"> 
                    <h3 class="leveltitle"><%= level.levelname %></h3>
                    <h4 style="margin:0px;">Age: <%= level.age %><br>Length: <%= level.length %> min. &nbsp; $<%= level.price %> / (4 Weeks)</h4>
                    
                    <% if level.sort_order.between?(301, 301) %>
                        <h4 style="text-decoration:underline; font-size: 11px;">Adult Participation Required</h4>
                    <% end %>

                    
                    <% schedules = @schedules_by_level[level.id].group_by(&:day)  %>
                    <% schedules.each do |day, schedules| %>
                        <div class="day">                    
                            <div class="day_name"><h3><%= Schedule::HUMAN_DAYS[day.to_i][0..2] %></h3></div>
                            <div class="classes_box">
                                <% schedules.each do |schedule| %>
                                    <div style="float: left; width: 70px; margin-right: 10px;">
                                        <%= schedule.time.strftime("%l:%M %p") %>
                                    </div>
                                    <div style="float: left;">
                                        <%= schedule.teacher %>
                                    </div>
                                    <% if schedule.future_class? %>
                                        <div style="font-size: 11px; float: right">
                                            *Future Class*
                                        </div>
                                    <% end %>
                                    <br>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>  
            <% end %>        
        <% end %>
    </div>

    <div id="school_age_dance_header">
        <h2>School Aged Dance</h2>    
    </div>

    <div id="sa_dance_container">        
        <% @levels_by_type.each do |level| %>
            <% if level.sort_order.between?(400, 499) %>
                <% next if @schedules_by_level[level.id].nil? %>
                <div id="sa_dance_levels"> 
                    <h3 class="leveltitle"><%= level.levelname %></h3>
                    <h4 style="margin:0px;">Age: <%= level.age %><br>Length: <%= level.length %> min. &nbsp; $<%= level.price %> / (4 Weeks)</h4>
                    
                    <% if level.sort_order.between?(301, 301) %>
                        <h4 style="text-decoration:underline; font-size: 11px;">Adult Participation Required</h4>
                    <% end %>

                    <% schedules = @schedules_by_level[level.id].group_by(&:day)  %>
                    <% schedules.each do |day, schedules| %>
                        <div class="day">                    
                            <div class="day_name"><h3><%= Schedule::HUMAN_DAYS[day.to_i][0..2] %></h3></div>
                            <div class="classes_box">
                                <% schedules.each do |schedule| %>
                                    <div style="float: left; width: 70px; margin-right: 10px;">
                                        <%= schedule.time.strftime("%l:%M %p") %>
                                    </div>
                                    <div style="float: left;">
                                        <%= schedule.teacher %>
                                    </div>
                                    <% if schedule.future_class? %>
                                        <div style="font-size: 11px; float: right">
                                            *Future Class*
                                        </div>
                                    <% end %>
                                    <br>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>   
            <% end %>       
        <% end %>
    </div>

</div>