<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-center">
    <div class="columns small-12 large-6">
      <div class="row align-center">
        <div class="columns small-12">
          <%= render partial: 'helper_fields/text', locals: {form: f, field: :title} %>
        </div>
        <div class="columns small-12 large-6">
          <%= render partial: 'helper_fields/number', locals: {form: f, field: :weight} %>
        </div>
        <div class="columns small-12 large-6">
          <%= render partial: 'helper_fields/switch', locals: {form: f, field: :hidden} %>
        </div>
      </div>
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>
<% end %>
