<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin: 20px 50px">
    <div class="field">
      <%= f.label :title, "Title" %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :weight, "Weight" %><br />
      <%= f.number_field :weight %>
    </div>
    <div class="field">
      <%= f.label :hidden %><br />
      <%= f.check_box :hidden %>
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
