<%= form_for @survey_result do |f| %>
  <% if @survey_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_result.errors.count, "error") %> prohibited this Survey from being saved:</h2>
      <ul>
      <% @survey_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= @survey_given.name %></h1>  

  <div style="margin: 10px; padding: 0px 20px; border: dashed 1px #444">
    <ol class="questions">
      <% @question_count = 0 %>
      <% @survey_given.questions.each do |question| %>
        <% @question_count = @question_count + 1 %>
        <li>
          <%= question.content %>
          <ol class="answers">            
            <% question.answers.each do |answer| %>
              <%= f.label :"#{answer.content}" do %>
                <% answer_hash = {answer: answer.content, weight: answer.weight, question_number: @question_count} %> 
                <%= f.radio_button :result, answer_hash, style: "margin: 5px; font-weight: normal", class: "answers", name: "question_#{@question_count}" %> 
                <%= label_tag :result, answer.content %>
                <br>
              <% end %>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ol>
  </div>
  <h4 style="text-align:center">There are <%= @question_count %> questions in this survey.</h4>

  <%= hidden_field_tag 'question_count', @question_count %> 
  <%= hidden_field_tag 'survey_taken', @survey_given.id %> 
  <div class="actions" style="text-align:center">
    <%= f.submit "Submit Survey", disabled: "disabled", :id => "submit_button" %>
  </div>
<% end %>







