<h1>Surveys with Results</h1>    

<% @surveys.each do |survey| %>
  <% i = 0 %><% survey.survey_results.each do %><% i = i+1 %><% end %>
  <% if i == 0 %>
      <div style="width: 292px; border: solid 2px #777; box-shadow: 0 0 10px #777; border-radius: 10px; float: left; margin: 5px 15px 25px 15px; min-height: 150px; position: relative">
        <h2 style="margin: 10px;"><%= survey.name %></h2>
        <div style="position: absolute; bottom: 0; width: 100%">
          <h3 style="margin: 15px 0 10px 0; color: #555">Number of Results: <b><%= i %></b></h3>
        </div>
      </div> 
  <% else %>
    <%= link_to({:controller => "survey_results", :action => "survey_results_for", :name => survey.name }) do %>
      <div style="width: 292px; border: solid 2px #777; box-shadow: 0 0 15px #777; border-radius: 10px; float: left; margin: 5px 15px 25px 15px; min-height: 150px; position: relative">
        <h2 style="margin: 10px;"><%= survey.name %></h2>
        <div style="position: absolute; bottom: 0; width: 100%">
          <h3 style="margin: 15px 0 10px 0; color: #555">Number of Results: <b><%= i %></b></h3>
        </div>
      </div>  
    <% end %>
  <% end %>
<% end %>


