<h1>Listing Surveys Taken</h1>

<table style="margin: 0 auto">
  <tr>
    <th>Score</th>
    <th>Survey Name</th>
    <th>Feedback</th>
    <th>Date Taken</th>
    <th></th>
    <th></th>
  </tr>

<% @survey_results.each do |survey_result| %> 
  <%# @the_results = JSON.parse(survey_result.result, :symbolize_names => true) %>
  <tr>

    <% score = 0 %>
    <% @the_results.each do |result| %>
      <% if result[:weight] != nil %>
        <% score = score + result[:weight] %>
      <% end %>
    <% end %>
    <td style="width: 20px;"><% if Survey.find(survey_result.survey_id).scoreable == true %><%= score %><% else %>n/a<% end %></td>
    <td style="width: 250px;"><%= Survey.find(survey_result.survey_id).name %></td>
    <td style="width: 250px;"><%= survey_result.feedback %></td>
    <td style="width: 150px;"><%= survey_result.created_at.strftime("%b %e, %Y") %></td>
    <td><%= link_to 'Show', survey_result %></td>
    <% if can? :destroy, SurveyResult %>
      <td><%= link_to 'Destroy', survey_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

