<h1><%= @survey_taken.name %></h1>

<div style="margin: 10px; padding: 0px 20px; border: dashed 1px #444">
  <ol class="questions">
    <% i = 0 %>
    <% score = 0 %>    

    <% @survey_taken.questions.each do |question| %>  
      <% answer_count = 0 %>
      <% incorrect_answer_count = 0 %> 
      <li>
        <% if @the_results[i] %>          

          <% question.answers.each do |answer| %>
            <% answer_count += 1 %>
            <% if i+1 == @the_results[i][:question_number] && answer.content != @the_results[i][:answer] %>
              <% incorrect_answer_count += 1 %>
            <% end %>
          <% end %>
          <% if answer_count == incorrect_answer_count %>
            <%= question.content %><span style="color: red; font-size: 12px;"> (Question was not present when survey was taken)</span>
            <ol class="answers">
              <% question.answers.each do |answer| %>
                <li><%= answer.content %></li>
              <% end %>
            </ol>  
          <% else %>
            <%= question.content %>
            <ol class="answers">
              <% question.answers.each do |answer| %>
                <% if i+1 == @the_results[i][:question_number] && answer.content == @the_results[i][:answer] %>
                  <li><span id="chosen_answer"> <%= answer.content %> </span></li>
                  <% unless @the_results[i][:weight] == nil %>
                    <% score = score + @the_results[i][:weight] %>
                  <% end %>
                <% else %>
                  <li><%= answer.content %></li>
                <% end %>         
              <% end %>
            </ol>
          <% end %>
          
        <% else %>          
          <%= question.content %><span style="color: red; font-size: 12px;"> (Question was not present when survey was taken)</span>
          <ol class="answers">
            <% question.answers.each do |answer| %>
              <li><%= answer.content %></li>
            <% end %>
          </ol>          
        <% end %>
      </li>
      <% i += 1 %>
    <% end %>
  </ol>
  <% if @survey_taken.scoreable == true %>
    <h4 style="text-align:center">Total Score: <%= score %></h4><br>
  <% end %>
  
</div>
<br><br>


<%= link_to 'Back', survey_results_path %>
<% if @survey_taken.image_result == true %> |<%= link_to 'Result Image', results_page_path(@survey_result) %><% end %>
