<h1><%= @survey_taken.name %></h1>

<div style="margin: 10px; padding: 0px 20px; border: dashed 1px #444">
  <ol class="questions">
  <% i = 0 %>
  <% score = 0 %>
  <% @survey_taken.questions.each do |question| %>
    <% i += 1 %>
    <li>
      <%= question.content %>
      <ol class="answers">
        <% question.answers.each do |answer| %>
          <% if @the_results[i-1] %>
            <% if i == @the_results[i-1][:question_number] && answer.content == @the_results[i-1][:answer] %>
              <li><span id="chosen_answer"> <%= answer.content %> </span></li>
              <% unless @the_results[i-1][:weight] == nil %>
                <% score = score + @the_results[i-1][:weight] %>
              <% end %>
            <% else %>
              <li><%= answer.content %></li>
            <% end %>
          <% else %>
<li><%= answer.content %></li>
          
          <% end %>
        <% end %>
      </ol>
    </li>
  <% end %>
  </ol>
  <% if @survey_taken.scoreable == true %>
    <h4 style="text-align:center">Total Score: <%= score %></h4><br>
  <% end %>
  
</div>
<br><br>


<%= link_to 'Back', survey_results_path %>
<% if @survey_taken.image_result == true %> |<%= link_to 'Result Image', results_page_path(@survey_result) %><% end %>
