<h2>Listing Results for</h2><h1><%= @survey_taken.name %></h1><br>


<table style="margin: 0 auto">
  <tr>
    <th>Score</th>
    <% if @survey_taken.feedback_check == true %>
      <th>Feedback</th>
    <% end %>
    <th>Date Taken</th>
    <th></th>
    <th></th>
  </tr>

<% @survey_results_by_survey.each do |survey_result| %> 
  <%# @the_results = JSON.parse(survey_result.result, :symbolize_names => true) %>
  <tr>

    <% score = 0 %>
    <% @the_results.each do |result| %>
      <% if result[:weight] != nil %>
        <% score = score + result[:weight] %>
      <% end %>
    <% end %>
    <td style="width: 40px;"><% if Survey.find(survey_result.survey_id).scoreable == true %><%= score %><% else %>n/a<% end %></td>
    <% if @survey_taken.feedback_check == true %>
      <td style="width: 600px; text-align: left"><%= survey_result.feedback %></td>
    <% end %>
    <td style="width: 120px;"><%= survey_result.created_at.strftime("%b %e, %Y") %></td>
    <td><%= link_to 'Show', survey_result %></td>
    <% if can? :destroy, SurveyResult %>
      <td><%= link_to 'Destroy', survey_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

