<style>
  .input-group-label{
    text-align: left;
  }
  .fieldset h1{
    font-size: 30px;
  }
  .fieldset {
    padding-bottom: 0px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 30px #888;
  }
</style>

<%= form_for(@employment_application) do |f| %>
  <% if @employment_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employment_application.errors.count, "error") %> prohibited this employment_application from being saved:</h2>

      <ul>
      <% @employment_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="columns small-12">
      <h4 style="text-align: center;">Locations you are applying to: </h4>
    </div>
    <% locations = [['Granite Bay', 'granite_bay'], ['Folsom', 'folsom'], ['Sacramento', 'sacramento']] %>
    <% locations.each do |loc| %>
      
      <div class="columns large-expand small-12">
        <div class="input-group">
          <%= render partial: 'helper_fields/switch_button', locals: {form: f, field: :"#{loc[1]}", text: loc[0], style: 'font-size: 18px;'} %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="columns small-12">
      <h4 style="text-align: center;">Departments interested in applying for: </h4>
    </div>
    <% locations = [['Gymnastics', 'gymnastics'], ['Dance', 'dance'], ['Swim', 'swim'], ['TAG', 'tag'], ['Hospitality', 'hospitality']] %>
    <% locations.each do |loc| %>
      
      <div class="columns large-expand small-12">
        <div class="input-group">
          <%= render partial: 'helper_fields/switch_button', locals: {form: f, field: :"#{loc[1]}", text: loc[0], style: 'font-size: 18px;'} %>
        </div>
      </div>
    <% end %>
  </div>
  
  <fieldset class="fieldset">
    <legend><h1>Personal Information</h1></legend>
    <div class="row">
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :firstname, label: "First Name", placeholder: "First Name", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :middlename, label: "Middle Name", placeholder: "Middle Name", required: false} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :lastname, label: "Last Name", placeholder: "Last Name", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :email, label: "Email", placeholder: "tumblebunny@tricksgym.com", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :phone, label: "Phone", placeholder: "123-456-7890", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/uploader', locals: {form: f, field: :image, label: "Upload Image (Optional)", object: @employment_application} %>
      </div>
      <div class="columns large-12 small-12">
        <%= render partial: 'helper_fields/address', locals: {form: f, title: "Current Address", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :position_desired, label: "Position Desired", required: true, placeholder: "i.e. Gymnastics Coach"} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :expected_pay, label: "Expected Pay", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :desired_hours, label: "Desired Hours", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/date', locals: {form: f, field: :date_available, label: "Date Available", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :over_eighteen, question: "Are you over 18 years old?"} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :can_drive, question: "Do you have your own transportation?"} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :mornings, question: "Can you work mornings?"} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :saturdays, question: "Can you work Saturdays?"} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :can_commit_one_year, question: "Can you commit to one year?"} %>
      </div>
      
      <div id="coach_questions">
        <div class="columns small-12">
          <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :previous_experience, question: "Have you had any previous gymnastics/dance/swim experience? If yes, please explain:", required: false} %>
        </div>
        <div class="columns small-12">
          <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :experience_with_children, question: "Do you have any experience working with children? If yes, please explain:", required: false} %>
        </div>
      </div>
      
      <div id="hospitality_questions">
        <div class="columns small-12">
          <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :previous_office_experience, question: "Have you had any experience working in an office? If yes, please explain:", required: false} %>
        </div>
        <div class="columns small-12">
          <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :customer_service_experience, question: "Do you have any experience in customer service? If yes, please explain:", required: false} %>
        </div>
      </div>
      
      <div class="columns small-12">
        <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :reason, question: "What prompted you to select TRICKS as a potential employer?", required: true} %>
      </div>
      <div class="columns small-12">
        <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :hobbies, question: "What are your hobbies and interests?", height: 60, required: true} %>
      </div>
    </div>
  </fieldset>
  
  <fieldset class="fieldset">
    <legend><h1>Job Requirements In Brief</h1></legend>
    <div class="row">
      <div class="columns small-12">
        <p>Able to be energetic, professional, reliable, work well with children and parents, lift and spot children of all shapes and sizes, work well with others, and take on other duties that might not be expected.</p>
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :job_requirements_response, question: "After reading the above job requirements, would you be able to perform all potential job duties?"} %>
      </div>
    </div>
  </fieldset>
  
  
  <fieldset class="fieldset">
    <legend><h1>Education</h1></legend>
	  <% schoolyears = [['Freshman', 0], ['Softmore', 1], ['Junior', 2], ['Senior', 3], ['Graduated', 4]] %>
    <div class="row">
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :high_school_name, fieldname: "High School Name", required: true} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/select', locals: {form: f, field: :high_school_year, fieldname: "High School Year", options: schoolyears, required: true} %>
      </div>
      <div class="columns large-4 small-12" id="high_school_year_question">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :high_school_graduation_year, label: "High School Graduation Year", required: false} %>
      </div>
    </div>
    <div class="row" id="college_questions">
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :college_name, fieldname: "College Name", required: false} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/select', locals: {form: f, field: :college_year, fieldname: "College Year", options: schoolyears, required: false} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :college_graduation_year, label: "College Graduation Year", required: false} %>
      </div>
      <div class="columns large-4 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :college_degree, label: "College Degree", required: false} %>
      </div>
      <div class="columns large-8 small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :continuing_education, question: "Are you planning to further your education?"} %>
      </div>
    </div>
  </fieldset>
  
  <fieldset class="fieldset">
    <legend><h1>Employment History</h1></legend>
    <p>Please fill out information for your past 2 employers. If you only have 1, then you may leave the second one blank. If you don't have any leave them both blank. Fill out as much information as you know.</p>
    <div class="row">
      <div class="columns large-12 small-12">
        <%= render partial: 'employment_history', locals: {form: f, id: 1, required: false} %>
      </div>
      <div class="columns large-12 small-12">
        <%= render partial: 'employment_history', locals: {form: f, id: 2, required: false} %>
      </div>
      <div class="columns small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :do_not_contact_employer, question: "Is it ok if we contact your previous employers?", default: true} %>
      </div>
      <div class="columns small-12" id="do_not_contact_reason_question">
        <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :do_not_contact_reason, question: "Why don't you want us to contact your previous employers?"} %>
      </div>
    </div>
  </fieldset>
  
  <fieldset class="fieldset">
    <legend><h1>Other History</h1></legend>
    <div class="row">
      <div class="columns small-12">
        <%= render partial: 'helper_fields/switch', locals: {form: f, field: :convicted, question: "Have you been convicted of a crime in the last 7 years?"} %>
      </div>
      <div class="columns small-12" id="convictions_question">
        <%= render partial: 'helper_fields/textarea', locals: {form: f, field: :convictions, question: "List the convictions that are a matter of public record (arrests are not convictions). A conviction will not necessarily disqualify you for employment:"} %>
      </div>
    </div>
  </fieldset>
  
  <fieldset class="fieldset">
    <legend><h1>Certification</h1></legend>
    <p>All applicants for employment are judged solely on the basis of qualification and ability without regard to age, sex, race, creed, color, national origin, marital status, disability, or veteran status. I understand and agree that employment may be contingent upon reference checks.</p>
    <p>I acknowledge the fact that the Company follows an employment-at-will policy, in that I or the Company may terminate my employment at any time, or for any reason applicable with state or federal law. I understand that this application is not a contract of employment. I understand that to be employed I must be lawfully authorized to work in the United States, and show the employer documents that will prove this.</p>
    <p>I authorize an inquiry to investigate my work, credit, and personal history and verify data given on this application, or on related papers and in interviews. I authorize all individuals, schools, and firms named therein, to provide any information requested about me, and I release them from all liability for damages in providing this information.</p>
    <p>I certify that all of the statements, herein are true and understand that any falsification or willful omission shall be sufficient cause for dismissal or refusal of employment.</p>
    <div class="actions" style="margin-top: 50px;">
      <%= f.submit "Submit Application", class: "button expanded" %>
    </div>
  </fieldset>
<% end %>
