<%= stylesheet_link_tag "FileSpecificCSS/employment_applications", :media => "all" %>

<h1>Employment Applications</h1>

<div class="row">
    <% locations = [['Granite Bay', 'granite_bay'], ['Folsom', 'folsom'], ['Sacramento', 'sacramento']] %>
    <% locations.each do |loc| %>
        <div class="columns large-expand small-12">
            <div class="input-group">
                <% classes = "button expanded switch-button" %>
                <% if params.has_key?(:location) && params[:location] == loc[1] %>
                    <% classes += " success" %>
                <% end %>
                <%= link_to loc[0], params.merge({location: loc[1]}), class: classes, id: loc[1]+"_filter_button" %>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <% departments = [['Gymnastics', 'gymnastics'], ['Dance', 'dance'], ['Swim', 'swim'], ['TAG', 'tag'], ['Hospitality', 'hospitality']] %>
    <% departments.each do |dep| %>
        <% classes = "button expanded switch-button" %>
        <% if params.has_key?(:"#{dep[1]}") %>
            <% classes += " success" %>
        <% end %>
        <div class="columns large-expand small-12">
            <div class="input-group">
                <% if params.has_key?(:"#{dep[1]}") %>
                    <%= link_to dep[0], params.except(:"#{dep[1]}"), class: classes, id: dep[1]+"_filter_button" %>
                <% else %>
                    <%= link_to dep[0], params.merge({:"#{dep[1]}" => true}), class: classes, id: dep[1]+"_filter_button" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <% @employment_applications.each do |employment_application| %>
      <%= render partial: 'application_preview', locals: {app: employment_application} %>
    <% end %>
</div>

<%= link_to 'New Employment application', new_employment_application_path %>
