<%= stylesheet_link_tag "FileSpecificCSS/employment_applications", :media => "all" %>

<h1>Employment Applications</h1>

<div class="row">
    <div class="columns large-expand small-12">
        <div class="input-group">
            <% classes = "button expanded switch-button" %>
            <% if params.has_key?(:status) %>
                <%= link_to "New", params.except(:status), class: classes, id: "new_filter_button" %>
            <% else %>
                <% classes += " success" %>
                <%= link_to "New", "javascript:void(0);", class: classes, id: "new_filter_button" %>
            <% end %>
        </div>
    </div>
    <% status = [['First Interview', 1], ['Second Interview', 2], ['Maybe Later', 3], ['Not Hired', 4], ['Hired', 5]] %>
    <% status.each do |s| %>
        <div class="columns large-expand small-12">
            <div class="input-group">
                <% classes = "button expanded switch-button" %>
                <% if params.has_key?(:status) && params[:status] == s[1].to_s %>
                    <% classes += " success" %>
                <% end %>
                <%= link_to s[0], params.merge({status: s[1].to_s}), class: classes, id: s[0].gsub(" ", "_").downcase+"_filter_button" %>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <div class="columns large-expand small-12">
        <div class="input-group">
            <% classes = "button expanded switch-button" %>
            <% if params.has_key?(:location) %>
                <%= link_to "All", params.except(:location), class: classes, id: "all_filter_button" %>
            <% else %>
                <% classes += " success" %>
                <%= link_to "All", "javascript: void(0);", class: classes, id: "all_filter_button" %>
            <% end %>
        </div>
    </div>
    <% locations = [['Granite Bay', 'granite_bay'], ['Folsom', 'folsom'], ['Sacramento', 'sacramento']] %>
    <% locations.each do |loc| %>
        <div class="columns large-expand small-12">
            <div class="input-group">
                <% classes = "button expanded switch-button" %>
                <% if params.has_key?(:location) && params[:location] == loc[1] %>
                    <% classes += " success" %>
                <% end %>
                <%= link_to loc[0], params.merge({location: loc[1]}), class: classes, id: loc[1]+"_filter_button" %>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <% departments = [['Gymnastics', 'gymnastics'], ['Dance', 'dance'], ['Swim', 'swim'], ['TAG', 'tag'], ['Hospitality', 'hospitality']] %>
    <% departments.each do |dep| %>
        <% classes = "button expanded switch-button" %>
        <% if params.has_key?(:"#{dep[1]}") %>
            <% classes += " success" %>
        <% end %>
        <div class="columns large-expand small-12">
            <div class="input-group">
                <% if params.has_key?(:"#{dep[1]}") %>
                    <%= link_to dep[0], params.except(:"#{dep[1]}"), class: classes, id: dep[1]+"_filter_button" %>
                <% else %>
                    <%= link_to dep[0], params.merge({:"#{dep[1]}" => true}), class: classes, id: dep[1]+"_filter_button" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <% @employment_applications.each do |employment_application| %>
      <%= render partial: 'application_preview', locals: {app: employment_application} %>
    <% end %>
</div>

<%= link_to 'New Employment application', new_employment_application_path %>
