<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employment_application.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employment_application.lastname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @employment_application.middlename %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employment_application.phone %>
</p>

<p>
  <strong>Mornings:</strong>
  <%= @employment_application.mornings %>
</p>

<p>
  <strong>Saturdays:</strong>
  <%= @employment_application.saturdays %>
</p>

<p>
  <strong>Previous experience:</strong>
  <%= @employment_application.previous_experience %>
</p>

<p>
  <strong>Experience with children:</strong>
  <%= @employment_application.experience_with_children %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @employment_application.reason %>
</p>

<p>
  <strong>Application date:</strong>
  <%= @employment_application.application_date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employment_application.email %>
</p>

<p>
  <strong>Position desired:</strong>
  <%= @employment_application.position_desired %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @employment_application.birthday %>
</p>

<p>
  <strong>Can drive:</strong>
  <%= @employment_application.can_drive %>
</p>

<p>
  <strong>Can commit one year:</strong>
  <%= @employment_application.can_commit_one_year %>
</p>

<p>
  <strong>Expected pay:</strong>
  <%= @employment_application.expected_pay %>
</p>

<p>
  <strong>Desired hours:</strong>
  <%= @employment_application.desired_hours %>
</p>

<p>
  <strong>Date available:</strong>
  <%= @employment_application.date_available %>
</p>

<p>
  <strong>Job requirements response:</strong>
  <%= @employment_application.job_requirements_response %>
</p>

<p>
  <strong>High school year:</strong>
  <%= @employment_application.high_school_year %>
</p>

<p>
  <strong>High school graduation year:</strong>
  <%= @employment_application.high_school_graduation_year %>
</p>

<p>
  <strong>High school name:</strong>
  <%= @employment_application.high_school_name %>
</p>

<p>
  <strong>College year:</strong>
  <%= @employment_application.college_year %>
</p>

<p>
  <strong>College graduation year:</strong>
  <%= @employment_application.college_graduation_year %>
</p>

<p>
  <strong>College name:</strong>
  <%= @employment_application.college_name %>
</p>

<p>
  <strong>College degree:</strong>
  <%= @employment_application.college_degree %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @employment_application.hobbies %>
</p>

<p>
  <strong>Continuing education:</strong>
  <%= @employment_application.continuing_education %>
</p>

<p>
  <strong>Do not contact employer:</strong>
  <%= @employment_application.do_not_contact_employer %>
</p>

<p>
  <strong>Do not contact reason:</strong>
  <%= @employment_application.do_not_contact_reason %>
</p>

<p>
  <strong>Convicted:</strong>
  <%= @employment_application.convicted %>
</p>

<p>
  <strong>Convictions:</strong>
  <%= @employment_application.convictions %>
</p>

<p>
  <strong>Interview date:</strong>
  <%= @employment_application.interview_date %>
</p>

<p>
  <strong>Interviewed by:</strong>
  <%= @employment_application.interviewed_by %>
</p>

<%= link_to 'Edit', edit_employment_application_path(@employment_application) %> |
<%= link_to 'Back', employment_applications_path %>
