<p id="notice"><%= notice %></p>

<% content_for :title do %>
    <%= "Tricks - Making A Difference" %>
<% end %>


<div class="row">
  <div class="column">
    <h1>Making A Differences</h1>
      <div class="row align-center" style="margin-top: 30px;">
        <div class="columns small-6">
          <%= link_to 'New Making a difference', new_making_a_difference_path, class: "button expanded" %>
        </div>
      </div>
  </div>
</div>


  <div class="row">
    <% @making_a_differences.each do |making_a_difference| %>
      <div class="column large-4">
      <a href="javascript:updateText('<%= making_a_difference.title %>', '<%= making_a_difference.comment %>', '<%= making_a_difference.name.split.first %>', '<%= making_a_difference.date.strftime("%B %Y") %>');" data-open="making-a-diffrence-modal" style="padding: 10px; color: #222; display:block;">
          <div style="padding: 10px 20px; border: solid 3px #D8D8D8; border-radius: 5px; box-shadow: 5px 5px 5px 5px #E6E6E6; background-color: #FAFAFA;">
            <h4 style="margin: 10px; text-align: center;"><%= making_a_difference.title %></h4>
            <p class="comment" style= "text-overflow: ellipsis; max-height: 50px; overflow: hidden;"><%= making_a_difference.comment %></p>
            <p style="text-align: right; padding-top: 10px; margin-bottom: 0px;"><%= making_a_difference.name.split.first %>,  <%= making_a_difference.date.strftime("%B %Y")%></p>
            <td><%= link_to 'Show', making_a_difference %></td>
            <td><%= link_to 'Edit', edit_making_a_difference_path(making_a_difference) %></td>
            <td><%= link_to 'Destroy', making_a_difference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
      </a>
      </div>
    <% end %>
  </div>


<div class="reveal fast" id="making-a-diffrence-modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up" style="padding: 0px; border-radius: 5px;">
  <div class="row">
    <div class="column" style="background: linear-gradient(to bottom, #56d14d 10%, #fefefe 100%); height: 50px;">
    </div>
  </div>
  <h4 id="modal_title" style="text-align: center; margin: 10px;">Title</h4>
    <p id="modal_comment" style="padding: 0 30px;">Comment</p>
    <p style="text-align: right; padding: 10px 30px 20px 30px; margin-bottom: 0px;"><span id="modal_name">Name</span>, <span id="modal_date">Date</span></P>
</div>
  
<script> 
function updateText(title, comment, name, date){
  console.log(title+comment+name+date); 
  document.getElementById("modal_title").innerHTML=title;
  document.getElementById("modal_comment").innerHTML=comment;
  document.getElementById("modal_name").innerHTML=name;
  document.getElementById("modal_date").innerHTML=date;

}


function ellipsizeTextBox(el) {
    console.log(el);
    var wordArray = el.innerHTML.split(' ');
    while(el.scrollHeight > el.offsetHeight) {
        wordArray.pop();
        el.innerHTML = wordArray.join(' ') + '...';
     }
}
let comments = document.getElementsByClassName("comment");
for (let comment of comments){
  ellipsizeTextBox(comment);
}
</script>

