<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin: 20px 50px">
    <div class="field">
      <%= f.label :title, "Title" %><br />
      <%= f.text_field :title, required: true %>
    </div>
    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :url, required: true %>
    </div>
    <div class="field">
      <%= f.label :category_id, "Category" %><br />
      <%= f.select :category_id, options_from_collection_for_select(TricksUCategory.all, :id, :title) %>
    </div>
    <div class="field">
      <%= f.label :weight, "Weight" %><br />
      <%= f.number_field :weight %>
    </div>
    <br><br>
    <div class="row align-center" style="margin-bottom: 100px; margin-top: 50px;">
      <div class="column small-8">
        <%= f.submit class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>
