<% if defined? given_title %>
  <% content_for :title do %>
    <%= given_title %>
  <% end %>
<% end %>

<% if defined? given_header_image %>
  <% if !given_header_image.empty? %>
    <% content_for :header_image do %>
      <%= given_header_image %>
    <% end %>
  <% end %>
<% end %>

<% if defined? given_bubbles %>
  <% update_bubbles(given_bubbles) %>
<% end %>

<div class="row">
  <div class="column large-12">
    <h1><%= given_title %></h1>
    <%= given_description %>

    <h2 style="text-align:center;font-size: 22px; margin-top:25px;">Click on a Class Name for more information and to Register</h2>
    
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <% given_levels.each do |level| %>
        <% new_color = (level.color.nil? || level.color.empty?) ? given_color : level.color %>
        <%= render partial: 'level_listing', locals: {level: level, color: new_color} %>
      <% end %>
    </ul>
  </div>
</div>