<% outline_width = "1" %>
<% outline = "-"+outline_width+"px 0 #222, 0 "+outline_width+"px #222, "+outline_width+"px 0 #222, 0 -"+outline_width+"px #222" %>
<style>
  
  .panel-<%= level.id %>-label.accordion-title, .panel-<%= level.id %>-label.accordion-title:focus, .panel-<%= level.id %>-label.accordion-title:hover, .is-active .panel-<%= level.id %>-label.accordion-title{
  	background-color: <%= color %>;
  	margin: 25px 0 0 0;
  	border-radius: 20px !important;
  	box-sizing: border-box;
  	border: solid 2px <%= color %>;
  	text-shadow: <%= outline %>, 0 0 5px #555;
	color: #fff;
  }
  .panel-<%= level.id %>-label.accordion-title:hover, .is-active .panel-<%= level.id %>-label.accordion-title{
  	border: solid 2px #333;
  	text-shadow: <%= outline %>, 0 0 15px #111;
  }
</style>


<li class="accordion-item" data-accordion-item>
	<a href="#" class="accordion-title panel-<%= level.id %>-label level-panel">
		<% level_title = (level.age.empty?) ? level.levelname : level.levelname + " - Age: " + level.age %>
		<h3 data-id="<%= level.id %>" style="padding:0; margin:0; text-align:center;"><%= level_title %></h3>
	</a>
	<div class="accordion-content" data-tab-content>
		<% if !level.video_url.nil? && !level.video_url.empty? %>
			<div class="row align-center">
				<div class="columns large-8 ">
					<div class="flex-video">
						<iframe src="<%= level.video_url %>" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		<% end %>
		<div class="row" style="margin-bottom: 10px;">
			<%= level.short_description %>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="columns small-12">
				<h4 style="text-align: center;"><span style="margin-right: 50px;"><%= level.length %> mins</span><%= number_to_currency(level.price, precision: 2) %> / 4 Week Session</h4>
			</div>
		</div>
		
		<% if !level.show_registration %>
			<h4 style="text-align:center;">Only Beginning classes available for online registration</h4>
		<% end %>
		<div class="row align-justified" style="margin-bottom: 40px;">
			<% locations = {"Granite Bay" => "GB", "Folsom" => "FOL", "Sacramento" => "SAC"} %> 
			<% locations.each do |loc| %>
				<div class="columns 3-small">
					<%= link_to(loc[0], 'javascript:void(0);', class: "button expanded location-button", id: loc[1]) %>
				</div>
			<% end %>
		</div>
		<div class="row level-classes" id="<%= level.id %>">
			<div class="columns small-12" style="text-align:center;">
				<%= image_tag("/assets/loading-spinner.gif") %>
			</div>    
		</div>
	</div>
</li>