<%# if params[:age] != "" %>
  <%# if params[:classtype] != "" && params[:classtype] != nil %>
    <%# both age and class_type have been chosen %>
    <%# levels = Level.joins(:classtype).where("classtypes.name = '" + params[:classtype] + "'").where(age: params[:age]) %>
  <%# else %>
    <%# only age has been chosen %>
    <%# levels = Level.where(age: params[:age]) %>
  <%# end %>
<%# else %>
  <% if params[:classtype] != "" && params[:classtype] != nil %>
    <%# only class_type has been chosen %>
    <% levels = Level.joins(:classtype).where("classtypes.name = '" + params[:classtype] + "'") %>
  <% else %>
    <%# neither were chosen %>
    <% levels = Level.all %>
  <% end %>
<%# end %>




<%# locations = {"Granite Bay" => "GB", "Folsom" => "FOL", "Sacramento" => "SAC"} %>
<% loc = "" %>
<% case params[:location] %>
  <% when "GB" then loc = "Granite Bay" %>
  <% when "FOL" then loc = "Folsom" %>
  <% when "SAC" then loc = "Sacramento" %>
  <% when "" then loc = "All" %>
<% end %>

<%# locations.each do |loc, value| %>
  <div>
    <h1 style="margin-bottom: 0; color: <%= @bgc_blue %>"><%= loc %></h1>
    <% levels.each do |level| %>
      <% if level.jack_rabbit_name.nil? %>
        <!-- <h3>Sorry, no classes</h3> -->
      <% else %> 
        <!-- We display none here so that we can programatically show the ones that actually have a table -->
        <div class="registration_level_container" style="display:none">
          <h2><%= level.levelname + " (Ages: " + level.age + ")" %></h2>
          <% if level.color.nil? %>
            <% color = "none" %>
          <% else %>
            <% color = level.color %>
          <% end %>
          <div class="jr_class_table_container" style="background-color: <%= color %>;">
            <!-- <script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=<%#= value %>&hidecols=Class,Description,Ages,Gender,StartDate,EndDate,Session&showcols=Instructors,Duration&sort=Days,StartTime&Closed=full&Cat2=<%#= level.jack_rabbit_name %>"></script> -->
            <script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=<%= params[:location] %>&hidecols=Class,Description,Ages,Gender,StartDate,EndDate,Session&showcols=Instructors,Duration&sort=Days,StartTime&Closed=full&Cat2=<%= level.jack_rabbit_name %>"></script>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%# end %>
