<% @title = "Tricks Gymnastics" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div class="content">
  <h1>Why Gymnastics?</h1>
  <div id="infobox" style="width: 945px;">
    <iframe style="float:right; padding: 5px 0px 15px 15px" width="367" height="248" src="http://www.youtube.com/embed/kT9zqO6XxQ8?rel=0" frameborder="0"></iframe>
  
  
    
    <p>With pediatric obesity at an epidemic level of 13% of children and adolescents in the United States, getting children away from the television or computer games and into the gym is a terrific first step toward a healthy lifestyle. Gymnastics is perhaps one of the most comprehensive &quot;lifestyle exercise programs&quot; available to children, incorporating strength, flexibility, speed, balance, coordination, power and discipline. </p>
    <p> Studies show that children learn cognitive skills more effectively in an environment that includes the body as well as the mind (Barrett, 1998). Gymnastics and early childhood movement education is directly attributed to developing neurological pathways in students and promoting reading readiness. Children who have participated in movement education activities have longer attention spans, increased communication skills, general problem solving skills and improved self-esteem. </p>
    <h3>Class Structure</h3>
    <p>Each week new fundamentals are introduced in a fun way based on ideas which correspond with our theme weeks. Take home skill posters will help the gymnast chart their progress. Parents are welcome to observe all the fun from our comfortable viewing stands. </p>
  </div>
  <div style="float: right; margin-right: 10px; margin-top: 30px;">
    <img src="/assets/structure/gymnasticsside.jpg" width="262" height="1817" alt="Gymnastics Teams"/>
  </div>
  <div id="infobox">
    <!-- the reason this logo div is inside the text one is so the text will wrap around it. -->
    <div id="gymnastics_sidelogos"><img style="/* [disabled]margin-left: 10px; */"src="/assets/logos/tumblebunny.jpg" width="210" height="166" alt="Tumblebunny" />
      <br>
      <br>
      <h2>Class Schedules & Pricing:</h2>
      <h2><%= link_to "Granite Bay", schedules_gb_gym_path, :style => "color:#223d99;" %></h2>
      <h2><%= link_to "Folsom", schedules_fol_gym_path, :style => "color:#ec1e79;" %></h2>
      <h2><%= link_to "Sacramento", schedules_sac_gym_path, :style => "color:#79c843;" %></h2>
    </div>
    <h2>Preschool-Aged Gymnastics (Ages 0-5)</h2>
    <p> We have developed an exciting and highly successful approach to pre-school child development using gymnastics as a learning environment. Our 45 minute Tumblebunny classes are jam-packed with music, movement, fun and physical challenges. The Tumblebunnies have their own gym separate from the school- age children. The children climb, roll, jump, swing, bounce, hang, balance, and most importantly, never stop moving! </p>
    <p> Our wonderful coaches have a true love and enthusiasm for children. We provide a positive environment with lots of opportunities to succeed and grow. As soon as your child becomes mobile, a whole new world opens up including motor development activities at TRICKS.®  This is a critical brain development age. Children need to have many, many varied experiences from 0-5 years old. </p>
    <p style="margin: 15px 0px 15px 180px;"> If the name of the class is <span style="color:#06F; font-weight:bold;">blue</span>, you can click on it <br>
      to watch a demo of the class on YouTube! </p>
    <p id="tbclasses">
      <a id="link" href="http://www.youtube.com/watch?v=pVb7FseAEBw&feature=youtu.be" target="new">
        Baby Gym
      </a>
      : 10 Weeks to Crawling (Ratio 8:1 Parent Participation) </p>
    <p id="tbclasses">
      <a id="inactive_link" href="Javascript:void()" target="new">
        Explorer Gym
      </a>
      : Crawling to 17 mos. (Ratio 12:1, Parent Participation) </p>
    <p id="tbclasses">
      <a id="inactive_link" href="Javascript:void()" target="new">
        Toddler Gym
      </a>
      : 17months- 3 years (Ratio 12:1 Parent Participation) </p>
    <p id="tbclasses">
      <a id="inactive_link" href="Javascript:void()" target="new">
        Mini Gym
      </a>
      : All 3 year olds (Ratio 6:1 First level without a parent in class) </p>
    <p id="tbclasses">
      <a id="inactive_link" href="Javascript:void()" target="new">
        Kinder 1
      </a>
      : Beginning 4 and 5 year olds (Ratio 7:1) </p>
    <p id="tbclasses">
      <a id="inactive_link" href="Javascript:void()" target="new">
        Kinder 2
      </a>
      : Intermediate 4 to 5 year olds (Ratio 7:1) </p>
    <p id="tbclasses">
      <a id="inactive_link" href="Javascript:void()" target="new">
        Kinder 3
      </a>
      : Advanced 4 and 5 year olds (Ratio 8:1) </p>
    <br>
  </div>
  <div id="infobox">
    <div id="gymnastics_sidelogos" style="">
      <img src="/assets/logos/prop.jpg" width="241" height="191" alt="Gymnastics" /><br>
    </div>
    <h2>School-Aged Gymnastics (Ages 6 and up)</h2>
    <h3>Level A (Beginners, ages 6 & up):</h3>
    This 90 minute beginner's class teaching kids the fundamentals of gymnastics and tumbling. They will learn the basics of the vault, balance beam, bars and floor exercises. <br>
    <h3>Level 1 (Intermediate, ages 6 & up):</h3>
    This 90 minute intermediate class builds on the skills that the child learned in Level A. They will continue to advance by learning more challenging skills. <br>
    <h3>Level 2 (Advanced, ages 6 & up):</h3>
    This 90 minute Advanced class is for students who have graduated from Level A &amp; 1 and who are looking to learn more advanced skills. <br>
    <h3>Level 3 (USA Gymnastics):</h3>
    This 90 minute class will help girls  become aquainted with all the various equipment that women's gymnastics uses for competition.  Within this class, the gymnast will gain strength and learn  various skills needed on each apparatus. <br>
    <h3>Level 4 (USA Gymnastics):</h3>
    This 90 minute class works with girl who are needing more challenge in their class because they have mastered the beginner skills. <br>
    <h3>Tumbling &amp; Tramp:</h3>
    These 90 minute classes are for both boys and girls who want to work on the floor, trampoline, and tumble track events. This allows for a more focused approach to the development of the round-off back handspring, and other tumbling skills that are desired in cheerleading. <span style="font-weight:600;">Our tumbling classes are designed for friends to be with friends.</span>
    <br>
    <h3>Tumble 1-2 (Ages 6-9 & 8-teen):</h3>
    For beginning students, through a standing back handspring. <br>
    <h3>Tumble 3-4 (Ages 8 & up):</h3>
    Combining the round off with the back handspring. <br>
    <h3>Tumble 5-6 (Ages 8 & up):</h3>
    Further developing the round off with the back handspring and upper level tumbling skills.
    <div align="center"><span style="font-weight:bold; color:#ec1e79"><br>
      These classes are great for cheerleaders!</span>
      <br>
      <br>
    </div>
  </div>
  <div id="infobox">
    <div id="gymnastics_sidelogos" style="margin-top:0px;">
      <img src="/assets/logos/compgym.jpg" width="256" height="101" alt="Competitive" />
    </div>
    <h2>Competitive Gymnastics (Ages 6 and up)</h2>
    <p>At Tricks Gymnastics, we offer two types of competitive gymnastics, Artistic Gymnastics and Team Gymnastics.</p>
    <br>
    <p>In Artistic Gymnastics each member of the team performs individually with an individual score on each event but give support to each other as a team. At Tricks we have girls competitive teams ranging from Level 4 up to Level 6. These girls compete on Vault, Bars, Beam, and Floor.</p>
    <br>
    <p>Team Gymnastics gives athletes a chance to compete as a group. The Team will compete on two events: Jump - This consists of tumbling, vaulting and mini tramp passes. And Floor - A routine will be put together to include dance elements, partner holds, balances, and acro skills. Students will have the fantastic experience of competing in gymnastics without the major time commitment that usually comes with Artistic Gymnastics. We have had some amazing competitions and traveled to some awesome locations such as Las Vegas, New York, and Disneyland! </p>
    <br>
    <div style="text-align: center;">
      <%= link_to "Click here to learn more about Competitive Gymnastics.", competitive_path, :style => "color:#000; text-decoration:underline;text-align: center;" %>
    </div>
    <br>
  </div>
</div>