<% @title="Tricks Gymnastics, Dance & Swim" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>
<% content_for :iescript do %>
	<script>
	  function iePromo() {      
	    if (Function('/*@cc_on return document.documentMode===10@*/')()){
	      var promo = document.getElementById("promo-img");
	      promo.style.zIndex = "5";	      
	      promo.style.borderRadius = "15px";
	    }
	  }
	  addLoadEvent(iePromo);
	</script>
<% end %>
<% @twenty_years = "block" %>
<% @jr_login = "block" %>
<!-- <script src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"></script> -->
<div id="promoboxholder">	
	<div id="promo-frame">
		<div id="promo-header">
			<h1 style="font-size: 26px; margin: 0px 0px 0px 0px; font-variant: small-caps;">Current Events</h1>
		</div>
		<div id="promo-tabs">
			<ul>
				<% i = 0 %>
				<% @live_promos.each do |promo| %>
					<% i = i+1 %>
					<li id="slide_<%= promo.sort_order %>" class="promo-tab"><a href='#tab-<%= i %>'><%= promo.title %></a></li>
				<% end %>
			</ul>
			<% i = 0 %>
			<% @live_promos.each do |promo| %>
			<% i = i+1 %>
			<div class="promo-image" id="tab-<%= i %>">
				<% if promo.data_type == "html" %>
					<%= render :inline => promo.html_code %>
				<% else %>
					<% if promo.link == true %>
							<%= link_to image_tag(promo.image_url, alt: promo.title), promo.link_path, style: "display:block; cursor: pointer;" %>				
					<% else %>
							<%= image_tag promo.image_url, alt: promo.title %>
					<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
		
	<%= image_tag("structure/New_Transparent_PromoBox_Master.png", style:"position: absolute; z-index: 2; pointer-events:none;") %>

	<!--				Promo Images Here        -->
	

	<a style="display:block; position: absolute; z-index: 10;margin: 310px 0 0 450px; width: 97px; height: 98px; border-radius: 49px;" href="http://www.usagym.org">
		<button style="cursor: pointer; background:none; border: none;">
		</button>
	</a>
</div>

<div style="float: right; width: 250px; height: 600px; margin-right: 10px;">
	<% types = {'gymnastics' => ['WebButton-Gym', 'Gymnastics', @bgc_green], 'dance' => ['WebButton-Dance', 'Dance', @bgc_pink], 'swim' => ['WebButton-Swim','Swim', @bgc_blue], 'tag' => ['WebButton-TAG', 'TAG', @bgc_orange]} %>
	
	<% types.each do |key, info| %>
		<div style=" background-color: <%= info[2] %>;margin-bottom: 15px; padding: 8px 8px 6px 8px; border-radius: 15px; box-shadow: 4px 4px 5px #888; width: 225px;">
			<a href="<%= key %>">
				<img style="padding: 5px; background-color: white; border-radius: 8px; margin: 0 auto; width: 214px; box-shadow: 0px 0px 5px #fff;" src="/assets/structure/<%= info[0] %>.png" alt="<%= info[1] %>" />
			</a>
		</div>
	<% end %>



	<!-- Currently Disabled mailing list subscription form
	<div align="center" style="margin: 30px 0px 5px -12px; text-align:center; font-size:11px"> Join our email club for coupons and special offers. </div>
	<form method="post" action="/assets/email.php" style="float:left; margin-left: 5px;">
		<input name="email" type="text" value="enter your email address here" style="float:left; width:190px; margin-top:2px;" onfocus="clearText(this);"/>
		<input value="" type="submit" class="button" style="float:right; margin-left:5px;"/>
	</form>
	-->

<!-- 	<a href="polkadots">
		<img style="margin-top: 15px;" src="/assets/structure/polkadots_button.png" width="250" height="87" alt="Polka Dots" />
	</a> -->
	<div style="text-align: left;">
			<a style="text-decoration: none;" href="http://www.facebook.com/pages/Tricks-Gymnastics/101697380325">
				<img src="/assets/structure/facebook.jpg" width="46" height="41" alt="Facebook" />
			</a>
			<a style="text-decoration: none;" href="http://twitter.com/TricksGymnastic">
				<img src="/assets/structure/twitter.jpg" width="44" height="45" alt="Twitter" />
			</a>
			<a style="text-decoration: none;" href="http://tricksgym.blogspot.com/">
				<img src="/assets/structure/blogger.jpg" width="46" height="41" alt="Blogger" />
			</a>
			<a style="text-decoration: none;" href="http://www.youtube.com/user/TricksGymChannel">
				<img src="/assets/structure/youtube.jpg" width="79" height="43" alt="Youtube" />
			</a>
	</div>
</div>
		

<div id="Quotebox">
	<h1 style="font-size: 40px; margin: 0px 0px -5px -42px; text-decoration: underline;">Funny Things Kids Say</h1>
	<% @kid_quote.each do |t| %>
			<div id="Random_Quote_Container">
				<div id="quoteheaderyellow"></div>
				<div id="quotebodyyellow">
					<div id="Quote">
						<%= t.quote %><br/>
					</div>
				</div>
				<div id="quotefooteryellow">
					<div>
						<h3 id="Name">-<%= t.name %> (Age <%= t.age %>)</h3>
					</div>
				</div>
			</div>
	<% end %>
</div>