<div style="width: 2000px; position: fixed; top: 0; left: 50%; margin-left: -1000px; z-index: -100;">
	<%= image_tag('site_header_images/TB_GB.png', style: "display: block; margin: 0px auto;") %>
	<!--<image src="http://tvuk222fjqo33d6py1a3k15d.wpengine.netdna-cdn.com/wp-content/themes/goldfish-swim-school/assets/images/header-secondary-bg.png"></image>-->
</div>


<% if !current_user %>
	<% top_buffer = 50 + 100 + 20 %>
<% else %>
	<% top_buffer = 50 + 100 + 20 + 46 %>
<% end %>

<% main_picture_height = 500 %>
<div class="row hide-for-small-only" style="height: <%= main_picture_height %>px;">
	<div class="columns small-8 medium-4">
		<div class="columns small-10" style="position: relative;">
			<% main_bubble = 0 %>
	        <% if BubbleContent.exists?(sort_order: main_bubble) %>
				<%= render :partial => "bubble_contents/bubble", locals: { data_toggle: 'register_now_modal', given_bubble: BubbleContent.where(sort_order: main_bubble).first} %>
			<% end %>
			<div style="position: absolute; bottom: -60px; right: -60px; width: 60%; height: 60%;">
				<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 1).first} %>
			</div>
		</div>
	</div>
</div>

<div class="row show-for-small-only" style="height: <%= main_picture_height + 100 %>px;">
	<div class="columns small-8 medium-4">
		<div class="columns small-10" style="position: relative;">
			<% main_bubble = 0 %>
	        <% if BubbleContent.exists?(sort_order: main_bubble) %>
				<%= render :partial => "bubble_contents/bubble", locals: { data_toggle: 'register_now_modal', given_bubble: BubbleContent.where(sort_order: main_bubble).first} %>
			<% end %>
			<div style="position: absolute; bottom: -60px; right: -60px; width: 60%; height: 60%;">
				<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 1).first} %>
			</div>
		</div>
	</div>
</div>




<% buffer_height = 170 %>
<div style="position: absolute; top: <%= main_picture_height + top_buffer %>px; left: 0; width: 100%; height: <%= buffer_height %>px; background: rgba(5,130,197,.7); z-index: -75;"></div>

<div class="row align-right align-middle" style="height: 150px; margin: 10px 0;">
	<div class="column medium-4 small-12">
		<div class="row align-right align-middle">
			<div class="column medium-5 ">
				<%#= image_tag("structure/5star_transparent.png") %>
			</div>
			<div class="column medium-5 small-4">
				<%= image_tag("logos/25years.png") %>
			</div>
		</div>
	</div>
</div>

<% content_height = 550 %>
<% bottom_white_padding = 75 %>
<% extra_bottom_padding_for_mobile = 600 %>
<div class="hide-for-small-only" style="position: absolute; top: <%= main_picture_height + top_buffer + buffer_height %>px; left: 0; width: 100%; height: <%= content_height + bottom_white_padding %>px; background: #fff; z-index: -50;"></div>
<div class="show-for-small-only" style="position: absolute; top: <%= main_picture_height + top_buffer + buffer_height %>px; left: 0; width: 100%; height: <%= content_height + bottom_white_padding + extra_bottom_padding_for_mobile %>px; background: #fff; z-index: -50;"></div>





<div class="row align-center" style="height: <%= content_height %>px; padding-top: 100px;">
	<%# "http://tvuk222fjqo33d6py1a3k15d.wpengine.netdna-cdn.com/wp-content/themes/goldfish-swim-school/assets/images/hp-why-goldfish-3.png" %>
	<div class="column small-8 medium-3 small-order-2 medium-order-1">
		<% first_bubble = 3 %>
        <% if BubbleContent.exists?(sort_order: first_bubble) %>
			<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: first_bubble).first} %>
		<% end %>
	</div>
	<div class="column small-12 medium-6 small-order-1 medium-order-2">
		<div class="orbit" role="region" aria-label="Promo Slides" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
			<ul class="orbit-container">
			    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
			    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

			    <% i = 0 %>
				<% @live_promos.each do |promo| %>
					<%# orbit is being stupid and apparently cannot dynamically set its own height, so we just hard code it to 321 for the height of a promo image %>
				    <li class="orbit-slide">
						<% if promo.data_type == "html" %>
							<%= render :inline => promo.html_code %>
						<% else %>
							<% if promo.link == true %>
									<%= link_to image_tag(promo.image_url, alt: promo.title, class: "orbit-image"), promo.link_path, style: "cursor: pointer;" %>				
							<% else %>
									<%= image_tag promo.image_url, alt: promo.title, class: "orbit-image" %>
							<% end %>
							<figcaption class="orbit-caption"><%= promo.title %></figcaption>
						<% end %>
				    </li>
					<% i = i+1 %>
				<% end %>
			</ul>
				<% j = 0 %>
				<nav class="orbit-bullets">
					<% @live_promos.each do |promo| %>
						<% active = j == 0 ? 'class=is-active ' : '' %>
						<button <%= active %> data-slide="<%= j %>"></button>
						<% j = j + 1 %>
					<% end %>
				</nav>
		</div>
	</div>
	<div class="column small-8 medium-3 small-order-3">
		<% second_bubble = 10 %>
        <% if BubbleContent.exists?(sort_order: second_bubble) %>
			<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: second_bubble).first} %>
		<% end %>
	</div>
</div>

<!-- <div class="row align-justify">
	<div class="column small-12">
		<h1 style="font-size: 40px; margin: 0px 0px -5px -42px; text-decoration: underline;">Funny Things Kids Say</h1>
	</div>
	<%# @kid_quote.each do |t| %>
		<div class="column medium-4">
			<%#= t.quote %><br/>
			<h3 id="Name">-<%#= t.name %> (Age <%#= t.age %>)</h3>
		</div>
	<%# end %>
</div> -->


<div class="hide-for-small-only" style="height: <%= bottom_white_padding %>px; width: 100%; margin-bottom: -150px;"></div>
<div class="show-for-small-only" style="height: <%= bottom_white_padding + extra_bottom_padding_for_mobile %>px; width: 100%; margin-bottom: -150px;"></div>
	



			