<% content_for :title do %>
  Tricks Recital Info
<% end %>
<%
=begin%>
 <h1 style="margin-bottom: 50px;"><%= Time.now.year %> Winter Ball</h1> 
<%
=end%>


<div class="row align-center" >
  <div class="columns small-11" style="border: solid 3px #ddd; padding: 10px; border-radius: 10px;">
    <embed src="<%= @website_pdf.file.url %>" width="100%" height="1200px"/>
  </div>
</div>




<%
=begin%>
 <div class="row align-center" style="margin-bottom: 50px;">

  <div class="columns small-5 large-3" style="mxargin: 10px;">
    <%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 210).first} %>
  </div>
  <div class="columns small-5 large-3 large-offset-1" style="margxin: 10px;">
    <%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 211).first} %>
  </div>
</div> 

<div class="row align-center" >
  <div class="columns small-11 large-8" style="border: solid 3px #ddd; padding: 10px; border-radius: 10px;">
    <h5 style="text-align: center;">All tickets will be sold online beginning 10/27 at 9:00am</h5>
    <ol style="margin: 10px 50px;">
      <li>Visit: <a href="https://27561.danceticketing.com">https://27561.danceticketing.com</a></li>
      <li>Choose your seats on the seating chart.</li>
      <li>Tickets cost $10.00-$15.00 (including fees)</li>
      <li>You may print your tickets or show them on your smartphone to enter the theater.</li>
    </ol>

    <ul>
      <li>Anyone occupying a seat must have a ticket.</li>
      <li>Dancers in the show and Parent Volunteers do not need a ticket.</li>
      <li>Shows can sell out! Do not wait till the last minute to purchase your tickets.</li>
    </ul>
        
    <div style="text-align: center;">
      If you have any questions please give our office a call!<br><br>
      
      Sacramento: 916-481-4496<br>
      Folsom: 916-351-0024<br>
      Granite Bay: 916-791-4496<br><br>
      
      <h4>See you at the show!</h4>
    </div>
  </div>
</div>

<div class="reveal fast large" style="z-index: 1010" id="littlest_nutcracker_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
  <div class="row align-center">
    <h1>Littlest Nutcracker</h1>
  </div>
  
  <div class="row align-center">
    <div class="columns small-11">
      <% pdf = WebsitePdf.where(file_name: "Littlest_Nutcracker").first %>
      <% if !pdf.nil? %>
        <object data="<%= pdf.file.url %>" type="application/pdf" width="100%" style="min-height: 600px;"> 
          <p>It appears you don't have a PDF plugin for this browser.
            You can <a href="<%= pdf.file.url %>">click here to
          download the PDF file.</a></p>  
        </object>
      <% else %>
        <h3>Sorry, no info for the Littlest Nutcracker has been uploaded yet</h3>
      <% end %>
    </div>
  </div>
</div>

<div class="reveal fast large" style="z-index: 1010" id="winter_dance_recital_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
  <div class="row align-center">
    <h1>Winter Dance Recital</h1>
  </div>
  
  <div class="row align-center">
    <div class="columns small-11">
      <% pdf = WebsitePdf.where(file_name: "Winter_Dance_Recital").first %>
      <% if !pdf.nil? %>
        <object data="<%= pdf.file.url %>" type="application/pdf" width="100%" style="min-height: 600px;"> 
          <p>It appears you don't have a PDF plugin for this browser.
            You can <a href="<%= pdf.file.url %>">click here to
          download the PDF file.</a></p>  
        </object>
      <% else %>
        <h3>Sorry, no info for the Winter Dance Rectial has been uploaded yet</h3>
      <% end %>
    </div>
  </div>
</div> 
<%
=end%>
