<% @title = "Registration Placeholder" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div class="content">

  <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983" target="_blank">View Our Events Calendar</a><br><br>

  <a href="https://app.jackrabbitclass.com/reg.asp?id=313983" target="_blank">Click Here to Register</a><br><br>

  <!-- <script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=GB&hidecols=Description,Ages,Gender,StartDate,EndDate,Session&Cat2=Level"></script>
  <script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=GB&hidecols=Description,Ages,Gender,StartDate,EndDate,Session&Cat2=Level"></script> -->
  <% locations = {"GB" => "Granite Bay", "FOL" => "Folsom", "SAC" => "Sacramento"} %>
  <% locations.each do |loc, value| %>
    <div style="margin: 15px;">
      <h1><%= value %></h1>
      <% @levels.each do |level| %>
        <% if level.jack_rabbit_name.nil? %>
          <!-- <h3>Sorry, no classes</h3> -->
        <% else %>
          <h2><%= level.levelname %></h2>
          <% if level.color.nil? %>
            <% color = "none" %>
          <% else %>
            <% color = level.color %>
          <% end %>
          <div class="jr_class_table_container" style="background-color: <%= color %>;">
            <script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=<%= loc %>&hidecols=Class,Description,Ages,Gender,StartDate,EndDate,Session&showcols=Instructors,Duration&sort=Days,StartTime&Closed=full&Cat2=<%= level.jack_rabbit_name %>"></script>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <!--<script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=FOL&hidecols=Description,Ages,Gender,StartDate,EndDate,Session"></script>

  <script type="text/javascript" src="http://app.jackrabbitclass.com/Openings.asp?id=313983&Loc=SAC&hidecols=Description,Ages,Gender,StartDate,EndDate,Session"></script>-->

</div>