<div id="form" style="margin-top: 30px;">
  <%= form_for @coach, :html => {:multipart => true} do |f| %>
    <% if @coach.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

        <ul>
        <% @coach.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    
    
    <div class="row">
      <div class="column">
        
        <div class="row">
          <div class="column large-2 ">
            <%= image_tag(@coach.image_url(:thumb).to_s, style: "width: 100%; margin-bottom: 15px;") %>
            
            <%= f.label :image, "Upload Image", class: "button expanded success" %>
            <%= f.file_field :image, class: "show-for-sr" %>
            
            <% if @coach.image_url != "/assets/boy_default.jpg" && @coach.image_url != "/assets/girl_default.jpg" %>
              <%= f.check_box :remove_image %> Remove Picture
            <% end %>
          </div>
          <div class="column">
            <div class="row">
              
              <div class="column large-4 ">
                <div class="input-group">
                  <%= f.label :firstname, "First Name", class: "input-group-label" %>
                  <%= f.text_field :firstname, class: "input-group-field" %>
                </div>
              </div>
              <div class="column large-4 ">
                <div class="input-group">
                  <%= f.label :lastname, "Last Name", class: "input-group-label", "aria-describedby":"lastnameHelpText" %>
                  <%= f.text_field :lastname, class: "input-group-field", "aria-describedby":"lastnameHelpText" %>
                </div>
                <p class="help-text">(Not Displayed unless logged in)</p>
              </div>
              <div class="column large-4 ">
                <div class="input-group">
                  <%= f.label :current_employee, "Current Employee", class: "input-group-label" %>
                  <%= f.check_box :current_employee, style: "margin-left: 15px;", class: "input-group-field" %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="column large-4 ">
                <div class="input-group">
                  <%= f.label :gender, class: "input-group-label" %>
                  <%= f.radio_button :gender, "Girl", checked: true, class: "input-group-field", style: "margin-left: 15px;"%>
                  <%= label_tag(:gender , "Girl", style: "margin-right: 20px;") %>
                  <%= f.radio_button :gender, "Boy", class: "input-group-field" %>
                  <%= label_tag(:gender, "Boy") %>
                </div>
              </div>
              
              <div class="column large-4 ">
                <div class="input-group">
                  <%= f.label :birthdate, class: "input-group-label" %>
                  <%#= date_select("coach", "birthdate", :default => Date.today, :order => [:month, :day]) %>
                  <%= f.text_field :birthdate, id:'birth_date', class: "input-group-field" %>
                </div>
              </div>
              
              <div class="column large-4 ">
                <div class="input-group">
                  <%= f.label :startdate, "Start Date at Tricks:", class: "input-group-label" %>
                  <%= f.text_field :startdate, :default => Date.today, id:'start_date', class: "input-group-field" %>
                  <%#= date_select("coach", "startdate", :default => Date.today, :order => [:month, :day, :year], :start_year => 1990, :end_year => Date.today.year + 3) %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="column large-6 ">
                <div class="input-group">
                  <%= f.label :strengths, class: "input-group-label" %>
                  <%= f.text_field :strengths, class: "input-group-field" %>
                </div>
              </div>
              <div class="column large-6 ">
                <div class="input-group">
                  
                  <%= f.label :location_ids, "Locations:", class: "input-group-label" %>
                  <%= hidden_field_tag "coach[location_ids][]", nil %>
                  <% Location.all.each do |location| %>
                    <!--<div>-->
                      <%= check_box_tag "coach[location_ids][]", location.id, @coach.location_ids.include?(location.id), id: dom_id(location), class: "input-group-field", style: "margin-left:15px;" %>
                      <%= label_tag dom_id(location), location.name %>
                    <!--</div>-->
                  <% end %>
                  
                </div>
              </div>
            </div>
              
              
            <div class="row">
              <div class="column large-12">
                <div class="input-group">
                  
                  <%= f.label :classtype_ids, "Fields Employee works in:", class: "input-group-label" %>      
                  <%= hidden_field_tag "coach[classtype_ids][]", nil %>
                  <% Classtype.order(:id).each do |classtype| %>
                    <%= check_box_tag "coach[classtype_ids][]", classtype.id, @coach.classtype_ids.include?(classtype.id), id: dom_id(classtype), class: "input-group-field", style: "margin-left:15px;" %>
                    <%= label_tag dom_id(classtype), classtype.name %>
                  <% end %>        
                  <!--<div>If Office, please select one of these:  <%#= hidden_field_tag "coach[level_ids][]", nil %></div>-->
                  <!--<%# Level.where(:classtype_id => "9").each do |level| %>-->
                  <!--  <%#= check_box_tag "coach[level_ids][]", level.id, @coach.level_ids.include?(level.id), id: dom_id(level) %>-->
                  <!--  <%#= label_tag dom_id(level), level.levelname %>-->
                  <!--<%# end %>-->
              
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
              <div class="column large-4 " id="tag_image_container">
                <div class="row">
                  <% if @coach.tag_image_url != "/assets/boy_default.jpg" && @coach.tag_image_url != "/assets/girl_default.jpg" %>
                    <div class="column large-4">
                      <%= image_tag @coach.tag_image_url %>
                    </div>
                    <div class="column">
                      <div class="input-group">
                        <div>
                          <%= f.label :tag_image, "Upload TAG Image", class: "button success" %>
                          <%= f.file_field :tag_image, class: "show-for-sr" %><br>
                          
                          <%= f.check_box :remove_tag_image %> Remove Picture
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="column">
                      <div class="input-group">
                        <div>
                          <%= f.label :tag_image, "Upload TAG Image", class: "button success" %>
                          <%= f.file_field :tag_image, class: "show-for-sr" %><br>
                          
                          <%= f.check_box :remove_tag_image %> Remove Picture
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>              
            </div>
          </div>
        </div>
        
        <!--This is the row after the picture has ended-->
        <div class="row">
          <div class="column small-12">
            <label class="input-group-label" style="font-size: 18px;">Levels Coach is trained to teach:</label>
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
           <!--Gymnastics-->
          <div class="column large-3 small-6">
            <h4 style="text-align: center;">Gymnastics</h4>
            <%= hidden_field_tag "coach[level_ids][]", nil %>
            <% Level.where(:classtype_id => "1").each do |level| %>
              <%= check_box_tag "coach[level_ids][]", level.id, @coach.level_ids.include?(level.id), id: dom_id(level) %>
              <%= label_tag dom_id(level), level.levelname %><br>
            <% end %> 
          </div>
    
            <!--Tumblebunnies-->
          <div class="column large-3 small-6">
            <h4 style="text-align: center;">Tumblebunnies</h4>
            <%= hidden_field_tag "coach[level_ids][]", nil %>
            <% Level.where(:classtype_id => "2").each do |level| %>
              <%= check_box_tag "coach[level_ids][]", level.id, @coach.level_ids.include?(level.id), id: dom_id(level) %>
              <%= label_tag dom_id(level), level.levelname %><br>
            <% end %>  
          </div>
          
          
          <!--TAG & Swim-->
          <div class="column large-3 small-6">
            <div style="margin-bottom: 15px;">
              <h4 style="text-align: center;">TAG</h4>
              <%= hidden_field_tag "coach[level_ids][]", nil %>
              <% Level.where(:classtype_id => "5").each do |level| %>
                <%= check_box_tag "coach[level_ids][]", level.id, @coach.level_ids.include?(level.id), id: dom_id(level) %>
                <%= label_tag dom_id(level), level.levelname %><br>
              <% end %> 
            </div>
            <div>
              <h4 style="text-align: center;">Swim</h4>
              <%= hidden_field_tag "coach[level_ids][]", nil %>
              <% Level.where(:classtype_id => "4").each do |level| %>
                <%= check_box_tag "coach[level_ids][]", level.id, @coach.level_ids.include?(level.id), id: dom_id(level) %>
                <%= label_tag dom_id(level), level.levelname %><br>
              <% end %>  
            </div>
          </div>
          
          
          
            <!--Dance-->
          <div class="column large-3 small-6">
                <h4 style="text-align: center;">Dance</h4>
                <%= hidden_field_tag "coach[level_ids][]", nil %>
                <% Level.where(:classtype_id => "3").each do |level| %>
                  <%= check_box_tag "coach[level_ids][]", level.id, @coach.level_ids.include?(level.id), id: dom_id(level) %>
                  <%= label_tag dom_id(level), level.levelname %><br>
                <% end %>  
              </div>
        </div>
        
        
        
        <div class="row">
          <div class="column large-12">
            <div class="input-group">
              <%= f.label :fav_event, "Favorite Activity and Why:", class: "input-group-label" %>
              <%= f.text_field :fav_event, class: "input-group-field" %>
            </div>
            
            <div class="input-group">
              <%= f.label :fav_skill, "Favorite Skill and Why:", class: "input-group-label" %>
              <%= f.text_field :fav_skill, class: "input-group-field" %>
            </div>
            
            <div class="input-group">
              <%= f.label :fav_food, "Favorite Food:", class: "input-group-label" %>
              <%= f.text_field :fav_food, class: "input-group-field" %>
            </div>
            
            <div class="input-group">
              <%= f.label :disney_char, "If you could be a Disney Character, who would you be?", class: "input-group-label" %>
              <%= f.text_field :disney_char, class: "input-group-field" %>
            </div>
            
            <%= f.label :experience, class: "input-group-label" %>
            <%= f.text_area :experience, style: "height: 150px" %>
            
            <%= f.label :advice, "Advice for Students:", class: "input-group-label" %>
            <%= f.text_area :advice, style: "height: 150px" %>
          </div>
          
          <div class="column">
            <div class="row align-center" style="margin-top: 50px;">
              <div class="column large-8 ">
                <%= f.submit class: "button expanded" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>