<div id="form" style="margin-top: 30px;">
  <%= form_for @coach, :html => {:multipart => true} do |f| %>
    <% if @coach.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>
        <ul>
        <% @coach.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="columns large-2 ">
        <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image_new, image: @coach.image_new, uses_active_storage: true} %>
        
        <div id="tag_image_container">
          <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :tag_image_new, button_text: "Tag Image", image: @coach.tag_image_new, uses_active_storage: true} %>
        </div>
      </div>
      <div class="columns">
        <div class="row">
          <div class="columns large-6 ">
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :firstname, label: "First Name"} %>
          </div>
          <div class="columns large-6 ">
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :lastname, label: "Last Name", help_text: "Not Displayed unless logged in"} %>
          </div>
          <div class="columns large-6 ">
            <%= render partial: 'helper_fields/radio_buttons', locals: {form: f, field: :gender, array: {girl: "Girl", boy: "Boy"}} %>
          </div>
          <div class="columns large-6 ">
            <%= render partial: 'helper_fields/switch', locals: {form: f, field: :current_employee, question: "Current Employee?"} %>
          </div>
          <div class="columns large-6 ">
            <%= render partial: 'helper_fields/date', locals: {form: f, field: :birthdate} %>
          </div>
          <div class="columns large-6 ">
            <%= render partial: 'helper_fields/date', locals: {form: f, field: :startdate, label: "Start Date at Tricks:", default_date: Date.today} %>
          </div>
          <div class="columns small-12 ">
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :strengths} %>
          </div>
          <div class="columns small-12 ">
            <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :location_ids, label: "Locations", array: Location.all, second_field: :name} %>
          </div>
          <div class="columns small-12">
            <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :classtype_ids, label: "Fields Employee works in:", array: Classtype.order(:id), second_field: :name} %>
          </div>
          <div class="columns small-12">
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :fav_event, label: "Favorite Event (gym)/genre (dance) and why?"} %>
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :fav_skill, label: "Favorite skill or step to do and why?"} %>
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :fav_food, label: "Favorite Food"} %>
            <%= render partial: 'helper_fields/text', locals: {form: f, field: :disney_char, label: "If you could be a Disney Character, who would you be and why?"} %>
            <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :experience, question: "Experience with gymnastics/dance/swim/office/hosting:", height: 100} %>
            <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :advice, question: "Advice for Students:", height: 100} %>
          </div>
        </div>
      </div>
    </div>
    
    <!--This is the row after the picture has ended-->
    <div class="row">
      <div class="columns small-12">
        <label class="input-group-label" style="font-size: 18px;">Levels Coach is trained to teach:</label>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
       <!--Gymnastics-->
      <div class="columns large-3 small-6">
        <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :level_ids, array: Level.where(:classtype_id => "1"), second_field: :levelname, label: "Gymnastics", vertical: true} %>
      </div>
        <!--Tumblebunnies-->
      <div class="columns large-3 small-6">
        <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :level_ids, array: Level.where(:classtype_id => "2"), second_field: :levelname, label: "Tumblebunnies", vertical: true} %>
      </div>
      <!--TAG & Swim-->
      <div class="columns large-3 small-6">
        <div style="margin-bottom: 15px;">
          <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :level_ids, array: Level.where(:classtype_id => "5"), second_field: :levelname, label: "TAG", vertical: true} %>
        </div>
        <div>
          <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :level_ids, array: Level.where(:classtype_id => "4"), second_field: :levelname, label: "Swim", vertical: true} %>
        </div>
      </div>
      <!--Dance-->
      <div class="columns large-3 small-6">
        <%= render partial: 'helper_fields/multi_select_buttons', locals:{form: f, field: :level_ids, array: Level.where(:classtype_id => "3"), second_field: :levelname, label: "Dance", vertical: true} %>
      </div>
    </div>
    
    <div class="row align-center" style="margin-top: 50px;">
      <div class="columns large-8 ">
        <%= f.submit class: "button expanded" %>
      </div>
    </div>
  <% end %>
</div>