<%= stylesheet_link_tag "coaches", :media => "all" %>

<style>

#location{width: 948px; border: 2px #444 solid; background-color: #FFFA5E; float: left; color: #222;}
h2{
  padding: 4px;
  font-size: 20px;
}

</style>

<h1>The Tricks Family</h1>

<% if can? :manage, Coach %>
<h3 style="text-align:center;"><%= link_to 'Add New Employee', new_coach_path %></h3>
<br />
<% end %>
<br />
<!-- 

<p style="font-size: 18px; text-align: center;">
<b> <%#= link_to "Gymnastics", {:controller => "coaches", :action => "type", :name => "Gymnastics"} %> </b>
<b> <%#= link_to "Tumblebunnies", {:controller => "coaches", :action => "type", :name => "Tumblebunnies"} %> </b>
<b> <%#= link_to "Dance", {:controller => "coaches", :action => "type", :name => "Dance"} %> </b>
<b> <%#= link_to "Swim", {:controller => "coaches", :action => "type", :name => "Swim"} %> </b>
<b> <%#= link_to "Office", {:controller => "coaches", :action => "type", :name => "Office"} %> </b>
</p>
 -->
 
<div>
  <div id="location"><h3>Granite Bay</h3></div>
  <div>
    <% @coaches.each do |coach| %>
      <% coach.locations.each do |location| %>
        <% if location.name == "Granite Bay" %>
          <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
            <h2 style="font-size: 13px; padding: 3px;"><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h2>
            <div style="width: 115px; margin: 0 auto">
              <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>  
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div>
  <div id="location"><h3>Folsom</h3></div>
  <div>
    <% @coaches.each do |coach| %>
      <% coach.locations.each do |location| %>
        <% if location.name == "Folsom" %>
          <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
            <h2 style="font-size: 13px; padding: 3px;"><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h2>
            <div style="width: 115px; margin: 0 auto">
              <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div id="location"><h3>Sacramento</h3></div>
  <div>
    <% @coaches.each do |coach| %>
      <% coach.locations.each do |location| %>
        <% if location.name == "Sacramento" %>
          <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
            <h2 style="font-size: 13px; padding: 3px;"><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h2>
            <div style="width: 115px; margin: 0 auto">
              <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>