<%= stylesheet_link_tag "coaches", :media => "all" %>

<h1>Meet the Coaches</h1>

<h3 style="text-align:center;"><%= link_to 'New Coach', new_coach_path %></h3>
<br />
<br />

<!-- <div style="width: 900px; margin: 20px 50px; float: left">
  <div style="float:left; margin-right: 20px;">
    <%#= form_tag coaches_path, :method => 'get', :id => "locations_search" do %>
      <%#= select_tag "location", options_for_select(Location.pluck(:name).uniq.sort, params[:location]), :onchange => "this.form.submit();", :prompt => "Location (Show All)" %>
    <%# end %>
  </div>
</div> -->




<div>
  <div style="width: 948px; border: 2px #444 solid; background-color: #ccc; overflow: auto;"><h1>Granite Bay</h1></div>
  <div>
    <% @coaches.each do |coach| %>
      <% coach.locations.each do |location| %>
        <% if location.name == "Granite Bay" %>
          <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
            <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
            <div style="width: 115px; margin: 0 auto">
              <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>
              <%= location.name %>    
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div>
  <div style="width: 948px; border: 2px #444 solid; background-color: #ccc; overflow: auto;"><h1>Folsom</h1></div>
  <div>
    <% @coaches.each do |coach| %>
      <% coach.locations.each do |location| %>
        <% if location.name == "Folsom" %>
          <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
            <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
            <div style="width: 115px; margin: 0 auto">
              <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div style="width: 948px; border: 2px #444 solid; background-color: #ccc; overflow: auto;"><h1>Sacramento</h1></div>
  <div>
    <% @coaches.each do |coach| %>
      <% coach.locations.each do |location| %>
        <% if location.name == "Sacramento" %>
          <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
            <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
            <div style="width: 115px; margin: 0 auto">
              <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>