<%= stylesheet_link_tag "static/coaches", :media => "all" %>

<h1>The Tricks Family</h1>

<% if params[:name] == "Granite Bay" %>
  <h2>Granite Bay (est. 1990)</h2>
<% elsif params[:name] == "Folsom" %>
  <h2>Folsom (est. 1993)</h2>
<% elsif params[:name] == "Sacramento" %>
  <h2>Sacramento (est. 1997)</h2>
<% end %>

<% if can? :manage, Coach %>
  <br><h2><%= link_to 'Add New Employee', new_coach_path %></h2><br>
<% else %>
  <br><br>
<% end %>


<div>
  <div id="coach_section_header"><h3>Gymnastics</h3></div>
  <div>
    <% @coaches_by_location.each do |coach| %>  
      <% shown = false %>  
      <% coach.classtypes.each do |classtype| %>        
        <% if shown == false %>
          <% if classtype.name == "Gymnastics" || classtype.name == "Tumblebunnies" %>          
            <%= render 'coach_container', :coach => coach  %>
          <% end %>
          <% shown = true %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div id="coach_section_header" style="margin-top: 30px"><h3>Dance</h3></div>
  <div>
    <% @coaches_by_location.each do |coach| %>    
      <% coach.classtypes.each do |classtype| %>
        <% if classtype.name == "Dance" %>          
          <%= render 'coach_container', :coach => coach  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if params[:name] == "Folsom" %>
  <div>
    <div id="coach_section_header" style="margin-top: 30px"><h3>Swim</h3></div>
    <div>
      <% @coaches_by_location.each do |coach| %>    
        <% coach.classtypes.each do |classtype| %>
          <% if classtype.name == "Swim" %>
            <%= render 'coach_container', :coach => coach  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <div id="coach_section_header" style="margin-top: 30px"><h3>Office</h3></div>
  <div>
    <% @coaches_by_location.each do |coach| %>    
      <% coach.classtypes.each do |classtype| %>
        <% if classtype.name == "Office" %>
          <%= render 'coach_container', :coach => coach  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>