<%= stylesheet_link_tag "FileSpecificCSS/coaches", :media => "all" %>

<h1>The Tricks Family</h1>

<h3>
<% content_for :title do %>
	<%= "Tricks - "+params[:name]+ " Staff " %>
  <% end %>
<% if params[:name] == "Granite Bay" %>
  Granite Bay (est. 1990)
<% elsif params[:name] == "Folsom" %>
  Folsom (est. 1993)
<% elsif params[:name] == "Sacramento" %>
  Sacramento (est. 1997)
<% end %>
</h3>

<% if can? :manage, Coach %>
  <h3><%= link_to 'Add New Employee', new_coach_path %></h3>
<% end %>


  <div class="row align-center gymnastics" id="classtype-container">
    <div class="columns small-12">
      <h2>Gymnastics</h2>
    </div>
    <% @coaches_by_location.each do |coach| %>    
      <% shown = false %>  
      <% coach.classtypes.each do |classtype| %>     
        <% if shown == false %>
          <% if classtype.name == "Gymnastics" || classtype.name == "Tumblebunnies" %>
              <%= render partial: 'coach_container', locals: {coach: coach } %>
              <% shown = true %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="row align-center tag" id="classtype-container">
    <div class="columns small-12">
      <h2>TAG</h2>
    </div>
    <% @coaches_by_location.each do |coach| %>  
      <% coach.classtypes.each do |classtype| %>    
        <% if classtype.name == "TAG" %>          
          <%= render partial: 'coach_container', locals: {coach: coach, tag: true } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="row align-center dance" id="classtype-container">
    <div class="columns small-12">
      <h2>Dance</h2>
    </div>
    <% @coaches_by_location.each do |coach| %>    
      <% coach.classtypes.each do |classtype| %>
        <% if classtype.name == "Dance" %>
          <%= render 'coach_container', :coach => coach  %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% if params[:name] == "Folsom" %>
  <div class="row align-center swim" id="classtype-container">
    <div class="columns small-12">
      <h2>Swim</h2>
    </div>
    <% @coaches_by_location.each do |coach| %>    
      <% coach.classtypes.each do |classtype| %>
        <% if classtype.name == "Swim" %>
          <%= render 'coach_container', :coach => coach  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="row align-center office" id="classtype-container">
  <div class="columns small-12">
    <h2>Office & Hosts</h2>
  </div>
  <% @coaches_by_location.each do |coach| %>    
    <% coach.classtypes.each do |classtype| %>
      <% if classtype.name == "Office" %>
        <%= render 'coach_container', :coach => coach  %>
      <% end %>
    <% end %>
  <% end %>
</div>