<%= stylesheet_link_tag "FileSpecificCSS/coaches", :media => "all" %>
<div class="row" style="padding-top: 20px; margin-bottom: 150px;">
  <div class="columns large-3 " style="text-align:center;">
    <div class="row">
      <div class="columns small-12">
        <% image_to_use = @coach.image.thumb %>
        <% if (params[:use_tag_picture].to_i == 1 || image_to_use.file.nil?) && (!@coach.tag_image.thumb.to_s.include? "default") %>
          <% image_to_use = @coach.tag_image.thumb %>
        <% end  %>
        <% if image_to_use.file.nil? %>
          <% image_to_use = @coach.image.default_url %>
        <% end %>
        <%= image_tag image_to_use, style: "border: 2px solid #333; box-shadow: 0 0 15px #333;" %>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12">
        <% if can? :edit, Coach %>
          <%= link_to 'Edit', edit_coach_path(@coach) %> |
        <% end %>
        <% if can? :manage, Coach %>
          <%= link_to 'Delete', @coach, method: :delete, data: { confirm: 'This will permanantly delete the record for this employee, if you would like to keep the record, but remove it from the publicly viewable list, just click edit, and uncheck the "Current Employee" box under their name. Do you still want to delete this record?' } %>
        <% end %>
        <h3><% if can? :manage, Coach %><%= @coach.firstname %> <%= @coach.lastname %><% else %><%= @coach.firstname %><% end %></h3>
        
        <% if @coach.birthdate.nil? %>
        <% else %>
          <b>Birthday:</b>
          <%= @coach.birthdate.strftime("%B %e") %><br style="line-height: 25px" />
        <% end %>
        <% if can? :manage, Coach %>
          <% if @coach.current_employee? %>
            <b>Current Employee</b>
          <% else %>
            <b>Previously Employed</b>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="columns">
      
    <% if can? :manage, Coach %>
      <% if @coach.startdate.nil? %>
      <% else %>
        <p style="margin-top:0;"><b>Start Date:</b>
        <%= @coach.startdate.strftime("%B %e, %Y") %></p>
      <% end %>
      <% if @coach.strengths == nil %>
      <% else %>
        <p><b>Strengths:</b> <%= @coach.strengths %></p>
      <% end %>
    <% end %>
    
    <% 
      teaches = false;
      office = false;
      @coach.classtypes.all.each do |type|
        if type.name == "Gymnastics" || type.name == "Tumblebunnies" || type.name == "TAG" || type.name == "Dance" || type.name == "Swim"
          teaches = true
        end
        if type.name == "Office"
          office = true
        end
      end
      
      doing_text = ""
      if teaches
        doing_text = ", teaching " + @coach.classtypes.where(:id => 1..5).map(&:name).join(' and ') 
      end
      if office
        if teaches
          doing_text += " and in the Office"
        else
          doing_text += ", in the Office"
        end
      end
      
    %>
    
    
    
    
    <p><b><% if @coach.gender == "Girl" || @coach.gender == "girl" %> Miss <% else %> Mr. <% end %><%= @coach.firstname %> works in: </b><%= @coach.locations.map(&:name).join(' and ')%><%= doing_text %></p>

    <% if can? :manage, Coach %>
      <div style="width: 100%; float:left; margin-bottom: -10px;">
        <p style="margin-bottom: 0px;"><b>Levels <% if @coach.gender == "Girl" || @coach.gender == "girl" %> Miss <% else %> Mr. <% end %><%= @coach.firstname %> teaches:</b></p>
        <div>
          <% @coach_levels.each do |classtype, levels| %>
            <div style="float:left; margin: 0px 35px 30px 10px;">
              <h3 style="margin:3px 0px; text-decoration:underline; font-size: 14px;"><% if(classtype == 1) %>Gymnastics<% elsif(classtype == 2) %>Tumblebunnies<% elsif(classtype == 3) %>Dance<% elsif(classtype == 4) %>Swim<% elsif(classtype == 5) %>TAG<% end %></h3>
              <ul style="margin: 0px 0px 0px 20px">
                <% unless classtype == 9 %>
                  <% levels.each do |level| %>
                    <li><%= level.levelname %></li>
                  <% end %>
                <% end %>
              </ul>      
            </div>
          <% end %>
        </div>
      </div>
    <% end %>    
  
    <% if @coach.experience == "" %>
    <% else %>
      <p><b>Experience:</b>
      <%= @coach.experience %></p>
    <% end %>
  
    <% if @coach.fav_event == "" %>
    <% else %>
      <p><b>Favorite Activity and Why:</b>
      <%= @coach.fav_event %></p>
    <% end %>
  
    <% if @coach.fav_skill == "" %>
    <% else %>
      <p><b>Favorite Skill and Why:</b>
      <%= @coach.fav_skill %></p>
    <% end %>
  
    <% if @coach.fav_food == "" %>
    <% else %>
      <p><b>Favorite Food:</b>
      <%= @coach.fav_food %></p>
    <% end %>
  
    <% if @coach.disney_char == "" %>
    <% else %>
      <p><b>If <%= @coach.firstname %> could be any Disney Character,<% if @coach.gender == "Girl" || @coach.gender == "girl" %> she <% else %> he <% end %> would be:</b>
      <%= @coach.disney_char %></p>
    <% end %>  
    
    <% if @coach.advice == "" %>
    <% else %>
      <p style="margin-bottom:0;"><b>Advice for Students:</b>
      <%= @coach.advice %></p>
    <% end %>
  </div>
</div>