<%= stylesheet_link_tag "coaches", :media => "all" %>

<div style="text-align: center; float: left; width: 250px; margin: 10px 10px 20px 0px">
  <div style="float:center; height: 295px">
    <%= image_tag @coach.image_url(:thumb).to_s, :border => "4px solid;" %>
  </div>  
  <div style="margin-top: 10px">
    <% if can? :edit, Coach %>
      <%= link_to 'Edit', edit_coach_path(@coach) %> |
    <% end %>
    <% if can? :manage, Coach %>
      <%= link_to 'Destroy', @coach, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
    <%= link_to 'Back', coaches_path %>
    <h2 style="margin-top: 15px"><% if can? :manage, Coach %><%= @coach.firstname %> <%= @coach.lastname %><% else %><%= @coach.firstname %><% end %></h2>
    
    <% if @coach.birthdate.nil? %>
    <% else %>
      <b>Birthday:</b>
      <%= @coach.birthdate.strftime("%B %e") %><br style="line-height: 25px" />
    <% end %>
  </div>
</div>


<div style="float:left; margin: 10px 0px 10px 0px; width: 650px; border: 1px solid #999; padding: 3px 10px; text-align: justified;">

  <% if can? :manage, Coach %>
    <% if @coach.startdate.nil? %>
    <% else %>
      <p style="margin-top:0;"><b>Start Date:</b>
      <%= @coach.startdate.strftime("%B %e, %Y") %></p>
    <% end %>
    <% if @coach.strengths == nil %>
    <% else %>
      <p><b>Strengths:</b> <%= @coach.strengths %></p>
    <% end %>
  <% end %>

  <!-- For people who work outside the office -->
  <%# unless @coach.classtypes.pluck(:name).include? "Office" %>
    
  <div style="font-size: 14px;">       
    <b><% if @coach.gender == "Girl" %> Miss <% else %> Mr. <% end %><%= @coach.firstname %> works in: </b>
    <%= @coach.locations.map(&:name).join(' and ')%>, teaching <%= @coach.classtypes.where(:id => 1..4).map(&:name).join(' and ') %>
  </div>

  <% if can? :manage, Coach %>
    <div style="width: 100%; float:left; margin-bottom: -10px;">
      <p style="margin-bottom: 0px;"><b>Levels <% if @coach.gender == "Girl" %> Miss <% else %> Mr. <% end %><%= @coach.firstname %> teaches:</b></p>
      <div>
        <% @coach_levels.each do |classtype, levels| %>
          <div style="float:left; margin: 0px 35px 30px 10px;">
            <h3 style="margin:3px 0px; text-decoration:underline; font-size: 14px;"><% if(classtype == 1) %>Gymnastics<% elsif(classtype == 2) %>Tumblebunnies<% elsif(classtype == 3) %>Dance<% elsif(classtype == 4) %>Swim<% end %></h3>
            <ul style="margin: 0px 0px 0px 20px">
              <% unless classtype == 9 %>
                <% levels.each do |level| %>
                  <li><%= level.levelname %></li>
                <% end %>
              <% end %>
            </ul>      
          </div>
        <% end %>
      </div>
    </div>
  <% end %>    

  <!-- for people inside the office -->
  <!-- <%# else %>        
    <b><%# if @coach.gender == "Girl" %> Miss <%# else %> Mr. <%# end %><%#= @coach.firstname %> works in: </b>
    <%#= @coach.locations.map(&:name).join(' and ')%>,  <%#= @coach.classtypes.where(:id => 1..4).map(&:name).join(' and ') %>
  <%# end %> -->
  

  <% if @coach.experience == "" %>
  <% else %>
    <p><b>Experience:</b>
    <%= @coach.experience %></p>
  <% end %>

  <% if @coach.fav_event == "" %>
  <% else %>
    <p><b>Favorite Activity and Why:</b>
    <%= @coach.fav_event %></p>
  <% end %>

  <% if @coach.fav_skill == "" %>
  <% else %>
    <p><b>Favorite Skill and Why:</b>
    <%= @coach.fav_skill %></p>
  <% end %>

  <% if @coach.fav_food == "" %>
  <% else %>
    <p><b>Favorite Food:</b>
    <%= @coach.fav_food %></p>
  <% end %>

  <% if @coach.disney_char == "" %>
  <% else %>
    <p><b>If <%= @coach.firstname %> could be any Disney Character,<% if @coach.gender == "Girl" %> she <% else %> he <% end %> would be:</b>
    <%= @coach.disney_char %></p>
  <% end %>  
  
  <% if @coach.advice == "" %>
  <% else %>
    <p style="margin-bottom:0;"><b>Advice for Students:</b>
    <%= @coach.advice %></p>
  <% end %>
</div>
