<%= stylesheet_link_tag "coaches", :media => "all" %>

<div style="text-align: center; float: left; width: 250px; margin: 10px 10px 20px 0px">
  <div style="float:center; height: 250px">
    <%= image_tag @coach.image_url(:thumb).to_s, :border => "4px solid;" %>
  </div>  
  <div style="margin-top: 10px">
    <%= link_to 'Edit', edit_coach_path(@coach) %> |
    <%= link_to 'Destroy', @coach, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', coaches_path %>
    <h2 style="margin-top: 15px"><%= @coach.firstname %> <%= @coach.lastname %></h2>
    
    <% if @coach.birthdate.nil? %>
    <% else %>
      <b>Birthday:</b>
      <%= @coach.birthdate.strftime("%B %e") %><br style="line-height: 25px" />
      <b>Age:</b>
      <%= ((Date.today - @coach.birthdate)/365.2422).to_i %>
    <% end %>
  </div>
</div>


<div style="float:left; margin: 10px 0px 10px 0px; width: 650px; border: 1px solid #999; padding: 3px 10px; text-align: justified;">

  <% if @coach.startdate.nil? %>
  <% else %>
    <p style="margin-top:0;"><b>Start Date:</b>
    <%= @coach.startdate.strftime("%B %e, %Y") %></p>
  <% end %>

  <% if @coach.location == "" %>
  <% else %>
    <p><b>Works at:</b>
    <%= @coach.location %></p>
  <% end %>

  <div style="font-size: 14px">
    <b>Levels <% if @coach.gender == "Girl" %> Miss <% else %> Mr. <% end %><%= @coach.firstname %> teaches:</b>
    <ul style="margin: 0px 0px 0px 50px">
      <% @coach.levels.each do |level| %>
        <li><%= level.levelname %></li>
      <% end %>
    </ul>
  </div>

  <% if @coach.experience == "" %>
  <% else %>
    <p><b>Experience:</b>
    <%= @coach.experience %></p>
  <% end %>

  <% if @coach.fav_event == "" %>
  <% else %>
    <p><b>Favorite Event and Why:</b>
    <%= @coach.fav_event %></p>
  <% end %>

  <% if @coach.fav_skill == "" %>
  <% else %>
    <p><b>Favorite Skill and Why:</b>
    <%= @coach.fav_skill %></p>
  <% end %>

  <% if @coach.fav_food == "" %>
  <% else %>
    <p><b>Favorite Food:</b>
    <%= @coach.fav_food %></p>
  <% end %>

  <% if @coach.disney_char == "" %>
  <% else %>
    <p><b>If <%= @coach.firstname %> could be any Disney Character,<% if @coach.gender == "Girl" %> she <% else %> he <% end %> would be:</b>
    <%= @coach.disney_char %></p>
  <% end %>  
  
  <% if @coach.advice == "" %>
  <% else %>
    <p style="margin-bottom:0;"><b>Advice for Students:</b>
    <%= @coach.advice %></p>
  <% end %>
</div>
