<%= stylesheet_link_tag "coaches", :media => "all" %>
<style>

#location{width: 948px; border: 2px #444 solid; background-color: #FFFA5E; float: left; color: #222;}
h2{
  padding: 4px;
  font-size: 20px;
}

</style>

<h1>The Tricks Family</h1>

<% if params[:name] == "Gymnastics" %>
  <h3>Gymnastics Coaches</h3>
<% elsif params[:name] == "Tumblebunnies" %>
  <h3>Tumblebunny Coaches</h3>
<% elsif params[:name] == "Dance" %>
  <h3>Dance Teachers</h3>
<% elsif params[:name] == "Swim" %>
  <h3>Swim Teachers</h3>
<% elsif params[:name] == "Office" %>
  <h3>Office Staff</h3>
<% end %>


<% if can? :manage, Coach %>
  <br />
  <h3 style="text-align:center;"><%= link_to 'Add New Employee', new_coach_path %></h3>
  <br />
  <% end %>
<br />

<% if params[:name] == "Swim" %>
  <div>
    <div id="location"><h2>Folsom</h2></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Folsom" %>
            <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
              <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% else %>

  <div>
    <div id="location"><h2>Granite Bay</h2></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Granite Bay" %>
            <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
              <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>  
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <div>
    <div id="location"><h2>Folsom</h2></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Folsom" %>
            <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
              <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <div id="location"><h2>Sacramento</h2></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Sacramento" %>
            <div style="float:left; width: 158px; text-align: center;  margin-bottom: 15px;">
              <h2 style="font-size: 13px; padding: 3px;"><%= link_to coach.firstname+" "+coach.lastname, coach %></h2>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
