<%= stylesheet_link_tag "static/coaches", :media => "all" %>

<h1>The Tricks Family</h1>

<% if params[:name] == "Gymnastics" %>
  <h2>Gymnastics Coaches</h2>
<% elsif params[:name] == "Tumblebunnies" %>
  <h2>Tumblebunny Coaches</h2>
<% elsif params[:name] == "Dance" %>
  <h2>Dance Teachers</h2>
<% elsif params[:name] == "Swim" %>
  <h2>Swim Teachers</h2>
<% elsif params[:name] == "Office" %>
  <h2>Customer Service Specialists</h2>
<% end %>


<% if can? :manage, Coach %>
  <br><h2><%= link_to 'Add New Employee', new_coach_path %></h2><br>
<% else %>
  <br><br>
<% end %>

<% if params[:name] == "Swim" %>
  <div>
    <div id="coach_section_header"><h3>Folsom</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Folsom" %>
            <div id="coach_container">
              <h6><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h6>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif params[:name] == "Dance" %>
  <div>
    <% @coaches.each do |coach| %>
      <div id="coach_container">
        <h6><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h6>
        <div style="width: 115px; margin: 0 auto">
          <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
        </div>
      </div>
    <% end %>
  </div>
  
<% else %>

  <div>
    <div id="coach_section_header"><h3>Granite Bay</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Granite Bay" %>
            <div id="coach_container">
              <h6><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h6>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>  
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <div>
    <div id="coach_section_header" style="margin-top: 30px"><h3>Folsom</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Folsom" %>
            <div id="coach_container">
              <h6><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h6>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <div id="coach_section_header" style="margin-top: 30px"><h3>Sacramento</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Sacramento" %>
            <div id="coach_container">
              <h6><% if can? :manage, Coach %><%= link_to coach.firstname+" "+coach.lastname, coach %><% else %><%= link_to coach.firstname, coach %><% end %></h6>
              <div style="width: 115px; margin: 0 auto">
                <%= link_to image_tag(coach.image_url(:small_thumb).to_s), coach %>      
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
