<%= stylesheet_link_tag "FileSpecificCSS/coaches", :media => "all" %>

<h1>The Tricks Family</h1>

<% if params[:name] == "Gymnastics" %>
  <h2>Gymnastics Coaches</h2>
<% elsif params[:name] == "Tumblebunnies" %>
  <h2>Tumblebunny Coaches</h2>
<% elsif params[:name] == "Dance" %>
  <h2>Dance Teachers</h2>
<% elsif params[:name] == "Swim" %>
  <h2>Swim Teachers</h2>
<% elsif params[:name] == "Office" %>
  <h2>Customer Service Specialists</h2>
<% end %>


<% if can? :manage, Coach %>
  <br><h2><%= link_to 'Add New Employee', new_coach_path %></h2><br>
<% else %>
  <br><br>
<% end %>

<% if params[:name] == "Swim" %>
  <div>
    <div id="coach_section_header"><h3>Folsom</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Folsom" %>
          <%= render 'coach_container', :coach => coach  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif params[:name] == "Dance" %>
  <div>
    <% @coaches.each do |coach| %>
      <%= render 'coach_container', :coach => coach  %>
    <% end %>
  </div>

  <div>
    <div id="coach_section_header"><h3>Granite Bay</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Granite Bay" %>
            <%= render 'coach_container', :coach => coach  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <div>
    <div id="coach_section_header" style="margin-top: 30px"><h3>Folsom</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Folsom" %>
            <%= render 'coach_container', :coach => coach  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <div id="coach_section_header" style="margin-top: 30px"><h3>Sacramento</h3></div>
    <div>
      <% @coaches.each do |coach| %>
        <% coach.locations.each do |location| %>
          <% if location.name == "Sacramento" %>
            <%= render 'coach_container', :coach => coach  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
