<div id="form">
  <%= form_for @survey do |f| %>
    <% if @survey.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
        <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" style="margin-top: 40px;">
      <%= f.label :name %>: 
      <%= f.text_field :name, style: "margin-right: 20px" %>
      <%= f.check_box :live %>
      <%= f.label :live, style: "margin-right: 20px" %> 
      <%= f.check_box :scoreable %>
      <%= f.label :scoreable, style: "margin-right: 20px" %> 
      <span id="image_result_box">
        <%= f.check_box :image_result %>
        <%= f.label :image_result %>
      </span>
      <% if @survey.image_url == nil %>
        <div id="image_result_uploader" style="display:none; border: dashed 1px #555; padding: 6px; float:right; margin: -8px 20px;" class="image_result_input">
          <b><%= f.label :image, "Result Image:" %></b>
             <%= f.file_field :image %><br>
        </div>
      <% else %>
        <div id="image_result_uploader" style="display:none; border: dashed 1px #555; padding: 6px; float:right; margin: -8px 20px 15px 20px; line-height: 22px;" class="image_result_input">
          <b><%= f.label :image, "Current Image:" %></b>( <%= File.basename(@survey.image.to_s) %> )<br>
          <b><%= f.label :image, "Choose New Image: " %></b><%= f.file_field :image %><br>
          <%= f.check_box :remove_image %> Remove Image
        </div>
      <% end %>        
      <br><br>
    </div>

    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', f: builder %>
      
    <% end %>

  <%= link_to_add_fields "Add Question", f, :questions %>

    <div class="actions" style="margin: 0 auto; width: 128px">
      <%= f.submit %>
    </div>
  <% end %>
</div>