<h1><%= @survey.name %></h1>

<%= form_for @survey do |f| %>
  <div style="margin: 10px; padding: 0px 20px; border: dashed 1px #444">
    <ol class="questions">
      <% question_count = 0 %>
      <% @survey.questions.each do |question| %>
        <% question_count = question_count + 1 %>
        <li>
          <%= question.content %>

          <ol class="answers">
            <%# question.answers.each do |answer| %>
              <!-- <li><%#= answer.content %></li> -->
            <%# end %>
            
          <% question.answers.each do |answer| %>
            <div style="width: 250px;">
              <%= f.label :"#{answer}" do %>
                <%= f.radio_button :name, answer, value: "#{answer.weight}", style: "margin: 5px; font-weight: normal", class: "answers", name: "question_#{question_count}" %> <%= answer.content %>
                <div style="float:right">
                  (weight: <%= answer.weight %>)
                </div>
                <br>
              <% end %>
            </div>
          <% end %>

          </ol>

          

        </li>
      <% end %>
    </ol>
  </div>

  <% end %>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back to Surveys', surveys_path %>