<% text_default = "" #"locals: {link:, image:, color:, text:, text_color:, show_button:}" %>
<% color_default = "333333" %>
<% text_color_default = "fefefe" %>
<% link_default = "javascript:void(0);" %>
<% show_button_default = false %>
<% data_toggle_default = "" %>
<% font_size_default = "40" %>
<% text_border_color_default = "555" %>
<% text_border_size_default = "1" %>


<% if defined? given_bubble #check if a bubble_content object was passed in %>
    <% bubble = given_bubble %>
<% elsif defined? @bubble_content #check if we are in the "show" view for bubble_content %>
    <% bubble = @bubble_content %>
<% end %>
<% if bubble.nil? #check to see if it is a full custom bubble and use passed in locals or defaults %>
    <% bubble = BubbleContent.create() %>
    <% bubble.text = (defined? text) ? text : text_default %>
    <%# bubble.font_size = (defined? font_size) ? font_size : font_size_default %>
    <% bubble.color = (defined? color) ? color : color_default %>
    <% bubble.text_color = (defined? text_color) ? text_color : text_color_default %>
    <% bubble.link = (defined? link) ? link : link_default %>
    <% bubble.image = (defined? image) ? image : "" %>
    <% bubble.show_button = (defined? show_button) ? show_button : show_button_default %>
<% end %>

<% if bubble.text.blank? %>
    <% text = text_default %>
<% else %>
    <% text = bubble.text %>
<% end %>

<% if !defined? font_size %>
    <% font_size = font_size_default %>
<% end %>
<% if !defined? text_border_color %>
    <% text_border_color = text_border_color_default %>
<% end %>
<% if !defined? text_border_size %>
    <% text_border_size = text_border_size_default %>
<% end %>

<% if bubble.color.blank? %>
    <% color = color_default.gsub('#', '') %>
<% else %>
    <% color = bubble.color.gsub('#', '') %>
<% end %>

<%# if there is no image, set the background color %>
<% if !bubble.image.blank? %>
    <% image = bubble.image %>
<% end %>

<% if bubble.text_color.blank? %>
    <% text_color = text_color_default.gsub('#', '') %>
<% else %>
    <% text_color = bubble.text_color.gsub('#', '') %>
<% end %>

<% link = link_default %>
<% data_toggle = data_toggle_default %>
<% if !bubble.link.blank? %>
    <% if bubble.link.include? "modal" %>
        <% data_toggle = bubble.link %>
    <% else %>
        <% link = bubble.link %>
    <% end %>
<% end %>


<a href="<%= link %>" data-toggle="<%= data_toggle %>" id="bubble_container" style="background-color: #<%= color %>; background-image: url(<%= image %>);">
    <div id="bubble_text_container" class="resize" data-max-font-size="<%= font_size %>" style="color: #<%= text_color %>; filter: drop-shadow(0px 0px 4px #<%= darken_color(color, 0.3) %>);">
        <div id="bubble_text">
            <%= text %>
        </div>
    </div>
</a>
