<%= form_for(@bubble_content) do |f| %>
  <% if @bubble_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bubble_content.errors.count, "error") %> prohibited this bubble_content from being saved:</h2>

      <ul>
      <% @bubble_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-center">
    <div class="columns large-9 small-11">
      <div class="row">
        <div class="columns large-6 ">
          <%= render partial: 'helper_fields/text', locals: {form: f, field: :text} %>
        </div>
        <div class="columns large-6 ">
          <%= render partial: 'helper_fields/number', locals: {form: f, field: :sort_order, label: "Position ID"} %>
        </div>
      </div>
      <div class="row">
        <div class="columns large-4 ">
          <%= render partial: 'helper_fields/color_picker', locals: {form: f, field: :color, label: "Background Color"} %>
        </div>
        <div class="columns large-4 ">
          <%= render partial: 'helper_fields/color_picker', locals: {form: f, field: :text_color, label: "Text Color"} %>
        </div>
        <div class="columns large-4 ">
          <%= render partial: 'helper_fields/switch', locals: {form: f, field: :show_button, question: "Show Button Under Bubble"} %>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          <%= render partial: 'helper_fields/text', locals: {form: f, field: :link} %>
        </div>
      </div>
    </div>
    
    <div class="columns large-3 small-11">
      <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image, image: @bubble_content.image} %>
    </div>
  </div>
  
  <div class="row align-center" style="margin-bottom: 100px; margin-top: 50px;">
    <div class="columns small-8">
      <%= f.submit class: "button expanded" %>
    </div>
  </div>


<% end %>
