<div id="form">
  <%= form_for(@level) do |f| %>
    <% if @level.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>
        <ul>
          <% @level.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div style="float:left; width: 100%; line-height: 35px;">
      <%= f.label :classtype_id, "Class Type" %>: 
      <%= f.collection_select :classtype_id, Classtype.where(:id => 1..9), :id, :name, :prompt => "Select a Class Type" %><br>

      <%= f.label :levelname, "Level" %>: 
      <%= f.text_field :levelname %><br>

      <%= f.label :jack_rabbit_name, "Jackrabbit Name" %>: 
      <%= f.text_field :jack_rabbit_name %><br>

      <%= f.label :length %>:
      <%= f.number_field :length %><br>

      <%= f.label :price %>:
      <%= f.number_field :price %><br>

      <%= f.label :age %>:
      <%= f.text_field :age %><br>

      <%= f.label :gender %>:
      <%= f.select :gender, ['Girls', 'Boys', 'Both'], :prompt => "Select a Gender" %><br>

      <%= f.label :order %>:
      <%= f.number_field :sort_order %><br>

      <%= f.label :color %>:
      <%= f.text_field :color %><br>

      <%= f.label :description %>:<br>
      <%= f.text_area :description %><br>

      <%= f.label :short_description %>:<br>
      <%= f.text_area :short_description %><br>

      <%= f.label :video_url %>:
      <%= f.text_field :video_url %><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>