<h1>Listing levels</h1>

<h2 style="font-size: 20px;"><%= link_to 'New Level', new_level_path %></h2>

<br>

<table style="margin-left: 50px; margin-bottom: 50px">
  <tr>
    <th>Order</th>
    <th>Level</th>
    <th>Length</th>
    <th>Price</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Activity</th>
    <th>JR</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels.each do |level| %>
  <% if level.color.nil? %>
    <% color = "none" %>
  <% else %>
    <% color = level.color %>
  <% end %>
  <tr style="background-color: <%= color %>;">
    <td><%= level.sort_order %></td>
    <td><%= level.levelname %></td>
    <td><%= level.length %> mins</td>
    <td><%= level.price %> $</td>
    <td><%= level.age %></td>
    <td><%= level.gender %></td>
    <td><%= level.classtype.name %></td>    
    <td style="background-color: white;"><% if !level.jack_rabbit_name.nil? %> <span style="color: green;">&#x2714;</span> <% else %> <span style="color: red;">&#x2717;</span> <% end %></td>
    <td style="border: 0; padding: 2px; padding-left: 10px; background-color: white;"><%= link_to 'Show', level %></td>
    <td style="border: 0; padding: 2px; background-color: white;"><%= link_to 'Edit', edit_level_path(level) %></td>
    <% if can? :destroy, Level %>
        <td style="border: 0; padding: 2px; background-color: white;"><%= link_to 'Destroy', level, confirm: 'If you delete this Level, all Scheduled schedules that use this level will also be deleted. Are you sure you want to delete it?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

