<p>
  <b>Schedule Type:</b>
  <%= @level.classtype.name %>
</p>

<p>
  <b>Level:</b>
  <%= @level.levelname %>
</p>

<p>
  <b>Jackrabbit Name:</b>
  <%= @level.jack_rabbit_name %>
</p>

<p>
  <b>Length:</b>
  <%= @level.length %>
</p>

<p>
  <b>Price:</b>
  <%= @level.price %>
</p>

<p>
  <b>Age:</b>
  <%= @level.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @level.gender %>
</p>

<p>
  <b>Color:</b>
  <div style="width: 50px; height: 25px; background-color: <%= @level.color %>;"></div>
</p>


<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
