<%= form_for(@website_pdf) do |f| %>
  <% if @website_pdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website_pdf.errors.count, "error") %> prohibited this website_pdf from being saved:</h2>

      <ul>
      <% @website_pdf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    
  <div class="row align-center">
    <div class="columns large-4 small-10">
      <%= render partial: 'helper_fields/select', locals: {form: f, field: :file_name, options: WebsitePdf::FILENAMES, label: "PDF Being Updated", prompt: "Select a File Name"} %>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns large-4 small-10">
      <%= render partial: 'helper_fields/file_uploader', locals: {form: f, field: :file, label: "Choose PDF"} %>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns small-6 large-2" style="margin-top: 50px;">
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>


<% end %>
