<%= form_for(@website_pdf) do |f| %>
  <% if @website_pdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website_pdf.errors.count, "error") %> prohibited this website_pdf from being saved:</h2>

      <ul>
      <% @website_pdf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    
  <div class="row align-center">
    <div class="columns large-4 small-10">
      <div class="input-group">
        <%= f.label :file_name, "PDF Being Updated: ", class: "input-group-label" %>
        <%= f.select :file_name, WebsitePdf::FILENAMES, :prompt => "Select a File Name", class: "input-group-field" %>
      </div>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns large-4 small-10">
      <div class="input-group">
        <%= f.label :file, "Choose PDF", class: "button expanded success" %>
        <%= f.file_field :file, class: "show-for-sr" %>
      </div>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns small-6 large-2" style="margin-top: 50px;">
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>


<% end %>
