<%= form_for(@recital_ad) do |f| %>
  <% if @recital_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recital_ad.errors.count, "error") %> prohibited this recital_ad from being saved:</h2>

      <ul>
      <% @recital_ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :recital_ad_type_id %>

  <div style="margin-left: 40px;">
    <div class="field">
      <%= f.label :firstname, "First Name" %><br />
      <%= f.text_field :firstname %>
    </div>

    <div class="field">
      <%= f.label :lastname, "Last Name" %><br />
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
       <%= f.label :email %><br />
       <%= f.email_field :email %>
    </div>



    <%= f.fields_for :properties do |builder| %>
      <% @recital_ad.recital_ad_type.fields.each do |field| %>
        <%= render "recital_ads/fields/#{field.field_type}", field: field, f: builder %>
      <% end %>
    <% end %>

    <br />
    <br />
    <div class="actions">
      <%= f.submit "  Submit Order  " %>
    </div>

  </div>
<% end %>