<div class="row" id="payment_info">
  <div id="stripe_error" style="color: red; border: solid 2px red; display:none; width: 300px; padding: 5px; text-align: center">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="column small-12">
    <h2>Payment Information</h2>
    
    <div class="row">
      <div class="column small-12">
        <div class=" input-group">
          <%= label_tag :card_number, "Credit Card Number", class: "input-group-label" %>
          <%= text_field_tag :card_number, nil, name: nil, class: "input-group-field" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="column large-4 ">
        <div class=" input-group">
          <%= label_tag :card_code, "Security Code (CVV)", class: "input-group-label" %>
          <%= text_field_tag :card_code, nil, name: nil, class: "input-group-field" %>
        </div>
      </div>
      <div class="column large-4 ">
        <div class="input-group">
          <%= label_tag :card_month, "Exp. Month", class: "input-group-label" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "input-group-field"} %>
        </div>
      </div>
      <div class="column large-4 ">
        <div class="input-group">
          <%= label_tag :card_month, "Exp. Year", class: "input-group-label" %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+12}, {name: nil, id: "card_year", class: "input-group-field"} %>
        </div>
      </div>
    </div>
    
    <div class="row align-justify" style="margin-top: 50px; margin-bottom: 100px;">
      <div class="column small-4">
        <button type="button" id="back_button" class="button expanded">Back</button>
      </div>
      <div class="column small-4">
        <%= f.submit "Submit Order", confirm: 'Once your payment has gone through successfully you will not be able to edit your order. Please check and make sure everything is accurate, especially your Message. Would you like to continue submitting payment?', class: "button expanded" %>
      </div>
    </div>
    
    
  </div>
</div>


