<h1>Recital Ad Orders</h1>
<h2><%= link_to "New Order", recital_ads_ad_select_path %></h2>
<div style="width: 750px; margin:0 auto;">
  <table>
    <tr>
      <th>Ad Type</th>
      <th>Name</th>
      <th>Date Submitted</th>
      <th>Price</th>
      <th></th>
      <!-- <th></th> -->
    </tr>

    <% @recital_ads.each do |ad| %>
      <tr>
        <td style="width: 100px;"><%= ad.recital_ad_type.name %></td>
        <td style="width: 360px;"><%= link_to ad.firstname+" "+ad.lastname, ad %></td>
        <td style="width: 150px;"><%= ad.created_at.strftime("%b %e, %Y") %></td>
        <td style="width: 100px;"><%= number_to_currency(ad.recital_ad_type.price) %></td>
        <td style="padding: 0px 3px 0px 3px; border: 0"><%= link_to 'Edit', edit_recital_ad_path(ad) %></td>
        <!-- <td style="padding: 0px 3px; border: 0;"><%#= link_to 'Destroy', ad, method: :delete %></td> -->
      </tr> 
    <% end %>
  </table>
  <table>
    <tr>
      <td style="width: 396px;">Total Orders: <%= @recital_ads.count %></td>
      <td style="width: 270px;">Total Cost: <b><%= number_to_currency(RecitalAd.joins(:recital_ad_type).sum("price")) %></b></td>
      <td style="padding: 0px 3px 0px 3px; border: 0"></td>
    </tr>
  </table>
</div>

<br>


