<%= stylesheet_link_tag "FileSpecificCSS/recital_ads.css", :media => "all" %>
<%= javascript_include_tag "https://js.stripe.com/v1/", "recital_ad/loader" %>

<script>
</script>
    
    
<h1>New Order</h1>
<h3><%= link_to 'Return to Ad Select Page', recital_ads_ad_select_path %></h4>
<%= Rails.configuration.stripe[:api_key] %>
<div class="row align-center">
  <div class="column large-8">
    <%= form_for @recital_ad, :validate => true, :html => {:multipart => true} do |f| %>
  
      <%= f.hidden_field :recital_ad_type_id %>
      <%#= f.hidden_field :stripe_card_token %>
    
      <%= render 'personal_info_step', :f => f %>
    
      <!--<button type="button" id="continue_button" class="button expanded" disabled="disabled" >Continue</button>-->
      <% console %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key=<%= Rails.configuration.stripe[:publishable_key] %>
          data-description="Payment for $<%= RecitalAdType.find_by_id(params[:recital_ad_type_id]).price %> Recital Ad"
          data-amount=<%= RecitalAdType.find_by_id(params[:recital_ad_type_id]).price*100 %>
          data-locale="auto"</script>
      </script>
          
    <% end %>
  </div>
</div>



