<%= form_for(@kids_night_out) do |f| %>
  <% if @kids_night_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kids_night_out.errors.count, "error") %> prohibited this kids_night_out from being saved:</h2>

      <ul>
      <% @kids_night_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row align-center">
    <div class="column small-8">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :title, required: true} %>
    </div>
    <div class="column small-4">
      <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image, image: @kids_night_out.image} %>
    </div>
  </div> 
  
  <div class="row align-center">
    <div class="column small-12">
      <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :details} %>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="column small-6 large-3">
      <%= render partial: 'helper_fields/date', locals: {form: f, field: :date} %>
    </div>
    <div class="column small-6 large-3">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :gb_time, label: "GB Time"} %>
    </div>
    <div class="column small-6 large-3">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :fol_time, label: "Fol Time"} %>
    </div>
    <div class="column small-6 large-3">
      <%= render partial: 'helper_fields/time', locals: {form: f, field: :sac_time, label: "Sac Time"} %>
    </div>
  </div>
   
 
  
  <div class="row align-center">
    <div class="columns small-6">
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>
<% end %>
