<%= form_for(@kids_night_out) do |f| %>
  <% if @kids_night_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kids_night_out.errors.count, "error") %> prohibited this kids_night_out from being saved:</h2>

      <ul>
      <% @kids_night_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="column small-6">
      <div class="input-group">
        <%= f.label :title, "Title", class: "input-group-label" %>
        <%= f.text_field :title, class: "input-group-field" %>  
      </div>
    </div>
    <div class="column small-4">
      <div class="">
        <%= f.label :image, "Upload Image", class: "button expanded success" %>
        <%= f.file_field :image, class: "show-for-sr" %>
      </div>
    </div>
  </div> 
  
  <div class="row">
    <div class="column small-10">
      <div class="input-group">
        <%= f.label :details, class: "input-group-label" %>
        <%= f.text_area :details, class: "input-group-text" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="column small-10">
      <div class="input-group">
        <%= f.label :date, class: "input-group-label" %>
        <%= f.date_select :date, id: "kids_night_outs", class: "show-for-sr" %>
      </div>
    </div>
  </div>   
  

  
  <div class="row">
    <div class="column small-3">
      <div class="input-group">
        <%= f.label :sac_time, "Sac Time", class: "input-group-label", id: "kids_night_out_sacramento_time" %>
        <%= f.time_select :sac_time, type: "time", class: "input-group-field" %>
      </div>
    </div>
    <div class="column small-3">
      <div class="inout-group">
        <%= f.label :fol_time, "Fol Time", class: "input-group-label", id: "kids-night_out_folsom_time" %>
        <%= f.time_select :fol_time, type: "time", class: "input-group-field" %>
      </div>
    </div>
    <div class="column small-3">
      <div class="inout-group">
        <%= f.label :gb_time, "GB Time", class: "input-group-label", id: "kids_night_out_Granite_Bay_time"%>
        <%= f.time_select :gb_time, type: "time", class: "input-group-field" %>
      </div>
    </div>
  </div>
   
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
