<div id="form">
  <%= form_for(@absent) do |f| %>
    <% if @absent.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@absent.errors.count, "error") %> prohibited this absent from being saved:</h2>
        <ul>
        <% @absent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div style="float: left; width: 100%; line-height: 34px; margin:0;">
      <div class="field" style="float: left; width: 90px; margin:0 15px 0 0; text-align:right;">
        <%= f.label :student_name, "Student Name:" %><br>
        <%= f.label :location, "Location:" %><br>
      </div>

      <div class="field" style="float: left; margin:0;">
        <%= f.text_field :student_name %><br>
        <%= f.select :location, Absent::LOCATIONS, :prompt => "Select a Location" %><br>
      </div>
    </div>

    <div class="field" style="float:left; width: 100%; line-height: 34px; margin:0;">
      <div style="float:left; width: 90px; text-align: right; margin: 0 15px 0 0;">
        <%= f.label :classtype_id, "Class Type:" %>
      </div>
      <%= f.collection_select :classtype_id, Classtype.where(:id => 1..4), :id, :name, :prompt => "Select a Class Type" %>
    </div> 

    <div class="field" style="float:left; width: auto; line-height: 34px; margin:0;" id="level_select">
      <div style="float:left; width: 90px; text-align: right; margin: 0 15px 0 0;">
        <%= f.label :level_id, "Level:" %>
      </div>
      <%= f.grouped_collection_select :level_id, Classtype.all, :levels, :name, :id, :levelname %>
    </div> 

    <div style="float: left; width: 100%; line-height: 34px; margin:0;">
      <div class="field" style="float: left; width: 90px; text-align: right; margin: 0 15px 0 0;">
        <%= f.label :day, "Day:" %><br>
        <%= f.label :time, "Time:" %><br>
      </div>

      <div class="field" style="float: left;">
        <%= f.select :day, Absent::DAYS, :prompt => "Select a Day" %><br>
        <%= f.time_select :time, {:minute_step => 5, :ampm => true, :include_blank => false} %><br>
      </div>
    </div>
    <div class="actions" style="width: 100%; float: left; text-align:center;">
      <%= f.submit "Submit Absence" %>
    </div>
  <% end %>
</div>