<div id="form">
  <%= form_for(@absent) do |f| %>
    <% if @absent.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@absent.errors.count, "error") %> prohibited this absent from being saved:</h2>
        <ul>
        <% @absent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :first_name, label: "First Name", required: true} %>
      </div>
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :last_name, label: "Last Name", required: true} %>
      </div>
    </div>
   
    <div class="row">
      <div class="columns small-12">
        <%= render partial: 'helper_fields/select', locals: {form: f, field: :location, fieldname: "Location", options: Absent::LOCATIONS, prompt: "Select a Location", required: true} %>
      </div>
    </div>
    
    <div class="row">
      <div class="columns large-6 small-12">
        <%#= render partial: 'helper_fields/collection_select', locals: {form: f, field: :classtype_id, fieldname: "Class Type", collection: Classtype.where(:id => 1..5), id: :id, name: :name, prompt: "Select a Class Type"} %>
        <div class=" input-group">
          <%= f.label :classtype_id, "Class Type", class: "input-group-label" %>
          <%= f.collection_select :classtype_id, Classtype.where(:id => 1..5), :id, :name, prompt: "Select a Class Type", id: "classtype_select", class: "input-group-field" %>
        </div>
      </div>
      <div class="columns large-6 small-12">
        <div class=" input-group">
          <%= f.label :level_id, "Level", class: "input-group-label" %>
          <%= f.grouped_collection_select :level_id, Classtype.all, :levels, :name, :id, :levelname, class: "input-group-field" %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/date', locals: {form: f, field: :date, required: true} %>
      </div>
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/time', locals: {form: f, field: :time, required: true} %>
      </div>
    </div>

    <div class="actions">
      <%#= f.submit "Submit Absence", class: "button expanded" %>
      <%= invisible_recaptcha_tags text: 'Submit Absence', class: "button expanded" %>
    </div>
  <% end %>
</div>