<h1>Listing absents</h1>

<table>
  <tr>
    <th>Student Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Day</th>
    <th>Time</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @absents.each do |absent| %>
  <tr>
    <td><%= absent.first_name + " " + absent.last_name %></td>
    <td><%= absent.location %></td>
    <td><%= absent.date.strftime("%b %e, %Y") %></td>
    <td><%= absent.date.strftime("%A") %></td>
    <td><%= absent.time.strftime("%l:%M %p") %></td>
    <td><%= absent.level_id %></td>
    <td><%= link_to 'Show', absent %></td>
    <td><%= link_to 'Edit', edit_absent_path(absent) %></td>
    <td><%= link_to 'Destroy', absent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Absent', new_absent_path %>
