<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tricks" %></title>

    <%= stylesheet_link_tag    'application' %><%# , media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %> <%# , 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%#= javascript_include_tag "application"%>
    <%#= csrf_meta_tags %>

    <%= analytics_init if Rails.env.production? %>

    <% if @needs_stripe == true %>
      <%= javascript_include_tag "https://js.stripe.com/v1/", "recital_ad/loader", "recital_ad/jquery.validate" %>
      <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <% end %>

    <script>
      function iecontent() {      
        if (Function('/*@cc_on return document.documentMode===10@*/')()){
          var div = document.getElementById("ieDiv");
          div.style.display = "block";
        }
      }
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
            func();
          }
        }
      }
      addLoadEvent(iecontent);
    </script>
    <%= yield :iescript %>

    <%= yield :jsforpage %>

    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tricks Gymnastics, Dance, Swim, Granite Bay, Folsom, Roseville, Sacramento, California, Gymnastics, Fun, Classes, Tumbling, Swimming, Fitness, Birthday, Cheer, Night Out, Parents, Date Night"/>
    <meta name="description" content="Gymnastics is perhaps one of the most comprehensive lifestyle exercise programs available to children, incorporating strength, flexibility, speed, balance, coordination, power and discipline."/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <style type="text/css">
      <%#= yield :pagestyle %>
    </style>
  </head>

<!--   <body style="background-image: url(/assets/structure/textile.png);"> -->
  <body>


    <% if current_user %>
      <div class="title-bar" data-responsive-toggle="logged-in-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar logged-in">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Staff Menu</li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
            <li><%= link_to "Users", users_path %></li>
            
            <li><%= link_to "Promos", promo_slides_path %></li>

            <li><%= link_to "Comments", comments_path %></li>

            <li><%= link_to "Kid Quotes", kid_quotes_path %></li>

            <li class="has-submenu"><%= link_to "Schedules", 'javascript:void();' %>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to "View All", schedules_choose_path %></li>
                <li><%= link_to "List of Levels", levels_path %></li>
              </ul>
            </li>

            <li class="has-submenu"><%= link_to "Staff", 'javascript:void();' %>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to "All Coaches", coaches_path %></li>
                <li><%= link_to "Past Employees", {:controller => "coaches", :action => "past_employees"} %></li>
              </ul>
            </li>   

            <li class="has-submenu">
              <%= link_to "Recital Ads", 'javascript:void();' %>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to "View Orders", recital_ads_path %></li>
                <li><%= link_to "Ad Types", recital_ad_types_path %></li>
              </ul>
            </li>

            <li class="has-submenu">
              <%= link_to "Surveys", 'javascript:void();' %>
              <ul class="submenu menu vertical" data-submenu>
                <li><%= link_to "View All Surveys", surveys_path %></li>
                <li><%= link_to "Results", choose_survey_path %></li>
              </ul>
            </li>
            <li style="padding-left:10px;"><%= link_to "Logout (" + current_user.email + ")", logout_path, class: "button alert expand" %> </li>
          </ul>
        </div>
      </div>
    <% end %>





     <!-- Small Navigation -->
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <%= link_to image_tag('tricks-tiny.png'), root_path, class: "logo-small show-for-small-only" %>
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <!-- Medium-Up Navigation -->
    <div data-sticky-container style="z-index: 10;">
      <div class="top-bar" id="main-menu" data-sticky data-options="marginTop:0;" style="width: 100%; height: 50px;">
        <div class="logo-wrapper hide-for-small-only">
          <div class="logo">
            <%= link_to image_tag('tricks-header.png'), root_path %>
          </div>
        </div>
  
        <!-- Left Nav Section -->
        <div class="top-bar-left">
          <ul class="menu" data-responsive-menu="drilldown medium-dropdown"> 
            
            <li class="has-submenu">
              <%= link_to "Programs", 'javascript:void();', class: 'main-menu-item' %></a>
              <ul class="menu vertical">
                <li class="has-submenu">
                  <%= link_to "Gymnastics", "javascript:void();" %>
                  <ul class="menu vertical">
                    <li><%= link_to "Preschool (0-5)", tumblebunnies_path %></li>
                    <li><%= link_to "School Age (6-18)", gymnastics_path %></li>
                    <li><%= link_to "Compteitive", competitive_path %></li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <%= link_to "Dance", "javascript:void();" %>
                  <ul class="menu vertical">
                    <li><%= link_to "Preschool (0-5)", dance_path %></li>
                    <li><%= link_to "School Age (6-18)", dance_path %></li>
                  </ul>
                </li>
                <li><%= link_to "TAG", tag_path %></li>
                <li><%= link_to "Swim", swim_path %></li>
                <li><%= link_to "CampUs", campus_path %></li>
              </ul>
            </li>
            <li class="has-submenu">
              <%= link_to "Events", 'javascript:void();', class: 'main-menu-item' %></a>
              <ul class="menu vertical">
                <li><%= link_to "Gym Birthday Parties", birthdays_path %></li>
                <li><%= link_to "Dance Birthday Parties", princess_party_path %></li>
                <li><%= link_to "Kids Night Out", datenights_path %></li>
                <li><%= link_to "Camps", camps_path %></li>
              </ul>
            </li>
            <li class="has-submenu">
              <%= link_to "Forms", 'javascript:void();', class: 'main-menu-item' %></a>
              <ul class="menu vertical">
                <li><%= link_to "Notice of Absence", new_absent_path %></li>
                <li><%= link_to "Notice of Disconinuation", new_discontinue_notice_path %></li>
                <li><%= link_to "Recital Ad", new_recital_ad_path %></li>
                <li><%= link_to "Surveys", surveys_path %></li>
                <li><%= link_to "Website PDFs", website_pdfs_path %></li>
                <li><%= link_to "Where in the World", worlds_path %></li>
              </ul>
            </li>
          </ul>
        </div>
        
        <!-- Right Nav Section -->
        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="has-submenu">
              <%= link_to "About Us", 'javascript:void();', class: 'main-menu-item' %></a>
              <ul class="menu vertical">
                <li><%= link_to "Our Story", '#' %></li>
                <li><%= link_to "Our Facilities", locations_path %></li>
                <li class="has-submenu">
                  <%= link_to "Our Staff", "javascript:void()" %>
                  <ul class="menu vertical">
                    <li><%= link_to "Granite Bay", {:controller => "coaches", :action => "loc", :name => "Granite Bay"} %></li>
                    <li><%= link_to "Folsom", {:controller => "coaches", :action => "loc", :name => "Folsom"} %></li>
                    <li><%= link_to "Sacramento", {:controller => "coaches", :action => "loc", :name => "Sacramento"} %></li>
                  </ul>
                </li>
                <li><%= link_to "Testimonials", comments_path %></li>
              </ul>
            </li>
  
            <li><%= link_to "FAQ", '#', class: 'main-menu-item' %></li>
            <li><%= link_to "Blog", 'http://tricksgym.blogspot.com/', class: 'main-menu-item' %></li>
            <li><%= link_to "Contact", locations_path, class: 'main-menu-item' %></li>
  
          </ul>
        </div>
      </div>
    </div>
    
    <% if content_for?(:header_image) %>
    <div id="header-secondary" class="row" style=" z-index: 5;">
      <div style="height: 400px; overflow: hidden; width: 100%; position: absolute; left: 0;">
        <image width="3000" height="1000" src="<%= yield(:header_image) %>"></image>
      </div>
    </div>
    
    <div class="row" style="padding-top: 420px;">
    <% else %>
    <div class="row" style="padding-top: 80px;">
    <% end %>    
    
      <div class="columns small-12" id="main-container">
        
      <% if flash.to_a.length > 0 %>
        <div class="row">
          <% flash.each do |name, msg| %>

            <% if name.to_s == "alert" %>
              <div class="callout warning columns small-12" data-closable>   
                <%= msg %>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>

            <% if name.to_s == "notice" %>
              <div class="callout success columns small-12" data-closable>   
                <%= msg %>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>

            <% if name.to_s == "error" %>
              <div class="callout alert columns small-12" data-closable>   
                <%= msg %>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      
      
        <% if content_for?(:side_circles) %>
          <div class="row align-justify">
            <div class="columns small-8">
              <%= yield %>
            </div>  
            <div class="columns medium-3">
              <%= yield(:side_circles) %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="columns small-12">
              <%= yield %>
            </div>
          </div>
        <% end %>
        
      </div>
    </div>




  <% if !content_for?(:no_margin_footer) %>
    <div id="footer" style="margin-top: 200px;">
  <% else %>
    <div id="footer">
  <% end %>
      <div class="row" id="footer-content">
        <div class="columns small-12">
          <% if !current_user %>
            <%= link_to "Staff Login", login_path, class: "button secondary expand", style: "width: 100%; margin-top: 20px;" %>
          <% end %>
        </div>
      </div>
      <image height=40 src="http://tvuk222fjqo33d6py1a3k15d.wpengine.netdna-cdn.com/wp-content/themes/goldfish-swim-school/assets/images/white-footer-overlay.png"></image>
    </div>

  </body>
</html>