<!DOCTYPE html>
<html>
<head>
  <title>Tricks App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>

  <%= analytics_init if Rails.env.production? %>

  <% if @needs_stripe == true %>
  	<%= javascript_include_tag "https://js.stripe.com/v1/", "recital_ad/loader", "recital_ad/jquery.validate" %>
  	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <% end %>

</head>
<body>
  <div id="background_center">
  	<div id="headclear"></div>
  	<div id="holdclear">
  		<div id="user_header">
  			<div id="tricks_tiny"><%= link_to image_tag('/assets/tricks-tiny.png'), root_path %></div>
  			<div id="app_menu">
          <ul>
            <li><%= link_to "Home", database_path %>
              <% if can? :manage, User %>
                <ul class="app_submenu">
                  <li class="app_submenu_link"><%= link_to "Users", users_path %></li>
                  <li class="app_submenu_link"><%= link_to "Promos", promo_slides_path %></li>
                </ul>
              <% end %>
            </li>            

  					<li><%= link_to "Comments", comments_path %></li>

  					<% if can? :manage, KidQuote %>
  						<li><%= link_to "Kid Quotes", kid_quotes_path %></li>
  					<% end %>

            <li><%= link_to "Schedules", schedules_choose_path %>
            	<% if can? :manage, Level %>
  	            <ul class="app_submenu">
  	              <li class="app_submenu_link"><%= link_to "List of Levels", levels_path %></li>
  	            </ul>
  	          <% end %>
            </li>

            <li><%= link_to "Staff", coaches_path %>
            	<ul class="app_submenu">
                <li class="app_submenu_link">
                  <%= link_to "Granite Bay", {:controller => "coaches", :action => "loc", :name => "Granite Bay"} %>
                </li>
                <li class="app_submenu_link">
                  <%= link_to "Folsom", {:controller => "coaches", :action => "loc", :name => "Folsom"} %>
                </li>
                <li class="app_submenu_link">
                  <%= link_to "Sacramento", {:controller => "coaches", :action => "loc", :name => "Sacramento"} %>
                </li>
              </ul>
            </li>   

            <% if can? :manage, RecitalAd %>
  	          <li><%= link_to "Recital Ads", recital_ads_path %>
  	          	<% if can? :manage, RecitalAdType %>
  		            <ul class="app_submenu">
  		              <li class="app_submenu_link"><%= link_to "Ad Types", recital_ad_types_path %></li>
  		            </ul>
  		          <% end %>
  		        </li>
  		      <% end %>

            <li><%= link_to "Surveys", surveys_path %>
              <% if can? :manage, User %>
                <ul class="app_submenu">
                  <li class="app_submenu_link"><%= link_to "Results", survey_results_path %></li>
                </ul>
              <% end %>
            </li>

          </ul>
      	</div>		

      	
      	<div id="session_info">
  				<% if current_user %>
  					(<%= current_user.email %>)
  					<%= link_to "Log Out", logout_path %> 
  				<% else %>
  					<%= link_to "Login", login_path  %>
  				<% end %>
  			</div>

  			

  		</div>
  			<div id="flash_container">
  	    	<% flash.each do |name, msg| %>
  					<%= content_tag :div, msg, id: "flash_#{name}" %>
  				<% end %>
  			</div>
  		<div id="container">
  			

  			<%= yield %>

  		</div>
  	</div>
  	<div id="footclear"></div>
  </div>
</body>
</html>
