<!DOCTYPE html>
<html>
<head>
  <title>Tricks App</title>
  <%= stylesheet_link_tag  "static/schedules_formatted" , :media => "all" %>
  <%= stylesheet_link_tag  "static/print_friendly" , :media => "print" %>
  <%= javascript_include_tag "schedule/loader" %>
  <%= csrf_meta_tags %>

  <%= analytics_init if Rails.env.production? %>

</head>
<body>
  <div id="background_center">
    <div id="headclear"></div>
    <div id="holdclear">
  		<div id="container">
  			
  			<%= yield %>

  		</div>
  	</div>
    <div id="footclear"></div>
  </div>
</body>
</html>
