<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "fonts", "static/static", :media => "all" %>
  <%= javascript_include_tag   "static/loader" %>
  <%= csrf_meta_tags %>

  <%= analytics_init if Rails.env.production? %>

  <% if @tricksu_password == true %>
    <script language="javascript">
      var password; 
      var pass1="tricksu"; 
      password=prompt('Enter Password',''); 
      if (password==pass1); 
      else {window.location="http://www.tricksgym.com/"; }
    </script>
  <% end %>

  <script>
    function iecontent() {      
      if (Function('/*@cc_on return document.documentMode===10@*/')()){
        var div = document.getElementById("ieDiv");
        div.style.display = "block";
      }
    }
    function addLoadEvent(func) {
      var oldonload = window.onload;
      if (typeof window.onload != 'function') {
        window.onload = func;
      } else {
        window.onload = function() {
          if (oldonload) {
            oldonload();
          }
          func();
        }
      }
    }
    addLoadEvent(iecontent);
  </script>
  <%= yield :iescript %>

  <%= yield :jsforpage %>

	<meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Tricks Gymnastics, Dance, Swim, Granite Bay, Folsom, Roseville, Sacramento, California, Gymnastics, Fun, Classes, Tumbling, Swimming, Fitness, Birthday, Cheer, Night Out, Parents, Date Night"/>
	<meta name="description" content="Gymnastics is perhaps one of the most comprehensive lifestyle exercise programs available to children, incorporating strength, flexibility, speed, balance, coordination, power and discipline."/>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
	<style type="text/css">
	  <%= yield :pagestyle %>
	</style>

</head>
<body style="background-image: url(/assets/structure/textile.png)">

  <div id="ieDiv" style="width: 700px; margin: 0 auto; border-radius: 10px; margin-top: -20px; padding: 23px 10px 5px 10px; background-color: white; box-shadow: 0 0 10px #444; text-align:center; display: none;"> 
    This website is not optimized for Internet Explorer, some features may not work properly
  </div>
  <div id="background_center">
    <div id="page_wrapper">
      <div id="header">
        <div id="twenty_years">
          <%= image_tag('logos/25years.png', style: 'display: '+ @twenty_years, width: 100, height: 110, alt: 'Celebrating 25 Years') %>
        </div>
        <div id="right_buttons" style="display: <%= @jr_login%>;">  
          <a href="https://app.jackrabbitclass.com/portal/ppLogin.asp?id=313983">
            <%= image_tag('structure/login_button.png', width: 242, height: 32) %>
          </a>           
          <a href="absents/new">
            <%= image_tag('structure/absence_button_top.png', width: 250, height: 69, style: "margin: 5px 0 -20px 0") %>
          </a> 
        </div>
        <div id="tricks_logo">
          <a href="/">
            <img src="/assets/logos/tricks-header.png" alt="Tricks Logo" width="227" height="150" />
          </a>
        </div>
        <div id="menu">
          <ul id="menu_container">
            <li>
              <%= link_to "Home", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Home Page", root_path %>
                </li>
               <!--  <li class="submenu_link">
                  <%#= link_to "Hosting", underconstruction_path %>
                </li> -->
                <li class="submenu_link">
                  <%= link_to "Locations", locations_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Comments", site_comments_path %>
                </li>
              </ul>
            </li>
            <!-- <li>
              <%#= link_to "Register", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%#= link_to "Granite Bay", registration_path(location: 'GB', classtype: '') %>
                </li>
                <li class="submenu_link">
                  <%#= link_to "Folsom", registration_path(location: 'FOL', classtype: '') %>
                </li>
                <li class="submenu_link">
                  <%#= link_to "Sacramento", registration_path(location: 'SAC', classtype: '') %>
                </li>
              </ul>
            </li> -->
            <li>
              <%= link_to "Gymnastics", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Preschool", tumblebunnies_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "School Aged", gymnastics_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Competitive", competitive_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Teamgym", teamgym_path %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "TAG", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Classes", tag_path %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "Dance", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Classes", dance_path %>
                </li>
                <!-- <li class="submenu_link">
                  <%#= link_to "Dance Company", dance_company_index_path %>
                </li> -->
                <!-- <li class="submenu_link">
                  <%#= link_to "Dance Recital Survey", "http://www.tricksgym.com/survey/3/start" %>
                </li> -->
              </ul>
            </li>
            <li>
              <%= link_to "Swim", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Classes", swim_path %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "Class Schedules", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Granite Bay Gymnastics", schedules_gb_gym_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Granite Bay Tumblebunny", schedules_gb_tb_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Granite Bay TAG", schedules_gb_tag_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Granite Bay Dance", schedules_gb_dance_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Folsom Gymnastics", schedules_fol_gym_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Folsom Tumblebunny", schedules_fol_tb_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Folsom TAG", schedules_fol_tag_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Folsom Dance", schedules_fol_dance_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Folsom Swim", schedules_fol_swim_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Sacramento Gymnastics", schedules_sac_gym_path %>                
                </li>
                <li class="submenu_link">
                  <%= link_to "Sacramento Tumblebunny", schedules_sac_tb_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Sacramento TAG", schedules_sac_tag_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Sacramento Dance", schedules_sac_dance_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "See All", schedules_path %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "Events", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Birthday Parties", birthdays_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Princess Parties", princess_party_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Date Nights", datenights_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Camps", camps_path %>
                </li>
              </ul>
              
            </li>
            <li>
              <%= link_to "Staff", "Javascript:void()" %>
              <ul class="submenu">
                <li class="submenu_link">
                  <%= link_to "Granite Bay", {:controller => "coaches", :action => "loc", :name => "Granite Bay"} %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Folsom", {:controller => "coaches", :action => "loc", :name => "Folsom"} %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Sacramento", {:controller => "coaches", :action => "loc", :name => "Sacramento"} %>
                </li>
                <li class="submenu_link">
                  <%= link_to "Tricks Web App", database_path %>
                </li>
                <li class="submenu_link">
                  <%= link_to "TricksU", tricksu_path %>
                </li>
              </ul>
            </li>
          </ul>
      	</div>
  		</div>

  		<div id="page">
  			<%= yield %>
  		</div>

    	<div id="page_footer">
        <div id="menu_bottom">
          <ul>
            <li>
              <%= link_to "CampUs® Pre-Kinder Program", campus_path %>
            </li>
            <li>
              <a href="/assets/newsletter.pdf">
                Newsletter
              </a>
            </li>
            <li>
              <%= link_to "Employment", employment_path %>
            </li>
            <li>
              <%= link_to "Blog", "http://tricksgym.blogspot.com/" %>
            </li>
            <li>
              <%= link_to "Forms", forms_path %>
            </li>
            <li>
              <%= link_to "Contact Us", locations_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
